<div class="apply-ticket">
  <div class="background"></div>
  <div class="ticket">
    <h2>Inscrições abertas 2022/2023</h2>
    <h3>Inscrições abertas para:</h3>
    <ul>
      <li>salas de estudo</li>
      <li>explicações individuais</li>
    </ul>
    <div class="container">
      <a href="/inscricoes" target="_blank" class="button yellow"
        >Inscreva-se já!</a
      >
      <a href="/visita" target="_blank" class="button blue-border"
        >Visite-nos!</a
      >
    </div>
  </div>
</div>
