<div class="apply-ticket">
  <div class="background"></div>
  <div class="ticket">
    <h2 class="title">TITLE</h2>
    <p>Inscrições abertas para:</p>
    <ul>
      <li>salas de estudo</li>
      <li>explicações individuais</li>
    </ul>
  </div>
</div>
