<div class="gallery">
  <div class="items-container">
    <% for(var i=0; i<gallery.length; i++) { let item = gallery[i] %>
      <div class="image-item" style="background-image: url('<%= item.image_url %>')"></div>
      <%- include (item.component)  %>

      <!-- <div>aksjhdkajshd</div> -->
    <% } %>
  </div>
</div>