<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Na Ponta da Língua - Centro de Estudos - Inscrições</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap"
    rel="stylesheet"
  />
  <link async rel="stylesheet" href="styles/application_form.css" />
  <script async type="module" src="application_form.js"></script>
</head>
<html>
  <body>
    <main></main>
  </body>
</html>
