<section id="home">
  <svg
    class="typography"
    width="100%"
    height="100%"
    viewBox="0 0 300 22"
    style="fill-rule: evenodd; clip-rule: evenodd; fill: var(--color-a)"
  >
    <g id="cde">
      <path
        d="m 213.52765,15.134163 c -0.32031,1.209303 -1.19226,1.813954 -2.6194,1.813954 -1.83643,0 -2.75465,-0.994633 -2.75465,-2.980322 0,-1.978534 0.91822,-2.969589 2.75465,-2.969589 1.42714,0 2.29909,0.604651 2.6194,1.817531 h -1.22785 c -0.22421,-0.432916 -0.68688,-0.651163 -1.39511,-0.651163 -0.61571,0 -1.0499,0.16458 -1.29191,0.493739 -0.1993,0.268337 -0.30251,0.70483 -0.30251,1.31306 0,0.60465 0.0996,1.041144 0.30251,1.313058 0.24557,0.336315 0.6762,0.504473 1.29191,0.504473 0.69756,0 1.16378,-0.218247 1.39511,-0.651163 h 1.22785 z"
      />
      <path
        d="m 220.00498,16.951694 h -2.75465 c -1.84354,0 -2.76532,-0.991055 -2.76532,-2.969588 0,-1.989267 0.92178,-2.980322 2.76532,-2.980322 1.83643,0 2.75465,0.994633 2.75465,2.980322 v 0.583184 h -4.32771 c 0.11745,0.815742 0.64417,1.223614 1.57306,1.223614 h 2.75465 z m -1.19226,-3.552773 c -0.11744,-0.822898 -0.64061,-1.234347 -1.56239,-1.234347 -0.92889,0 -1.45206,0.411449 -1.57306,1.234347 z"
      />
      <path
        d="m 226.87379,16.951694 h -1.16022 v -2.969588 c 0,-0.604651 -0.0996,-1.041145 -0.30251,-1.313059 -0.24557,-0.336315 -0.67621,-0.504473 -1.29191,-0.504473 -0.6157,0 -1.0499,0.168158 -1.30258,0.504473 -0.1993,0.268336 -0.30252,0.70483 -0.30252,1.313059 v 2.969588 h -1.16022 v -2.969588 c 0,-1.989267 0.92177,-2.980322 2.76532,-2.980322 1.83643,0 2.75464,0.994633 2.75464,2.980322 z"
      />
      <path
        d="m 231.18727,16.962428 c -1.96811,0 -2.95395,-0.719141 -2.95395,-2.16458 V 8.6690463 h 1.16023 v 2.3434707 h 1.79372 v 1.166369 h -1.79372 v 2.618962 c 0,0.314848 0.0996,0.543828 0.30251,0.694097 0.27404,0.200358 0.7723,0.304114 1.49477,0.304114 v 1.166369 z"
      />
      <path
        d="m 235.30144,12.164574 c -0.72247,0 -1.21717,0.100179 -1.49477,0.304115 -0.1993,0.150268 -0.30251,0.382827 -0.30251,0.694097 v 3.788908 h -1.16023 v -3.788908 c 0,-1.441861 0.98584,-2.16458 2.95395,-2.16458 v 1.166368 z"
      />
      <path
        d="m 241.80012,13.982106 c 0,1.978533 -0.91821,2.969588 -2.75464,2.969588 -1.84355,0 -2.76532,-0.991055 -2.76532,-2.969588 0,-1.989267 0.92177,-2.980322 2.76532,-2.980322 1.83643,-0.0036 2.75464,0.991055 2.75464,2.980322 z m -1.16022,0 c 0,-0.604651 -0.0997,-1.041145 -0.30251,-1.313059 -0.24557,-0.336315 -0.67621,-0.504473 -1.29191,-0.504473 -0.6157,0 -1.04634,0.168158 -1.29191,0.504473 -0.1993,0.268336 -0.30251,0.70483 -0.30251,1.313059 0,0.604651 0.0996,1.041145 0.30251,1.313059 0.24557,0.329159 0.67621,0.493739 1.29191,0.493739 0.6157,0 1.04634,-0.16458 1.29191,-0.493739 0.20286,-0.271914 0.30251,-0.708408 0.30251,-1.313059 z"
      />
      <path
        d="m 252.203,13.982106 c 0,1.989267 -0.91821,2.980322 -2.75465,2.980322 -1.84354,0 -2.76532,-0.994633 -2.76532,-2.980322 0,-1.978533 0.92178,-2.969589 2.76532,-2.969589 h 1.59443 V 8.6690463 h 1.16022 z m -1.16022,0 v -1.80322 h -1.59443 c -0.6157,0 -1.04989,0.164579 -1.2919,0.493738 -0.1993,0.268337 -0.30252,0.704831 -0.30252,1.31306 0,0.604651 0.0997,1.041145 0.30252,1.313059 0.24557,0.336315 0.6762,0.504472 1.2919,0.504472 0.61571,0 1.04634,-0.168157 1.29191,-0.504472 0.20286,-0.275492 0.30252,-0.711986 0.30252,-1.316637 z"
      />
      <path
        d="m 259.01487,16.951694 h -2.75464 c -1.84355,0 -2.76532,-0.991055 -2.76532,-2.969588 0,-1.989267 0.92177,-2.980322 2.76532,-2.980322 1.83643,0 2.75464,0.994633 2.75464,2.980322 v 0.583184 h -4.32771 c 0.11745,0.815742 0.64418,1.223614 1.57307,1.223614 h 2.75464 z m -1.19225,-3.552773 c -0.11745,-0.822898 -0.64062,-1.234347 -1.56239,-1.234347 -0.92889,0 -1.45206,0.411449 -1.57307,1.234347 z"
      />
      <path
        d="m 269.47113,16.951694 h -2.75464 c -1.84355,0 -2.76532,-0.991055 -2.76532,-2.969588 0,-1.989267 0.92177,-2.980322 2.76532,-2.980322 1.83643,0 2.75464,0.994633 2.75464,2.980322 v 0.583184 h -4.32415 c 0.11745,0.815742 0.64417,1.223614 1.57307,1.223614 h 2.75464 v 1.16279 z m -1.19225,-3.552773 c -0.11745,-0.822898 -0.64062,-1.234347 -1.56239,-1.234347 -0.92889,0 -1.45206,0.411449 -1.57307,1.234347 z"
      />
      <path
        d="m 275.60324,12.779959 h -1.15666 c 0,-0.178891 -0.0534,-0.31127 -0.1566,-0.39356 -0.17795,-0.150268 -0.53385,-0.225402 -1.07125,-0.225402 -0.53385,0 -0.8933,0.07513 -1.07125,0.225402 -0.10321,0.08229 -0.1566,0.214669 -0.1566,0.39356 0,0.225403 0.0712,0.372093 0.21354,0.447227 0.14948,0.07513 0.50182,0.128802 1.06057,0.168158 0.67621,0.04293 1.17803,0.14669 1.50545,0.304114 0.55876,0.282648 0.83636,0.776387 0.83636,1.481217 0,1.187835 -0.79365,1.781753 -2.38451,1.781753 -1.59086,0 -2.38451,-0.593918 -2.38451,-1.781753 h 1.16022 c 0,0.178891 0.0534,0.31127 0.1566,0.39356 0.17795,0.150268 0.53384,0.225402 1.07125,0.225402 0.53384,0 0.8933,-0.07513 1.07125,-0.225402 0.10321,-0.08229 0.15659,-0.214669 0.15659,-0.39356 0,-0.218247 -0.0676,-0.36136 -0.1993,-0.436494 -0.1566,-0.08229 -0.50893,-0.143113 -1.06057,-0.178891 -0.68332,-0.04651 -1.18514,-0.14669 -1.50545,-0.304114 -0.56587,-0.275492 -0.84703,-0.769231 -0.84703,-1.481217 0,-1.187835 0.79365,-1.781753 2.38451,-1.781753 1.58374,0 2.37739,0.593918 2.37739,1.781753 z"
      />
      <path
        d="m 279.77436,16.962428 c -1.96811,0 -2.95395,-0.719141 -2.95395,-2.16458 V 8.6690463 h 1.16023 v 2.3434707 h 1.79372 v 1.166369 h -1.79372 v 2.618962 c 0,0.314848 0.0996,0.543828 0.30251,0.694097 0.27404,0.200358 0.77229,0.304114 1.49477,0.304114 v 1.166369 z"
      />
      <path
        d="m 286.46522,13.982106 c 0,1.978533 -0.92177,2.969588 -2.76532,2.969588 -1.83643,0 -2.75464,-0.991055 -2.75464,-2.969588 v -2.980322 h 1.16022 v 2.980322 c 0,0.604651 0.0996,1.041145 0.30252,1.313059 0.24556,0.329159 0.6762,0.493739 1.2919,0.493739 0.6157,0 1.04634,-0.16458 1.29191,-0.493739 0.1993,-0.268336 0.30251,-0.70483 0.30251,-1.313059 v -2.980322 h 1.1709 z"
      />
      <path
        d="m 293.25218,13.982106 c 0,1.989267 -0.91821,2.980322 -2.75464,2.980322 -1.84355,0 -2.76532,-0.994633 -2.76532,-2.980322 0,-1.978533 0.92177,-2.969589 2.76532,-2.969589 h 1.59442 V 8.6690463 h 1.16022 z m -1.15666,0 v -1.80322 h -1.59442 c -0.6157,0 -1.0499,0.164579 -1.29191,0.493738 -0.1993,0.268337 -0.30251,0.704831 -0.30251,1.31306 0,0.604651 0.0996,1.041145 0.30251,1.313059 0.24557,0.336315 0.67621,0.504472 1.29191,0.504472 0.6157,0 1.04634,-0.168157 1.2919,-0.504472 0.19931,-0.275492 0.30252,-0.711986 0.30252,-1.316637 z"
      />
      <path
        d="m 299.99999,13.982106 c 0,1.978533 -0.91821,2.969588 -2.75464,2.969588 -1.84355,0 -2.76532,-0.991055 -2.76532,-2.969588 0,-1.989267 0.92177,-2.980322 2.76532,-2.980322 1.83643,-0.0036 2.75464,0.991055 2.75464,2.980322 z m -1.16022,0 c 0,-0.604651 -0.0996,-1.041145 -0.30251,-1.313059 -0.24557,-0.336315 -0.67621,-0.504473 -1.29191,-0.504473 -0.6157,0 -1.04634,0.168158 -1.29191,0.504473 -0.1993,0.268336 -0.30251,0.70483 -0.30251,1.313059 0,0.604651 0.0996,1.041145 0.30251,1.313059 0.24557,0.329159 0.67621,0.493739 1.29191,0.493739 0.6157,0 1.04634,-0.16458 1.29191,-0.493739 0.20286,-0.271914 0.30251,-0.708408 0.30251,-1.313059 z"
      />
    </g>
    <g id="npdl">
      <path
        d="M 11.424301,17.148475 H 9.0219943 v -6.150269 c 0,-1.2522364 -0.2064202,-2.1574241 -0.6228202,-2.7155638 C 7.8902412,7.5849678 7.0004983,7.2379194 5.7228272,7.2379194 c -1.2776711,0 -2.1780911,0.3470484 -2.7012599,1.0447228 C 2.6051677,8.8407819 2.3987471,9.7459696 2.3987471,10.998206 v 6.150269 H 0 V 10.998206 C 0,6.8837154 1.9076092,4.8264703 5.7228272,4.8264703 c 3.8009821,0 5.7014738,2.0572451 5.7014738,6.1717357 z"
      />
      <path
        d="m 23.8202,13.459744 c 0,2.461539 -1.654922,3.688731 -4.961207,3.688731 -1.893373,0 -3.256459,-0.440072 -4.0857,-1.323793 C 14.203858,15.20572 13.91914,14.4186 13.91914,13.456166 c 0,-0.958854 0.284718,-1.749552 0.854153,-2.368515 0.829241,-0.880143 2.192327,-1.3237923 4.0857,-1.3237923 1.124636,0 1.86846,-0.1538462 2.238594,-0.4651162 0.213538,-0.1717352 0.323866,-0.432916 0.323866,-0.7906979 0,-0.372093 -0.106769,-0.6404294 -0.323866,-0.8121646 -0.370134,-0.3076924 -1.117518,-0.4651161 -2.238594,-0.4651161 -1.10684,0 -1.847106,0.1538461 -2.217239,0.4651161 -0.217098,0.1717352 -0.323867,0.4400716 -0.323867,0.8121646 H 13.91914 c 0,-0.9588552 0.284718,-1.7495528 0.854153,-2.3685152 0.829241,-0.8801431 2.192327,-1.3237926 4.0857,-1.3237926 3.309844,0 4.961207,1.2307691 4.961207,3.6887302 z m -2.398747,0 v -1.624329 c -0.708235,0.24687 -1.562389,0.372093 -2.56246,0.372093 -1.10684,0 -1.847106,0.146691 -2.217239,0.440072 -0.217098,0.168157 -0.323867,0.440071 -0.323867,0.812164 0,0.372093 0.106769,0.64043 0.323867,0.812165 0.370133,0.307692 1.10684,0.465117 2.217239,0.465117 1.124636,0 1.86846,-0.153847 2.238594,-0.465117 0.213538,-0.171735 0.323866,-0.440072 0.323866,-0.812165 z"
      />
      <path
        d="m 45.127765,10.998206 c 0,4.100179 -1.907607,6.150269 -5.722824,6.150269 h -3.302727 v 4.85152 H 33.699907 V 10.998206 c 0,-4.1144906 1.90049,-6.1717357 5.701474,-6.1717357 3.815218,0 5.726384,2.0572451 5.726384,6.1717357 z m -2.402306,0 c 0,-1.2522364 -0.20642,-2.1574241 -0.622818,-2.7155638 -0.523168,-0.6976744 -1.423588,-1.0447228 -2.70126,-1.0447228 -1.277671,0 -2.170972,0.3470484 -2.676349,1.0447228 -0.416398,0.5581397 -0.622818,1.4633274 -0.622818,2.7155638 v 3.735242 h 3.302727 c 1.277671,0 2.178091,-0.339893 2.701259,-1.019678 0.412839,-0.572451 0.619259,-1.477639 0.619259,-2.715564 z"
      />
      <path
        d="m 58.65186,10.998206 c 0,4.100179 -1.900492,6.150269 -5.701473,6.150269 -3.815218,0 -5.722828,-2.05009 -5.722828,-6.150269 0,-4.1144906 1.90761,-6.1717357 5.722828,-6.1717357 3.800981,0 5.701473,2.0572451 5.701473,6.1717357 z m -2.398747,0 c 0,-1.2522364 -0.206419,-2.1574241 -0.622821,-2.7155638 -0.508932,-0.6976744 -1.398675,-1.0447228 -2.676346,-1.0447228 -1.277671,0 -2.170973,0.3470484 -2.676346,1.0447228 -0.416401,0.5581397 -0.622821,1.4633274 -0.622821,2.7155638 0,1.252236 0.20642,2.157424 0.622821,2.715564 0.508933,0.679785 1.402234,1.019678 2.676346,1.019678 1.274112,0 2.170973,-0.339893 2.676346,-1.019678 0.412843,-0.554562 0.622821,-1.45975 0.622821,-2.715564 z"
      />
      <path
        d="m 72.549648,17.148475 h -2.402307 v -6.150269 c 0,-1.2522364 -0.206423,-2.1574241 -0.622821,-2.7155638 -0.508932,-0.6976744 -1.398675,-1.0447228 -2.676346,-1.0447228 -1.277671,0 -2.178091,0.3470484 -2.70126,1.0447228 -0.416401,0.5581397 -0.622821,1.4633274 -0.622821,2.7155638 v 6.150269 h -2.402306 v -6.150269 c 0,-4.1144906 1.90761,-6.1717357 5.722828,-6.1717357 3.800981,0 5.701473,2.0572451 5.701473,6.1717357 v 6.150269 z"
      />
      <path
        d="m 81.251334,17.173519 c -4.078583,0 -6.117875,-1.49195 -6.117875,-4.479428 V -5.9396423e-6 h 2.402307 V 4.8515149 h 3.715568 v 2.415027 h -3.715568 v 5.4311271 c 0,0.651163 0.206419,1.130591 0.622821,1.438283 0.569434,0.418605 1.601539,0.626118 3.092747,0.626118 z"
      />
      <path
        d="m 93.184568,13.459744 c 0,2.461539 -1.654922,3.688731 -4.961207,3.688731 -1.893374,0 -3.256461,-0.440072 -4.085702,-1.323793 -0.569434,-0.618962 -0.854151,-1.406082 -0.854151,-2.368516 0,-0.958854 0.284717,-1.749552 0.854151,-2.368515 0.829241,-0.880143 2.192328,-1.3237923 4.085702,-1.3237923 1.124635,0 1.86846,-0.1538462 2.238593,-0.4651162 0.213537,-0.1717352 0.323867,-0.432916 0.323867,-0.7906979 0,-0.372093 -0.10677,-0.6404294 -0.323867,-0.8121646 -0.370133,-0.3076924 -1.117517,-0.4651161 -2.238593,-0.4651161 -1.106843,0 -1.847109,0.1538461 -2.217242,0.4651161 -0.217097,0.1717352 -0.323864,0.4400716 -0.323864,0.8121646 h -2.398747 c 0,-0.9588552 0.284717,-1.7495528 0.854151,-2.3685152 0.829241,-0.8801431 2.192328,-1.3237926 4.085702,-1.3237926 3.309844,0 4.961207,1.2307691 4.961207,3.6887302 z m -2.402306,0 v -1.624329 c -0.708237,0.24687 -1.562392,0.372093 -2.56246,0.372093 -1.106843,0 -1.847109,0.146691 -2.217242,0.440072 -0.217097,0.168157 -0.323864,0.440071 -0.323864,0.812164 0,0.372093 0.106767,0.64043 0.323864,0.812165 0.370133,0.307692 1.106843,0.465117 2.217242,0.465117 1.124635,0 1.86846,-0.153847 2.238592,-0.465117 0.217097,-0.171735 0.323868,-0.440072 0.323868,-0.812165 z"
      />
      <path
        d="m 114.2608,10.998206 c 0,4.11449 -1.90049,6.171736 -5.70147,6.171736 -3.81522,0 -5.72283,-2.057246 -5.72283,-6.171736 0,-4.1001795 1.90761,-6.1502687 5.72283,-6.1502687 h 3.29916 V -5.9396423e-6 h 2.40231 z m -2.40231,0 V 7.262964 h -3.29916 c -1.27767,0 -2.17098,0.3398929 -2.67635,1.0196782 -0.4164,0.5581397 -0.62282,1.4633274 -0.62282,2.7155638 0,1.252236 0.20642,2.157424 0.62282,2.715564 0.50893,0.697674 1.39868,1.044722 2.67635,1.044722 1.27767,0 2.17097,-0.347048 2.67634,-1.044722 0.4164,-0.554562 0.62282,-1.45975 0.62282,-2.715564 z"
      />
      <path
        d="m 126.67805,13.459744 c 0,2.461539 -1.65492,3.688731 -4.9612,3.688731 -1.89338,0 -3.25646,-0.440072 -4.0857,-1.323793 -0.56944,-0.618962 -0.85416,-1.406082 -0.85416,-2.368516 0,-0.958854 0.28472,-1.749552 0.85416,-2.368515 0.82924,-0.880143 2.19232,-1.3237923 4.0857,-1.3237923 1.12463,0 1.86846,-0.1538462 2.23859,-0.4651162 0.21354,-0.1717352 0.32387,-0.432916 0.32387,-0.7906979 0,-0.372093 -0.10677,-0.6404294 -0.32387,-0.8121646 -0.37013,-0.3076924 -1.11752,-0.4651161 -2.23859,-0.4651161 -1.10684,0 -1.84711,0.1538461 -2.21724,0.4651161 -0.2171,0.1717352 -0.32387,0.4400716 -0.32387,0.8121646 h -2.39875 c 0,-0.9588552 0.28472,-1.7495528 0.85416,-2.3685152 0.82924,-0.8801431 2.19232,-1.3237926 4.0857,-1.3237926 3.30984,0 4.9612,1.2307691 4.9612,3.6887302 z m -2.4023,0 v -1.624329 c -0.70824,0.24687 -1.56239,0.372093 -2.56246,0.372093 -1.10684,0 -1.84711,0.146691 -2.21724,0.440072 -0.2171,0.168157 -0.32387,0.440071 -0.32387,0.812164 0,0.372093 0.10677,0.64043 0.32387,0.812165 0.37013,0.307692 1.10684,0.465117 2.21724,0.465117 1.12463,0 1.86846,-0.153847 2.23859,-0.465117 0.2171,-0.171735 0.32387,-0.440072 0.32387,-0.812165 z"
      />
      <path
        d="m 142.69699,17.148475 c -4.09282,0 -6.13923,-1.484795 -6.13923,-4.454384 V -5.9396423e-6 h 2.40231 V 12.694091 c 0,0.633274 0.21709,1.105546 0.64773,1.416816 0.56943,0.418605 1.60154,0.626119 3.09274,0.626119 v 2.411449 z"
      />
      <path
        d="m 160.74809,17.148475 h -2.4023 v -6.150269 c 0,-1.2522364 -0.20643,-2.1574241 -0.62282,-2.7155638 -0.50894,-0.6976744 -1.40224,-1.0447228 -2.67635,-1.0447228 -1.27767,0 -2.17809,0.3470484 -2.70126,1.0447228 -0.4164,0.5581397 -0.62282,1.4633274 -0.62282,2.7155638 v 6.150269 h -2.39875 v -6.150269 c 0,-4.1144906 1.90761,-6.1717357 5.72283,-6.1717357 3.80098,0 5.70147,2.0572451 5.70147,6.1717357 z"
      />
      <path
        d="m 174.62097,17.495523 c 0,3.001789 -1.90049,4.500895 -5.70148,4.500895 h -4.52345 v -2.415027 h 4.52345 c 1.43071,0 2.39163,-0.254025 2.88633,-0.765653 0.2776,-0.27907 0.4164,-0.719142 0.4164,-1.323793 v -0.347048 h -3.29917 c -3.81521,0 -5.72282,-2.05009 -5.72282,-6.150269 0,-4.1144905 1.90761,-6.1717357 5.72282,-6.1717357 3.80098,0 5.70148,2.0572452 5.70148,6.1717357 v 6.500895 z m -2.40231,-2.758497 v -3.73882 c 0,-1.2522364 -0.20642,-2.1574241 -0.62282,-2.7155638 -0.50893,-0.6976744 -1.39867,-1.0447228 -2.67635,-1.0447228 -1.27767,0 -2.17809,0.3470484 -2.70126,1.0447228 -0.4164,0.5581397 -0.62282,1.4633274 -0.62282,2.7155638 0,1.237925 0.20642,2.143113 0.62282,2.715564 0.52317,0.679785 1.42359,1.019678 2.70126,1.019678 h 3.29917 z"
      />
      <path
        d="m 188.67891,10.998206 c 0,4.100179 -1.90761,6.150269 -5.72283,6.150269 -3.80098,0 -5.70147,-2.05009 -5.70147,-6.150269 V 4.8264703 h 2.39874 v 6.1717357 c 0,1.252236 0.20642,2.157424 0.62282,2.715564 0.50894,0.679785 1.39868,1.019678 2.67635,1.019678 1.27767,0 2.17097,-0.339893 2.67635,-1.019678 0.4164,-0.55814 0.62282,-1.463328 0.62282,-2.715564 V 4.8264703 h 2.42366 v 6.1717357 z"
      />
      <path
        d="m 201.07125,13.459744 c 0,2.461539 -1.65493,3.688731 -4.96121,3.688731 -1.89337,0 -3.25646,-0.440072 -4.0857,-1.323793 -0.56944,-0.618962 -0.85415,-1.406082 -0.85415,-2.368516 0,-0.958854 0.28471,-1.749552 0.85415,-2.368515 0.82924,-0.880143 2.19233,-1.3237923 4.0857,-1.3237923 1.12463,0 1.86846,-0.1538462 2.23859,-0.4651162 0.21354,-0.1717352 0.32387,-0.432916 0.32387,-0.7906979 0,-0.372093 -0.10677,-0.6404294 -0.32387,-0.8121646 -0.37013,-0.3076924 -1.11751,-0.4651161 -2.23859,-0.4651161 -1.10684,0 -1.84711,0.1538461 -2.21724,0.4651161 -0.2171,0.1717352 -0.32387,0.4400716 -0.32387,0.8121646 h -2.39874 c 0,-0.9588552 0.28471,-1.7495528 0.85415,-2.3685152 0.82924,-0.8801431 2.19233,-1.3237926 4.0857,-1.3237926 3.30984,0 4.96121,1.2307691 4.96121,3.6887302 z m -2.39875,0 v -1.624329 c -0.70824,0.24687 -1.56239,0.372093 -2.56246,0.372093 -1.10684,0 -1.84711,0.146691 -2.21724,0.440072 -0.2171,0.168157 -0.32387,0.440071 -0.32387,0.812164 0,0.372093 0.10677,0.64043 0.32387,0.812165 0.37013,0.307692 1.10684,0.465117 2.21724,0.465117 1.12463,0 1.86846,-0.153847 2.23859,-0.465117 0.2171,-0.171735 0.32387,-0.440072 0.32387,-0.812165 z"
      />
      <path d="m 144.35902,4.8264699 h 2.39875 V 17.148473 h -2.39875 z" />
      <path
        d="M 148.90383,1.7567032 145.62246,3.6636801 144.61171,1.9069715 147.89664,-5.488e-6 Z"
      />
    </g>
  </svg>
  <div class="gallery">
    <div class="items-container">
      <div class="item">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/na-ponta-da-lingua.appspot.com/o/media%2Fnpdl01_fixed.webp?alt=media&token=caf9cbcf-ca49-48eb-9143-c14f19821fae"
          alt="..."
          loading="lazy"
        />
      </div>
      <div class="item">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/na-ponta-da-lingua.appspot.com/o/media%2Fnpdl02_fixed.webp?alt=media&token=e3d4d9ce-3c43-4dea-9579-335f96e53237"
          alt="..."
          loading="lazy"
        />
      </div>
      <div class="item">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/na-ponta-da-lingua.appspot.com/o/media%2Fnpdl03_fixed.webp?alt=media&token=07bd31a0-dc30-4454-9166-d4271a89226a"
          alt="..."
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <p>
    Na Ponta da Língua é um centro de estudo diferente, apostamos em novas
    abordagens à aprendizagem das crianças e jovens. Respeitamos o ritmo de
    trabalho de cada aluno e a sua individualidade. Por isso, definimos a
    estratégia adequada de acordo com a personalidade de cada um.
  </p>
  <h2 class="warning">Inscrições abertas 2022/2023</h2>
  <div class="promotion promo-card">
    <div class="container"></div>
  </div>
</section>
