<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Na Ponta da Língua - Centro de Estudos</title>
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/styles.css" />

    <script type="module" src="script.js"></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %> <%- include('./home.ejs') %>
  </body>
</html>
