<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<html>
  <body>
    <%- include('./partials/header.ejs') %>
    <main><%- include('./hero.ejs') %><%- include('./services.ejs') %></main>
  </body>
</html>
