<section id="partners">
  <div class="inner-section">
    <label class="section-tab">Parcerias</label>
    <% for(var i=0; i<data.partners.length; i++) { %>
        <div class="image-item" style="background-image: url('<%= data.partners[i].image %>');"></div>
    <% } %>
  </div>
</section>