/***************
* ABOUT STYLES
****************/
#about {
  display: flex;
  position: relative;
  background-color: var(--color-white);
}

#about .section-tab {
  background-color: var(--color-c);
}

#about .inner-section {
  display: flex;
  padding-top: 130px;
}

#about .top-container,
#about .container {
  flex: 1;
}
#about .image-item {
  flex: 1;
  height: 585px;
  max-width: 390px;
}

/***************
* MEDIA QUERIES STYLES
****************/
@media screen and (max-width: 956px) {
  #about .inner-section {
    flex-direction: column;
  }
  #about .container {
    position: absolute;
    bottom: 0;
    padding: 0 7px;
    padding-top: 130px;
    padding-bottom: 20px;
    background-color: rgba(229, 229, 229, 0.85);
  }
}
