/***************
* APPLY-TICKET STYLES
****************/
.apply-ticket {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  right: 50%;
}
.apply-ticket .background {
  background-color: var(--color-a);
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

.apply-ticket .ticket {
  position: absolute;
  display: block;
  inset: auto 10%;
  /* top: auto;
  bottom: auto; */
  background-color: var(--color-c);
  mix-blend-mode: normal;
  padding: 30px;
}

.apply-ticket h2 {
  margin-bottom: 40px;
}
.apply-ticket h3 {
  margin-bottom: 10px;
}
.apply-ticket ul {
  padding-left: 15px;
  margin-bottom: 40px;
}
.apply-ticket li {
  font-family: var(--font-roboto);
  font-size: var(--font-size);
  color: var(--color-font);
  padding: 3px 0;
}

.apply-ticket .container {
  display: flex;
  gap: var(--padding);
}

/***************
* MEDIA QUERIES STYLES
****************/
@media screen and (max-width: 956px) {
  .apply-ticket {
    right: 0;
  }

  .apply-ticket .ticket {
    inset: auto 5%;
    /* bottom: auto; */
    padding: 20px 10px;
  }

  .apply-ticket h2 {
    margin-bottom: 20px;
  }
  .apply-ticket h3 {
    margin-bottom: 20px;
  }
  .apply-ticket .container {
    gap: calc(var(--padding) / 2);
  }
}
