/***************
* CONTACTS STYLES
****************/
#contacts {
  display: flex;
  position: relative;
  background-color: var(--color-a);
}

#contacts a,
#contacts h2 {
  color: var(--color-c);
}

#contacts .section-tab {
  background-color: var(--color-white);
}

#contacts .inner-section {
  display: flex;
  padding-top: 130px;
}

#contacts .container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

/***************
* MEDIA QUERIES STYLES
****************/
@media screen and (max-width: 800px) {
}
