/***************
* GALLERY STYLES
****************/
:root {
  --item-height: 510px;
}
.gallery {
  flex: 1;
}
.gallery .items-container {
  position: relative;
  display: flex;
  flex: 1;
  height: var(--item-height);
}
.gallery .image-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity var(--speed) ease-in-out;
}
