/***************
* HOME STYLES
****************/
#hero {
  display: block;
}
#hero .inner-section {
  padding: 0;
  height: calc(100% - var(--header-height));
}

/***************
* MEDIA QUERIES STYLES
****************/
@media screen and (max-width: 956px) {
  #hero .inner-section {
    padding: 0;
  }
}
