/***************
* PARTNERS STYLES
****************/
#partners {
  display: block;
  position: relative;
  background-color: var(--color-b);
  min-height: 320px;
}

#partners .section-tab {
  background-color: var(--color-a);
  color: var(--color-c);
}

#partners .inner-section {
  display: flex;
  padding-top: 130px;
  justify-content: space-between;
}

#partners .image-item {
  max-width: calc(var(--max-width) / 3);
  min-height: 148px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1;
}

/***************
* MEDIA QUERIES STYLES
****************/
@media screen and (max-width: 800px) {
}
