/***************
* PROMOTION CARD STYLES
****************/
.promo-card {
  position: relative;
  flex: 1;
  display: flex;
  width: 100%;
}

.promo-card .container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
  inset: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.85);
}

.promo-card h2 {
  color: var(--color-a);
  font-size: calc(var(--font-size) * 2);
  padding: var(--padding) 0;
}
.promo-card p {
  color: var(--color-b);
  font-size: var(--font-size);
  padding: var(--padding) 0;
}
.promo-card span {
  color: var(--color-b);
  font-size: calc(var(--font-size) / 1.2);
  padding: var(--padding) 0;
}
.promo-card button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: var(--padding);
  font-size: var(--font-size);
  color: var(--color-c);
  border-radius: 5px;
  background-color: var(--color-a);
  margin: var(--padding) 0;
  font-weight: bold;
}
/***************
* MEDIA QUERIES STYLES
****************/
@media screen and (max-width: 956px) {
  .promo-card .container {
    left: 0;
  }
}
