/***************
* SERVICE-CARD STYLES
****************/
:root {
  --h2-size: 3.5rem;
  --h3-size: 1.5rem;
  --h4-size: 1rem;

  --sc-padding: 50px;
}
.service-card {
  padding: var(--sc-padding) 0;
}

.service-card .top-container {
  display: flex;
  flex: 1;
}
.service-card .top-container.invert {
  flex-flow: row-reverse;
}

.service-card .title {
  flex: 1;
  display: grid;
  grid-template-areas:
    "h2 h3"
    "h2 h4";
  gap: var(--padding);
  grid-template-rows: 1.17rem auto;
  justify-content: flex-start;
  padding: var(--padding) 0;
}
.service-card .title.invert {
  justify-content: flex-start;
}
.service-card h2 {
  grid-area: h2;
  font-size: var(--h2-size);
  line-height: var(--h2-size);
  color: var(--color-a);
}
.service-card h3 {
  grid-area: h3;
  font-size: var(--h3-size);
  line-height: var(--h3-size);
  color: var(--color-font);
}
.service-card h4 {
  grid-area: h4;
  font-size: var(--h4-size);
  line-height: var(--h4-size);
  color: var(--color-font);
}

.service-card .container {
  display: flex;
  align-items: stretch;
  height: 341px;
  gap: calc(var(--padding) * 2);
}
.service-card .container.invert {
  flex-direction: row-reverse;
}
.service-card .image-item {
  max-width: 512px;
}
.service-card p {
  flex: 1;
  color: var(--color-font);
}

/***************
* MEDIA QUERIES STYLES
****************/
@media screen and (max-width: 956px) {
  :root {
    --sc-padding: 20px;
  }
  .service-card .container {
    flex-direction: column;
    height: auto;
  }
  .service-card .void {
    display: none;
  }
  .service-card .title {
    grid-template-rows: none;
    padding: 5px;
  }
  .service-card .image-item {
    min-height: 256px;
  }
  .service-card p {
    padding: 7px;
  }

  .service-card .container.invert {
    flex-direction: column;
  }
}
