<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Na Ponta da Língua - centro de estudo</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <ul>
      <li class="active">INÍCIO</li>
      <li><a href="/servicos">SERVIÇOS</a></li>
      <li><a href="/sobre">SOBRE</a></li>
      <li><a href="/contactos">CONTACTOS</a></li>
    </ul>
    <h1>INÍCIO</h1>
  </body>
</html>
