<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Na Ponta da Língua - centro de estudo</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <h1>Login</h1>
    <form action="dologin">
      <label for="email-input">Email</label>
      <input id="email-input" type="email" placeholder="Type your email" />
      <button type="submit" onclick="doClick();">Submit</button>
    </form>
  </body>
</html>
