<div class="gallery">
  <div class="items-container">
    <div class="item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/na-ponta-da-lingua.appspot.com/o/media%2Fnpdl01_fixed.webp?alt=media&token=caf9cbcf-ca49-48eb-9143-c14f19821fae"
        alt="..."
        loading="lazy"
      />
    </div>
    <div class="item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/na-ponta-da-lingua.appspot.com/o/media%2Fnpdl02_fixed.webp?alt=media&token=e3d4d9ce-3c43-4dea-9579-335f96e53237"
        alt="..."
        loading="lazy"
      />
    </div>
    <div class="item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/na-ponta-da-lingua.appspot.com/o/media%2Fnpdl03_fixed.webp?alt=media&token=07bd31a0-dc30-4454-9166-d4271a89226a"
        alt="..."
        loading="lazy"
      />
    </div>
  </div>
</div>
