<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Na Ponta da Língua - Centro de Estudos</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap"
    rel="stylesheet"
  />
  <link async rel="stylesheet" href="styles/styles.css" />
  <link async rel="stylesheet" href="styles/gallery.css" />
  <link async rel="stylesheet" href="styles/promo_card.css" />
  <link async rel="stylesheet" href="styles/networks.css" />
  <link async rel="stylesheet" href="styles/header.css" />
  <link async rel="stylesheet" href="styles/hero.css" />
  <link async rel="stylesheet" href="styles/services.css" />
  <link async rel="stylesheet" href="styles/footer.css" />
  <script async type="module" src="script.js"></script>
</head>
