<header>
  <nav class="menu">
    <a active="true" class="menu-button" href="#home">INÍCIO</a>
    <a class="menu-button" href="#services">SERVIÇOS</a>
    <a class="menu-button" href="#about">SOBRE</a>
    <a class="menu-button" href="#contacts">CONTACTOS</a>
  </nav>

  <div class="networks">
    <a class="network-button" href="http://fb.com">
      <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-b)">
        <path
          d="M 25.45987,64.001385 H 36.773106 V 34.806698 h 9.433935 L 47.618522,23.431459 H 36.773106 v -7.266048 c 0,-3.292905 0.879503,-5.539078 5.426718,-5.539078 l 5.800974,-0.0028 V 0.44775776 C 46.998326,0.31171024 43.555167,7.4448e-4 39.54795,7.4448e-4 c -8.361957,0 -14.08808,5.30307682 -14.08808,15.03741552 v 8.393299 h -9.460668 v 11.375239 h 9.460668 z"
        />
      </svg>
    </a>
    <a class="network-button" href="http://ig">
      <svg
        width="100%"
        height="100%"
        viewBox="-2 -2 68 68"
        fill="none"
        stroke="var(--color-b)"
      >
        <path
          vector-effect="non-scaling-stroke"
          stroke-width="var(--stroke-width)"
          d="
            M 32,6e-5 
            C 23.309731,6e-5 22.219447,0.03663136 18.806882,0.19205964 15.398888,0.34748792 13.074321,0.88920119 11.040039,1.6800568 8.9029004,2.4846268 6.9691898,3.744053 5.3714785,5.3691928 3.744053,6.9691898 2.4846268,8.9051862 1.6800568,11.037754 0.88691548,13.074321 0.34748792,15.401174 0.19434535,18.806882 0.03663136,22.219447 6e-5,23.309731 6e-5,32 c 0,8.690269 0.03657136,9.780553 0.19428535,13.193118 0.15314257,3.407994 0.69485584,5.732561 1.48571145,7.766843 0.80457,2.137139 2.0639962,4.070849 3.6914217,5.66856 1.5977113,1.627426 3.5314219,2.886852 5.6685605,3.691422 2.034282,0.790856 4.358849,1.332569 7.766843,1.485712 3.412565,0.155428 4.502849,0.194285 13.193118,0.194285 8.690269,0 9.782839,-0.03886 13.193118,-0.194285 3.407994,-0.153143 5.732561,-0.694856 7.769128,-1.485712 4.294849,-1.661711 7.695986,-5.062848 9.357697,-9.359982 0.793142,-2.034282 1.332569,-4.358849 1.487997,-7.766843 0.155429,-3.412565 0.192,-4.502849 0.192,-13.193118 0,-8.690269 -0.03657,-9.780553 -0.192,-13.193118 C 63.652512,15.398888 63.113085,13.074321 62.319943,11.037754 61.515373,8.9029004 60.255947,6.9691898 58.630807,5.3714785 57.03081,3.7417673 55.0971,2.4846268 52.959961,1.6800568 50.925679,0.88691548 48.601112,0.34748792 45.193118,0.19434535 41.780553,0.03663136 40.690269,6e-5 32,6e-5 Z"
        />
        <path
          vector-effect="non-scaling-stroke"
          stroke-width="var(--stroke-width)"
          d="m 32.00006,18.000058 c -7.680624,0 -14.000002,6.319378 -14.000002,14.000002 0,7.680624 6.319378,14.000002 14.000002,14.000002 7.680624,0 14.000002,-6.319378 14.000002,-14.000002 0,-7.680624 -6.319378,-14.000002 -14.000002,-14.000002 z"
        />
        <path
          fill="var(--color-b)"
          d="m 52.921101,14.918889 a 3.8399928,3.8399928 0 0 1 -3.839993,3.839993 3.8399928,3.8399928 0 0 1 -3.839993,-3.839993 3.8399928,3.8399928 0 0 1 3.839993,-3.839993 3.8399928,3.8399928 0 0 1 3.839993,3.839993 z"
        />
      </svg>
    </a>
    <a class="network-button" href="http://mail">
      <svg
        width="100%"
        height="100%"
        class="inner-stroke"
        viewBox="-1.5 -1.5 68 68"
        fill="none"
        stroke="var(--color-b)"
        stroke-width="var(--stroke-width)"
      >
        <path
          vector-effect="non-scaling-stroke"
          d="M 57.213667,55.999841 H 6.786333 C 3.0400543,55.999841 6e-5,53.111825 6e-5,49.552835 v -35.10567 c 0,-3.55899 3.0399943,-6.4470056 6.786273,-6.4470056 h 50.427334 c 3.746279,0 6.786273,2.8880156 6.786273,6.4470056 v 35.10567 c 0,3.55899 -3.039994,6.447006 -6.786273,6.447006 z"
        />
        <path
          vector-effect="non-scaling-stroke"
          d="M 59.524281,8.0002622 32.000301,33.393538 4.4763201,8.0002622"
        />
      </svg>
    </a>
    <a class="network-button" href="http://wapp">
      <svg width="100%" height="100%" viewBox="0 0 64 64">
        <path
          fill="var(--color-b)"
          d="m 48.400584,37.834875 c -0.193761,-0.316475 -0.697537,-0.503777 -1.45966,-0.884838 -0.762123,-0.374603 -4.508153,-2.208866 -5.205689,-2.454295 -0.697537,-0.251888 -1.207772,-0.381061 -1.711548,0.374603 -0.503776,0.755664 -1.969895,2.454295 -2.409085,2.96453 -0.445648,0.503777 -0.891296,0.568363 -1.653419,0.19376 -0.762123,-0.374603 -3.216419,-1.175478 -6.122821,-3.752488 -2.260535,-2.002188 -3.791241,-4.475859 -4.236889,-5.231523 -0.445648,-0.755666 -0.04521,-1.162562 0.335851,-1.543624 0.34231,-0.33585 0.762124,-0.884837 1.143185,-1.324027 0.381062,-0.43919 0.510235,-0.755664 0.762124,-1.259441 0.258347,-0.503777 0.129173,-0.942966 -0.06459,-1.324027 -0.187301,-0.374604 -1.711547,-4.094799 -2.350956,-5.612586 -0.63295,-1.51133 -1.2659,-1.259441 -1.711548,-1.259441 -0.445648,0 -0.949425,-0.06459 -1.45966,-0.06459 -0.510234,0 -1.330486,0.187302 -2.034481,0.942966 -0.697537,0.755664 -2.667432,2.583468 -2.667432,6.303663 0,3.720195 2.72556,7.311216 3.106622,7.814993 0.381062,0.503777 5.270275,8.383356 13.007764,11.406014 7.743948,3.022658 7.743948,2.015106 9.13902,1.892391 1.395073,-0.129174 4.508153,-1.827805 5.141103,-3.591021 0.645867,-1.763218 0.645867,-3.274547 0.452106,-3.591022 z"
        />
        <path
          fill="none"
          stroke="var(--color-b)"
          stroke-width="var(--stroke-width)"
          vector-effect="non-scaling-stroke"
          d="M 7.9776903,45.580498 C 5.4667875,41.288423 4.0274822,36.294006 4.0274822,30.966252 c 0,-16.009107 12.9971598,-29.0062668 29.0062668,-29.0062668 16.009106,0 29.006265,12.9971598 29.006265,29.0062668 0,16.009106 -12.997159,29.006524 -29.006265,29.006524 -5.327756,0 -10.322171,-1.439564 -14.614247,-3.950467 L 1.8380326,62.161967 Z"
        />
      </svg>
    </a>
  </div>

  <div class="logo">
    <svg width="100%" height="100%" viewBox="0 0 128 51">
      <path
        id="face"
        fill="none"
        vector-effect="non-scaling-stroke"
        stroke-width="var(--stroke-width)"
        stroke="var(--color-b)"
        d="m
        40.751029,15.99893 c 2.071889,2.208657 4.164148,4.827618
        7.091564,7.123574 1.862373,1.460798 7.952912,1.748884 6.07017,4.199068 l
        -2.552032,3.32608 c -0.340464,0.445223 1.175623,3.718925 0.6722,4.01574
        -3.666545,2.153368 -7.746305,3.42211 -11.962832,3.957542
        -3.643266,0.465592 9.538838,2.959426 12.370226,0.840977
        1.574286,-1.178532 -1.292021,9.637777 -10.484574,10.938527
        -8.648391,0.660561 -15.350022,-3.509407 -20.003043,-9.017955
        -0.838067,0.485963 -1.411329,0.838067 -2.426904,0.838067 -2.118448,0
        -4.059389,-1.588836 -4.059389,-3.704375 0,-0.707119 0.130948,-1.190172
        0.352104,-1.853643"
      />
      <g id="eye">
        <path
          fill="none"
          vector-effect="non-scaling-stroke"
          stroke-width="var(--stroke-width)"
          stroke="var(--color-b)"
          d="m 37.30855,27.144064 c 1.577197,0 2.863398,-1.501538 2.863398,-3.34063 0,-1.839093 -1.286201,-3.340631 -2.863398,-3.340631 -1.577196,0 -2.863398,1.501538 -2.863398,3.340631 0,1.839092 1.286202,3.34063 2.863398,3.34063 z"
        />
        <path
          fill="var(--color-b)"
          d="m 38.129157,22.645271 c 0.424854,0 0.76823,-0.323005 0.76823,-0.721669 0,-0.398664 -0.346286,-0.72167 -0.76823,-0.72167 -0.424853,0 -0.768228,0.323006 -0.768228,0.72167 -0.0029,0.398664 0.343375,0.721669 0.768228,0.721669 z"
        />
      </g>
      <g id="hair" fill="var(--color-a)">
        <path
          d="m 43.573686,10.906505 c 0,-1.9729502 -1.23382,-2.7295389 -1.93221,-2.9885251 L 41.34175,8.5436206 c 0.567441,0.2357065 1.242552,0.8933567 1.32403,1.7052344 -1.364769,-0.3986638 -2.217386,0.811878 -2.217386,1.964221 0,0.779868 0.389934,1.428789 1.251281,1.428789 1.28038,0.0029 1.874011,-1.3444 1.874011,-2.73536 z m -0.829337,-0.08148 c 0,1.146524 -0.325915,2.159188 -0.957376,2.159188 -0.372474,0 -0.503423,-0.331734 -0.503423,-0.861347 0,-0.727489 0.480144,-1.606296 1.460799,-1.297841 z"
        />
        <path
          d="m 32.63225,12.559361 c 0,-1.97295 -1.233822,-2.7295395 -1.932211,-2.9885256 l -0.299726,0.6256406 c 0.567442,0.235707 1.242551,0.893357 1.32403,1.705235 -1.364769,-0.398665 -2.217387,0.811878 -2.217387,1.96422 0,0.779868 0.389934,1.428789 1.251281,1.428789 1.283291,0.0029 1.874013,-1.3444 1.874013,-2.735359 z m -0.826428,-0.08148 c 0,1.146523 -0.325915,2.159188 -0.957376,2.159188 -0.372475,0 -0.503423,-0.331735 -0.503423,-0.861347 -0.0029,-0.727489 0.477234,-1.606297 1.460799,-1.297841 z"
        />
        <g>
          <path
            d="M 6.1612846,26.977615 6.422046,26.175078 7.2328847,26.438536 6.9721233,27.241074 Z"
          />
          <path
            d="m 7.6287478,27.455349 0.2607611,-0.802537 0.8108396,0.263459 -0.2607611,0.802537 z"
          />
          <path
            d="m 9.0982965,27.933785 0.2608457,-0.802537 0.8108388,0.263544 -0.2608455,0.802537 z"
          />
        </g>
        <path
          d="m 12.605927,8.9568344 c 0.526703,0.3026356 0.881717,0.6838399 1.067954,1.1377926 0.171688,0.424854 0.162958,0.803148 -0.0291,1.131973 -0.168778,0.293907 -0.424854,0.451044 -0.771139,0.471413 0.0029,0.276447 -0.09894,0.596541 -0.308455,0.960286 -0.491783,0.849708 -1.050495,1.094144 -1.679046,0.7304 -0.244436,-0.142588 -0.404483,-0.331736 -0.477232,-0.567442 -0.101848,-0.343375 -0.01165,-0.759499 0.270625,-1.251281 0.162959,-0.285176 0.235708,-0.497603 0.209518,-0.637281 -0.01164,-0.08147 -0.06402,-0.145498 -0.154228,-0.200787 -0.09603,-0.05529 -0.180417,-0.06693 -0.256076,-0.03783 -0.133858,0.04947 -0.282266,0.215336 -0.448133,0.500512 -0.165868,0.288086 -0.2386169,0.503422 -0.2124273,0.643101 0.01164,0.08147 0.064019,0.148407 0.160048,0.203697 L 9.6232216,12.6583 C 8.9946709,12.294555 8.924832,11.689284 9.4166146,10.839577 9.6988804,10.353613 10.013155,10.068438 10.36235,9.9840493 c 0.241527,-0.055286 0.485963,-0.011635 0.73331,0.1309487 l 1.262921,0.730398 c 0.343375,0.197877 0.567442,0.206607 0.67511,0.02619 0.0873,-0.151317 0.06984,-0.343375 -0.05238,-0.581991 C 12.841634,10.013148 12.597198,9.7745323 12.253822,9.5766552 11.651462,9.2303704 11.014181,9.1459816 10.341981,9.326399 9.666871,9.5068163 9.1576285,9.8967507 8.8113436,10.499111 c -0.3462848,0.602361 -0.4306735,1.239642 -0.2502562,1.911842 0.1804173,0.67511 0.5703515,1.184353 1.1727125,1.530637 0.6023611,0.346285 1.2396421,0.430674 1.9118411,0.250257 0.675111,-0.180418 1.184353,-0.570352 1.530637,-1.172713 l 0.177508,-0.308455 0.616911,0.355014 -0.177508,0.308456 c -0.445223,0.771138 -1.102873,1.27165 -1.97004,1.504448 -0.861347,0.229886 -1.676136,0.122218 -2.4472737,-0.323006 C 8.6047367,14.110368 8.1042242,13.458537 7.8714276,12.59719 7.6386311,11.730023 7.7462995,10.909415 8.1915229,10.138277 8.6367462,9.3671384 9.2914865,8.8666258 10.155743,8.6396492 11.017091,8.4068527 11.834789,8.5116111 12.605927,8.9568344 Z m -0.608181,2.5054726 -0.01164,-0.0058 -0.404483,-0.232796 c -0.04074,0.218247 -0.136768,0.453954 -0.282266,0.707119 -0.165868,0.288086 -0.238617,0.503423 -0.218247,0.640191 0.01163,0.08147 0.06402,0.148408 0.160048,0.203697 0.09603,0.05529 0.180417,0.06693 0.256076,0.03783 0.133858,-0.04947 0.285175,-0.218247 0.451043,-0.506333 0.162957,-0.285175 0.235706,-0.497602 0.209517,-0.63728 -0.01164,-0.08439 -0.06402,-0.154228 -0.160048,-0.206607 z"
        />
        <path
          d="m 27.673683,17.608136 c -1.262921,-0.200787 -2.572401,-0.68675 -3.713104,-1.641216 -1.131974,-0.948646 -1.844913,-2.162098 -2.255217,-3.36391 l -0.488873,0.151318 c 0.485963,1.923481 1.091234,2.994345 2.167918,3.896432 1.076684,0.902086 2.243576,1.321121 4.222347,1.463708 z"
        />
        <path
          d="m 24.50765,7.8859704 h -1.420058 l 0.712939,1.2338217 -0.739129,0.4248536 -0.704209,-1.2367316 -0.715851,1.2367316 -0.730398,-0.4248536 0.70712,-1.2338217 h -1.42297 V 7.0420829 h 1.42297 l -0.70712,-1.2338217 0.730398,-0.4248536 0.715851,1.2367316 0.704209,-1.2367316 0.739129,0.4248536 -0.712939,1.2338217 h 1.420058 z"
        />
        <path
          d="m 27.667864,11.287709 c 0.215336,0.424854 0.296815,0.811878 0.244436,1.161073 -0.02619,0.194967 -0.125129,0.430674 -0.296816,0.70712 -0.119308,0.194968 -0.183327,0.343375 -0.192057,0.445223 -0.02037,0.162958 0.03783,0.375385 0.171688,0.640191 l -0.75368,0.384114 c -0.224066,-0.439404 -0.308455,-0.832248 -0.256076,-1.181443 0.0291,-0.203697 0.130948,-0.445222 0.302636,-0.727489 0.113489,-0.192057 0.177507,-0.337555 0.189147,-0.433583 0.01746,-0.154228 -0.03783,-0.357925 -0.165868,-0.608181 -0.154228,-0.302636 -0.337555,-0.474323 -0.552891,-0.512152 -0.174598,-0.03201 -0.413215,0.0291 -0.71876,0.183327 -0.302635,0.154228 -0.494693,0.311365 -0.570351,0.471413 -0.09603,0.194967 -0.06693,0.442314 0.09021,0.747859 l -0.759499,0.387024 c -0.200788,-0.395754 -0.270626,-0.771139 -0.209517,-1.123243 0.08439,-0.503422 0.439404,-0.916636 1.065045,-1.236732 0.628549,-0.320095 1.169802,-0.363745 1.626665,-0.136768 0.323005,0.160048 0.584901,0.436494 0.785689,0.832247 z m 0.695479,4.460964 -0.753679,0.384115 -0.384114,-0.753679 0.753678,-0.384115 z"
        />
        <path
          d="m 19.374487,25.499939 h -3.38719 v -0.843888 h 3.38719 z m 0,2.153367 h -3.38719 v -0.843887 h 3.38719 z"
        />
        <path
          d="m 13.493464,35.967053 c -0.564531,0.6722 -1.204722,0.785689 -1.917662,0.337555 l -0.267716,0.320095 -0.573261,-0.480142 0.267716,-0.320096 c -0.555802,-0.628551 -0.552892,-1.277471 0.0087,-1.946761 l 0.573262,0.480143 c -0.273537,0.325915 -0.305546,0.622731 -0.09603,0.887536 l 1.041765,-1.239641 c -0.209517,-0.340465 -0.331735,-0.631461 -0.363745,-0.878807 -0.05238,-0.357925 0.05238,-0.689659 0.311366,-0.998115 0.561621,-0.66929 1.198902,-0.785688 1.917661,-0.346285 l 0.244436,-0.290995 0.573261,0.480142 -0.250255,0.296816 c 0.564531,0.62564 0.567441,1.274561 0.0029,1.946761 l -0.573261,-0.480143 c 0.267716,-0.320096 0.299725,-0.616911 0.09021,-0.893357 l -1.024304,1.219273 c 0.206607,0.343374 0.325914,0.64019 0.357924,0.893356 0.04656,0.363744 -0.06111,0.701299 -0.323006,1.012665 z m -0.451044,-2.575311 0.864258,-1.030125 c -0.302635,-0.154228 -0.587811,-0.06984 -0.858437,0.247346 -0.174598,0.209516 -0.174598,0.471413 -0.0058,0.782779 z m -0.122218,2.095168 c 0.186238,-0.221157 0.194967,-0.491782 0.02619,-0.814788 l -0.884627,1.053405 c 0.299726,0.165867 0.584902,0.08439 0.858437,-0.238617 z"
        />
        <path
          d="M 6.3233306,31.881474 5.8169982,31.47117 C 5.6336709,31.698147 5.3746848,31.706877 5.0022103,31.407148 L 3.1223782,29.88524 3.4133739,29.524406 2.9215913,29.125742 0.50923709,32.105537 1.0010198,32.504201 1.2978353,32.137547 4.2077921,34.494611 4.7490441,33.825322 1.8390873,31.468257 2.5753064,30.56035 4.4929679,32.114267 c 0.7071195,0.573261 1.1901722,0.555802 1.8303627,-0.232796 z"
        />
        <path
          d="m 13.289767,20.852737 -0.771139,-0.445222 0.375385,-0.648921 0.771139,0.445223 z m -1.533547,-0.884627 -0.762409,-0.442313 0.375384,-0.64892 0.762409,0.442314 z m 0.299725,4.140869 c -0.148407,0.258986 -0.363744,0.419034 -0.64019,0.480143 -0.401574,0.08439 -0.902086,-0.04656 -1.5044477,-0.392844 C 8.857903,23.588097 8.523258,22.953727 8.9073722,22.290256 9.05578,22.031271 9.2711168,21.871222 9.5475627,21.810113 c 0.4015739,-0.08439 0.9049973,0.04656 1.5131773,0.398664 0.352105,0.203697 0.611091,0.296816 0.776959,0.282266 0.09603,-0.0058 0.168777,-0.0582 0.224066,-0.154227 0.0582,-0.09894 0.06693,-0.192058 0.02328,-0.279356 -0.06984,-0.151318 -0.279356,-0.328825 -0.631461,-0.532522 -0.357924,-0.206607 -0.619821,-0.302636 -0.785688,-0.285176 -0.09603,0.0058 -0.171688,0.05819 -0.229887,0.160047 L 9.6756008,20.957496 c 0.3812042,-0.66347 1.0999632,-0.68966 2.1533682,-0.08147 0.602361,0.346285 0.966106,0.715849 1.094143,1.105783 0.08439,0.270627 0.05238,0.535433 -0.09603,0.794419 z m -0.762408,-0.442314 0.253166,-0.436493 c -0.264806,-0.06402 -0.552892,-0.186237 -0.864257,-0.366654 -0.357925,-0.206607 -0.616911,-0.302636 -0.7798689,-0.290996 -0.096029,0.0058 -0.1716871,0.05819 -0.2298862,0.160047 -0.058199,0.09894 -0.066929,0.192058 -0.02328,0.279356 0.069839,0.151318 0.2822661,0.328826 0.6401901,0.535433 0.352105,0.203696 0.611092,0.296815 0.776959,0.282265 0.09312,-0.0087 0.168777,-0.06111 0.226977,-0.162958 z"
        />
        <path
          d="m 8.0809445,35.053327 -0.8351576,-0.130948 0.67511,-4.268907 0.8351576,0.130947 z m -0.2618961,1.658674 -0.8351576,-0.130947 0.1309481,-0.835157 0.8351576,0.130947 z"
        />
        <path
          d="m 19.013652,21.906142 -1.070865,-1.3735 1.070865,-1.379319 -0.462683,-0.366655 -0.980655,1.274561 -0.992296,-1.26583 -0.453954,0.357924 1.062135,1.379319 -1.062135,1.3735 0.453954,0.363744 0.992296,-1.274561 0.980655,1.274561 z"
        />
        <path
          d="M 5.8490077,20.03795 V 19.703305 H 5.1011488 L 5.3834146,18.533502 H 4.8363428 L 4.5453471,19.703305 H 3.6519904 L 3.9342562,18.533502 H 3.3871843 L 3.0961887,19.703305 H 2.266851 V 20.03795 H 3.0234397 L 2.8401124,20.782899 H 2.0107747 v 0.334644 h 0.7478589 l -0.3113654,1.265832 h 0.547072 L 3.3057055,21.111724 H 4.2077921 L 3.8964268,22.383375 H 4.4434986 L 4.754864,21.111724 H 5.5842017 V 20.779988 H 4.8363428 L 5.01967,20.03504 h 0.8293377 z m -1.3880494,0 -0.1833272,0.744949 H 3.3842743 L 3.5676016,20.03795 Z"
        />
        <path
          d="M 28.703808,4.2747141 28.363343,3.6839928 26.064477,4.0535573 27.531095,2.2435642 27.19063,1.652843 25.401007,4.0913868 25.700732,4.6122691 Z"
        />
        <path
          d="m 19.723681,12.565181 -0.829337,-1.33276 0.829337,-1.3414904 -0.439403,-0.3812044 c -0.09021,0.1454979 -0.992296,1.5742868 -1.079594,1.7226948 0.09021,0.145498 0.992295,1.583016 1.079594,1.722694 z m -1.364769,0 -0.820608,-1.33276 0.820608,-1.3414904 -0.430674,-0.3812044 c -0.09603,0.1454979 -0.989385,1.5742868 -1.079594,1.7226948 0.09021,0.145498 0.983565,1.583016 1.079594,1.722694 z"
        />
        <path
          d="M 20.055417,15.635185 19.778971,15.9611 c -0.314276,0.369564 -0.66638,0.552892 -1.056314,0.552892 -0.264807,0 -0.602362,-0.107668 -1.015576,-0.325915 -0.302635,-0.157137 -0.512152,-0.235707 -0.625641,-0.235707 -0.136767,0 -0.276445,0.0873 -0.421943,0.258987 l -0.267716,0.325914 -0.64892,-0.552891 0.276446,-0.317185 c 0.320095,-0.369565 0.675109,-0.552892 1.065044,-0.552892 0.264805,0 0.60236,0.107668 1.015574,0.325915 0.296816,0.157138 0.503423,0.235706 0.616911,0.235706 0.136769,0 0.276446,-0.0873 0.421944,-0.258986 l 0.276446,-0.325915 z"
        />
        <path
          d="M 3.0874587,27.097504 H 1.9671254 v 1.120334 H 1.120328 V 27.097504 H -5.3425652e-6 V 26.253618 H 1.120328 v -1.123244 h 0.8467974 v 1.123244 h 1.1203333 z"
        />
        <path
          d="m 3.5134408,14.128669 0.4960371,-0.682705 5.5463895,4.029874 -0.496037,0.682705 z"
        />
        <path
          d="m 9.3787852,29.178124 0.7769578,-0.331735 0.593632,1.388049 1.472438,0.343375 -0.194967,0.823517 -1.888562,-0.439403 z"
        />
        <g>
          <path
            d="m 16.062142,23.109345 0.260761,-0.802537 0.810839,0.263459 -0.260761,0.802537 z"
          />
          <path
            d="m 17.529547,23.587078 0.260761,-0.802537 0.810839,0.263459 -0.260761,0.802537 z"
          />
          <path
            d="m 18.997879,24.062044 0.260761,-0.802538 0.810839,0.263459 -0.260761,0.802538 z"
          />
        </g>
        <path
          d="m 34.410233,4.0186378 h -1.420059 l 0.71585,1.2338217 -0.739129,0.4219438 -0.70712,-1.2338217 -0.71585,1.2338217 -0.730398,-0.4219438 0.707119,-1.2338217 H 30.097677 V 3.1718405 h 1.422969 l -0.707119,-1.2338217 0.730398,-0.4219437 0.71585,1.2338216 0.70712,-1.2338216 0.739129,0.4219437 -0.71585,1.2338217 h 1.420059 z"
        />
        <path
          d="m 37.570446,7.4203773 c 0.215337,0.4248537 0.296816,0.811878 0.244436,1.1610728 -0.02619,0.194967 -0.125128,0.4306736 -0.296815,0.7071195 -0.119308,0.1949671 -0.183327,0.3433748 -0.192057,0.4452233 -0.02037,0.1629578 0.03783,0.3753841 0.171687,0.6401901 l -0.753679,0.384115 C 36.519952,10.318695 36.435563,9.9258499 36.487942,9.5766552 36.517041,9.3729582 36.61889,9.1314319 36.790578,8.849166 36.904066,8.6571089 36.968085,8.5116111 36.979725,8.4155825 36.997185,8.2613548 36.941895,8.0576579 36.813857,7.8074015 36.659629,7.5047661 36.473393,7.3330786 36.260965,7.2952492 c -0.174597,-0.03201 -0.413213,0.0291 -0.718759,0.1833272 -0.302635,0.1542277 -0.494693,0.3113654 -0.570351,0.4714131 -0.09603,0.1949671 -0.06693,0.4423134 0.09021,0.7478589 L 34.302567,9.0848726 C 34.101779,8.6891184 34.03194,8.313734 34.093049,7.9616292 c 0.08439,-0.5034225 0.439405,-0.9166363 1.065045,-1.2367316 0.62855,-0.3200952 1.169803,-0.3637446 1.626665,-0.1367679 0.325916,0.1600476 0.584902,0.4364935 0.785689,0.8322476 z m 0.69548,4.4580537 -0.753679,0.384114 -0.384114,-0.753678 0.753679,-0.384115 z"
        />
        <path
          d="M 29.277069,21.632606 H 25.88988 v -0.843888 h 3.387189 z m 0,2.150458 H 25.88988 v -0.843888 h 3.387189 z"
        />
        <path
          d="m 22.866435,28.703801 c -0.564532,0.6722 -1.204723,0.785689 -1.917662,0.337555 l -0.267716,0.320095 -0.573261,-0.480143 0.267716,-0.320095 c -0.555802,-0.628551 -0.552893,-1.277471 0.0087,-1.946761 l 0.573261,0.480143 c -0.273535,0.325915 -0.305545,0.62273 -0.09603,0.887536 l 1.041764,-1.239641 c -0.209516,-0.340465 -0.331735,-0.631461 -0.363744,-0.878807 -0.05238,-0.357925 0.05238,-0.689659 0.311365,-0.998115 0.561622,-0.66929 1.198903,-0.785689 1.917662,-0.346285 l 0.244436,-0.290995 0.573261,0.480142 -0.250256,0.296816 c 0.564531,0.62564 0.567442,1.274561 0.0029,1.946761 l -0.573262,-0.480143 c 0.267716,-0.320096 0.299725,-0.616911 0.09021,-0.893357 l -1.021395,1.219273 c 0.206607,0.343374 0.325915,0.640189 0.357924,0.893356 0.04365,0.360834 -0.06402,0.69839 -0.325914,1.012665 z m -0.451044,-2.578222 0.864258,-1.030125 c -0.302636,-0.154227 -0.587812,-0.06984 -0.858437,0.247347 -0.174598,0.209517 -0.177508,0.471413 -0.0058,0.782778 z m -0.125128,2.095169 c 0.186237,-0.221156 0.194967,-0.491783 0.02619,-0.814788 l -0.884627,1.053405 c 0.302635,0.165867 0.587812,0.0873 0.858437,-0.238617 z"
        />
        <path
          d="m 16.225914,28.014141 -0.506333,-0.410304 c -0.183327,0.226977 -0.442313,0.235707 -0.814788,-0.06402 l -1.879832,-1.521907 0.290996,-0.360834 -0.491783,-0.398665 -2.412354,2.979795 0.491783,0.398665 0.296815,-0.366655 2.909957,2.357066 0.541252,-0.669291 -2.909957,-2.357065 0.736219,-0.907906 1.917662,1.553917 c 0.707119,0.570351 1.190172,0.555801 1.830363,-0.232797 z"
        />
        <path
          d="m 24.228295,18.67027 -0.771139,-0.445223 0.375384,-0.648921 0.771139,0.445224 z m -1.533548,-0.884627 -0.762409,-0.442313 0.375385,-0.648921 0.762408,0.442314 z m 0.302635,4.140869 c -0.148407,0.258986 -0.363744,0.419033 -0.640189,0.480142 -0.401575,0.08439 -0.902087,-0.04656 -1.504449,-0.392844 -1.053403,-0.608181 -1.388049,-1.242551 -1.003934,-1.906021 0.148407,-0.258986 0.363745,-0.419034 0.64019,-0.480143 0.401575,-0.08439 0.904997,0.04656 1.513177,0.398664 0.352105,0.203697 0.611092,0.296816 0.776959,0.282265 0.09603,-0.0058 0.168777,-0.05819 0.224067,-0.154227 0.0582,-0.09894 0.06693,-0.192057 0.02328,-0.279356 -0.06984,-0.151318 -0.279356,-0.328825 -0.631461,-0.532522 -0.357925,-0.206607 -0.619821,-0.302635 -0.785688,-0.285176 -0.09603,0.0058 -0.171688,0.0582 -0.229887,0.160047 l -0.762409,-0.439403 c 0.381204,-0.66347 1.099964,-0.68966 2.153369,-0.08147 0.60236,0.346285 0.966104,0.71585 1.094143,1.105784 0.08439,0.270626 0.05238,0.535432 -0.09603,0.794418 z m -0.765318,-0.442314 0.253166,-0.436494 c -0.264806,-0.06402 -0.552892,-0.186237 -0.864257,-0.366654 -0.357925,-0.206607 -0.616911,-0.302636 -0.779869,-0.290996 -0.09603,0.0058 -0.171687,0.05821 -0.229885,0.160048 -0.05819,0.09894 -0.06693,0.192057 -0.02328,0.279356 0.06984,0.151318 0.282265,0.328826 0.64019,0.535432 0.352104,0.203697 0.611091,0.296816 0.776958,0.282266 0.09312,-0.0087 0.168778,-0.06111 0.226977,-0.162958 z"
        />
        <path
          d="m 17.986437,31.183084 -0.835157,-0.130948 0.67511,-4.268907 0.835157,0.130948 z m -0.264806,1.661585 -0.835158,-0.130947 0.130949,-0.835158 0.835157,0.130947 z"
        />
        <path
          d="m 30.62729,19.746954 -1.070865,-1.37059 1.070865,-1.382229 -0.462684,-0.366654 -0.983566,1.27747 -0.989384,-1.26874 -0.453954,0.357924 1.062135,1.382229 -1.062135,1.37059 0.453954,0.366654 0.989384,-1.274561 0.983566,1.274561 z"
        />
        <path
          d="m 15.751591,16.170617 v -0.334644 h -0.750769 l 0.282265,-1.169804 h -0.544162 l -0.290995,1.169804 h -0.893356 l 0.282265,-1.169804 h -0.547072 l -0.290995,1.169804 h -0.829339 v 0.334644 h 0.75659 l -0.183327,0.74495 h -0.829339 v 0.334644 h 0.74786 l -0.311366,1.265832 h 0.547072 l 0.311365,-1.271651 h 0.902087 l -0.311365,1.271651 h 0.547072 l 0.311364,-1.271651 h 0.829339 v -0.331736 h -0.74786 l 0.183327,-0.744949 h 0.829339 z m -1.38805,0 -0.183327,0.74495 h -0.893357 l 0.183328,-0.74495 z"
        />
        <path
          d="M 40.655001,2.6218586 40.314536,2.0311374 38.015669,2.4036119 39.482288,0.59070885 39.138913,-1.2367049e-5 37.352199,2.4385314 37.651925,2.9594137 Z"
        />
        <path
          d="m 29.626264,8.6949383 -0.829337,-1.3327601 0.829337,-1.34149 -0.439403,-0.3812044 c -0.09021,0.1454978 -0.992295,1.5742866 -1.079594,1.7226944 0.09021,0.1454978 0.992295,1.5830165 1.079594,1.7226944 z m -1.36477,0 -0.820607,-1.3327601 0.820607,-1.34149 -0.430673,-0.3812044 c -0.09603,0.1454978 -0.989386,1.5742866 -1.079594,1.7226944 0.09021,0.1454978 0.983565,1.5830165 1.079594,1.7226944 z"
        />
        <path
          d="m 24.327233,0.82059543 -0.0029,0.42776367 c -0.0029,0.4830528 -0.154228,0.8497073 -0.453954,1.1028736 -0.203737,0.1716874 -0.532563,0.3055454 -0.986516,0.404484 -0.334645,0.075659 -0.544162,0.1484077 -0.63146,0.2211567 -0.104759,0.087299 -0.157138,0.2444364 -0.157138,0.471413 l 0.0029,0.4219437 -0.852617,-0.00582 0.0087,-0.4190337 c 0.0087,-0.4859628 0.160047,-0.8555273 0.459772,-1.1057835 0.203697,-0.1716875 0.532522,-0.3055455 0.986476,-0.4044841 0.328825,-0.069839 0.538342,-0.1425879 0.62564,-0.2153368 0.104759,-0.087298 0.157138,-0.2444363 0.157138,-0.4714129 l 0.0029,-0.42776369 z"
        />
        <path
          d="M 8.3893999,23.902372 H 7.2661566 v 1.120333 H 6.4222692 V 23.902372 H 5.3019359 v -0.843887 h 1.1203333 v -1.120333 h 0.8438874 v 1.120333 h 1.1232433 z"
        />
      </g>
      <g id="npdl" fill="var(--color-b)" fill-rule="nonzero">
        <path
          d="m 108.86705,38.186106 -0.3853,-0.670602 1.25885,-0.729428 0.38824,0.670603 z"
        />
        <path
          d="m 107.44055,42.992093 c -1.44121,0 -2.16181,-0.5206 -2.16181,-1.561799 v -4.447155 h 0.84414 v 4.447155 c 0,0.223534 0.0765,0.388244 0.22647,0.49707 0.2,0.147062 0.56472,0.220593 1.08826,0.220593 v 0.844136 z"
        />
        <path d="M 108.02586,38.674355 H 108.87 v 4.31774 h -0.84414 z" />
        <path
          d="m 113.79951,42.992093 h -0.84413 v -2.152988 c 0,-0.438245 -0.0735,-0.755899 -0.2206,-0.950021 -0.17941,-0.244123 -0.49413,-0.364713 -0.94414,-0.364713 -0.45001,0 -0.76766,0.12059 -0.95002,0.364713 -0.14706,0.194122 -0.22059,0.511776 -0.22059,0.950021 v 2.152988 h -0.84413 v -2.152988 c 0,-1.441208 0.6706,-2.161812 2.01474,-2.161812 1.33827,0 2.00887,0.720604 2.00887,2.161812 z"
        />
        <path
          d="m 118.68491,43.112683 c 0,1.050023 -0.6706,1.576505 -2.00887,1.576505 h -1.59415 v -0.844136 h 1.59415 c 0.50296,0 0.84414,-0.08824 1.01473,-0.267653 0.0971,-0.09706 0.14706,-0.252946 0.14706,-0.464716 v -0.12059 h -1.16179 c -1.34414,0 -2.01475,-0.717663 -2.01475,-2.152988 0,-1.441208 0.67061,-2.161812 2.01475,-2.161812 1.33827,0 2.00887,0.720604 2.00887,2.161812 z m -0.84708,-0.967668 v -1.308851 c 0,-0.438245 -0.0735,-0.755899 -0.22059,-0.950021 -0.17941,-0.244123 -0.49413,-0.364714 -0.94414,-0.364714 -0.45001,0 -0.76766,0.120591 -0.95002,0.364714 -0.14706,0.194122 -0.22059,0.511776 -0.22059,0.950021 0,0.432362 0.0735,0.750016 0.22059,0.95002 0.1853,0.238241 0.50001,0.358831 0.95002,0.358831 z"
        />
        <path
          d="m 123.63502,40.836164 c 0,1.435325 -0.6706,2.152987 -2.01475,2.152987 -1.33827,0 -2.00887,-0.717662 -2.00887,-2.152987 v -2.161812 h 0.84414 v 2.161812 c 0,0.438244 0.0735,0.755898 0.22059,0.95002 0.17942,0.238241 0.49413,0.358831 0.94414,0.358831 0.45001,0 0.76472,-0.12059 0.94414,-0.358831 0.14706,-0.194122 0.22059,-0.511776 0.22059,-0.95002 v -2.161812 h 0.85296 v 2.161812 z"
        />
        <path
          d="m 127.99982,41.697947 c 0,0.861783 -0.58237,1.291204 -1.7471,1.291204 -0.66766,0 -1.14708,-0.155885 -1.43826,-0.464716 -0.20001,-0.217651 -0.30001,-0.494128 -0.30001,-0.829429 0,-0.335302 0.1,-0.611778 0.30001,-0.82943 0.29118,-0.30883 0.77354,-0.464716 1.43826,-0.464716 0.39413,0 0.65884,-0.05294 0.78825,-0.161768 0.0765,-0.05882 0.11471,-0.152945 0.11471,-0.276477 0,-0.129414 -0.0382,-0.223534 -0.11471,-0.2853 -0.12941,-0.108826 -0.39412,-0.161768 -0.78825,-0.161768 -0.39118,0 -0.65001,0.05294 -0.77943,0.161768 -0.0765,0.05882 -0.11471,0.155886 -0.11471,0.2853 h -0.84413 c 0,-0.335301 0.1,-0.611778 0.30001,-0.829429 0.29118,-0.30883 0.77354,-0.464716 1.43826,-0.464716 1.16473,0 1.7471,0.429421 1.7471,1.291204 z m -0.84414,0 v -0.567659 c -0.25,0.0853 -0.55001,0.129414 -0.90296,0.129414 -0.39118,0 -0.65001,0.05294 -0.77943,0.155886 -0.0765,0.05882 -0.11471,0.155886 -0.11471,0.2853 0,0.129415 0.0382,0.223534 0.11471,0.285301 0.12942,0.108825 0.39119,0.161768 0.77943,0.161768 0.39413,0 0.65884,-0.05294 0.78825,-0.161768 0.0765,-0.06177 0.11471,-0.155886 0.11471,-0.288242 z"
        />
        <path
          d="m 61.213081,42.992093 h -0.844135 v -2.152988 c 0,-0.438245 -0.07353,-0.755899 -0.220593,-0.950021 -0.179416,-0.244123 -0.494129,-0.364713 -0.944138,-0.364713 -0.45001,0 -0.767664,0.12059 -0.950021,0.364713 -0.147062,0.194122 -0.220593,0.511776 -0.220593,0.950021 v 2.152988 h -0.844136 v -2.152988 c 0,-1.441208 0.670603,-2.161812 2.01475,-2.161812 1.338264,0 2.008866,0.720604 2.008866,2.161812 z"
        />
        <path
          d="m 65.577882,41.697947 c 0,0.861783 -0.582366,1.291204 -1.747097,1.291204 -0.667661,0 -1.147084,-0.155885 -1.438266,-0.464716 -0.200005,-0.217651 -0.300007,-0.494128 -0.300007,-0.829429 0,-0.335302 0.100002,-0.611778 0.300007,-0.82943 0.291182,-0.30883 0.773546,-0.464716 1.438266,-0.464716 0.394126,0 0.658838,-0.05294 0.788252,-0.161768 0.07647,-0.05882 0.114709,-0.152945 0.114709,-0.276477 0,-0.129414 -0.03824,-0.223534 -0.114709,-0.2853 -0.129414,-0.108826 -0.394126,-0.161768 -0.788252,-0.161768 -0.391185,0 -0.650014,0.05294 -0.779429,0.161768 -0.07647,0.05882 -0.114708,0.155886 -0.114708,0.2853 h -0.844136 c 0,-0.335301 0.100002,-0.611778 0.300007,-0.829429 0.291182,-0.30883 0.773546,-0.464716 1.438266,-0.464716 1.164731,0 1.747097,0.429421 1.747097,1.291204 z m -0.844136,0 v -0.567659 c -0.250006,0.0853 -0.550012,0.129414 -0.902961,0.129414 -0.391185,0 -0.650014,0.05294 -0.779429,0.155886 -0.07647,0.05882 -0.114708,0.155886 -0.114708,0.2853 0,0.129415 0.03824,0.223534 0.114708,0.285301 0.129415,0.108825 0.391185,0.161768 0.779429,0.161768 0.394126,0 0.658838,-0.05294 0.788252,-0.161768 0.07647,-0.06177 0.114709,-0.155886 0.114709,-0.288242 z"
        />
        <path
          d="m 73.080985,40.836164 c 0,1.435325 -0.670603,2.152987 -2.01475,2.152987 h -1.161789 v 1.700037 H 69.06031 v -3.853024 c 0,-1.441208 0.670603,-2.161812 2.008867,-2.161812 1.338264,0 2.011808,0.720604 2.011808,2.161812 z m -0.847077,0 c 0,-0.438245 -0.07353,-0.755899 -0.220593,-0.950021 -0.185298,-0.244123 -0.500011,-0.364714 -0.950021,-0.364714 -0.450009,0 -0.764722,0.120591 -0.944138,0.364714 -0.147062,0.194122 -0.220593,0.511776 -0.220593,0.950021 v 1.308851 h 1.16179 c 0.45001,0 0.767664,-0.12059 0.950021,-0.358831 0.152944,-0.197063 0.223534,-0.514717 0.223534,-0.95002 z"
        />
        <path
          d="m 77.842852,40.836164 c 0,1.435325 -0.670602,2.152987 -2.008866,2.152987 -1.344147,0 -2.01475,-0.717662 -2.01475,-2.152987 0,-1.441208 0.670603,-2.161812 2.01475,-2.161812 1.341205,0 2.008866,0.720604 2.008866,2.161812 z m -0.844135,0 c 0,-0.438245 -0.07353,-0.755899 -0.220593,-0.950021 -0.179416,-0.244123 -0.494129,-0.364714 -0.944138,-0.364714 -0.45001,0 -0.764723,0.120591 -0.944139,0.364714 -0.147062,0.194122 -0.220593,0.511776 -0.220593,0.950021 0,0.438244 0.07353,0.755898 0.220593,0.95002 0.179416,0.238241 0.494129,0.358831 0.944139,0.358831 0.450009,0 0.764722,-0.12059 0.944138,-0.358831 0.147062,-0.19118 0.220593,-0.508834 0.220593,-0.95002 z"
        />
        <path
          d="M 82.737076,42.992093 H 81.89294 v -2.152988 c 0,-0.438245 -0.07353,-0.755899 -0.220593,-0.950021 -0.179416,-0.244123 -0.494128,-0.364713 -0.944138,-0.364713 -0.45001,0 -0.767664,0.12059 -0.950021,0.364713 -0.147062,0.194122 -0.220593,0.511776 -0.220593,0.950021 v 2.152988 h -0.844136 v -2.152988 c 0,-1.441208 0.670603,-2.161812 2.01475,-2.161812 1.338264,0 2.008867,0.720604 2.008867,2.161812 z"
        />
        <path
          d="m 85.801848,43.000916 c -1.435325,0 -2.152988,-0.52354 -2.152988,-1.567681 V 36.98608 h 0.844136 v 1.700037 h 1.308852 v 0.844136 h -1.308852 v 1.902982 c 0,0.226476 0.07353,0.394127 0.220593,0.502952 0.200004,0.147062 0.564718,0.220593 1.088259,0.220593 z"
        />
        <path
          d="m 90.00488,41.697947 c 0,0.861783 -0.582366,1.291204 -1.747097,1.291204 -0.667661,0 -1.147083,-0.155885 -1.438266,-0.464716 -0.200004,-0.217651 -0.300007,-0.494128 -0.300007,-0.829429 0,-0.335302 0.100003,-0.611778 0.300007,-0.82943 0.291183,-0.30883 0.773546,-0.464716 1.438266,-0.464716 0.394126,0 0.658838,-0.05294 0.788253,-0.161768 0.07647,-0.05882 0.114708,-0.152945 0.114708,-0.276477 0,-0.129414 -0.03824,-0.223534 -0.114708,-0.2853 -0.129415,-0.108826 -0.394127,-0.161768 -0.788253,-0.161768 -0.391185,0 -0.650014,0.05294 -0.779428,0.161768 -0.07647,0.05882 -0.114709,0.155886 -0.114709,0.2853 h -0.847077 c 0,-0.335301 0.100002,-0.611778 0.300007,-0.829429 0.291182,-0.30883 0.773546,-0.464716 1.438266,-0.464716 1.164731,0 1.747097,0.429421 1.747097,1.291204 v 1.738273 z m -0.844136,0 v -0.567659 c -0.250005,0.0853 -0.550012,0.129414 -0.902961,0.129414 -0.391185,0 -0.650014,0.05294 -0.779428,0.155886 -0.07647,0.05882 -0.114709,0.155886 -0.114709,0.2853 0,0.129415 0.03824,0.223534 0.114709,0.285301 0.129414,0.108825 0.391185,0.161768 0.779428,0.161768 0.394126,0 0.658838,-0.05294 0.788253,-0.161768 0.07647,-0.06177 0.114708,-0.155886 0.114708,-0.288242 z"
        />
        <path
          d="m 97.425628,40.836164 c 0,1.441207 -0.670602,2.161811 -2.008867,2.161811 -1.344146,0 -2.014749,-0.720604 -2.014749,-2.161811 0,-1.435325 0.670603,-2.152988 2.014749,-2.152988 h 1.16179 v -1.700037 h 0.844136 v 3.853025 z m -0.844136,0 v -1.308852 h -1.161789 c -0.45001,0 -0.764723,0.120591 -0.944138,0.358831 -0.147062,0.194122 -0.220593,0.511776 -0.220593,0.950021 0,0.438244 0.07353,0.755898 0.220593,0.95002 0.179415,0.244123 0.494128,0.364714 0.944138,0.364714 0.450009,0 0.764722,-0.120591 0.944138,-0.364714 0.14412,-0.19118 0.217651,-0.508834 0.217651,-0.95002 z"
        />
        <path
          d="m 101.79925,41.697947 c 0,0.861783 -0.58236,1.291204 -1.74709,1.291204 -0.667666,0 -1.147088,-0.155885 -1.438271,-0.464716 -0.200004,-0.217651 -0.300006,-0.494128 -0.300006,-0.829429 0,-0.335302 0.100002,-0.611778 0.300006,-0.82943 0.291183,-0.30883 0.773546,-0.464716 1.438271,-0.464716 0.39412,0 0.65883,-0.05294 0.78825,-0.161768 0.0765,-0.05882 0.11471,-0.152945 0.11471,-0.276477 0,-0.129414 -0.0382,-0.223534 -0.11471,-0.2853 -0.12942,-0.108826 -0.39413,-0.161768 -0.78825,-0.161768 -0.391189,0 -0.650018,0.05294 -0.779433,0.161768 -0.07647,0.05882 -0.114708,0.155886 -0.114708,0.2853 h -0.844136 c 0,-0.335301 0.100002,-0.611778 0.300006,-0.829429 0.291183,-0.30883 0.773546,-0.464716 1.438271,-0.464716 1.16473,0 1.74709,0.429421 1.74709,1.291204 z m -0.84413,0 v -0.567659 c -0.25001,0.0853 -0.55002,0.129414 -0.90296,0.129414 -0.391189,0 -0.650018,0.05294 -0.779433,0.155886 -0.07647,0.05882 -0.114708,0.155886 -0.114708,0.2853 0,0.129415 0.03824,0.223534 0.114708,0.285301 0.129415,0.108825 0.391185,0.161768 0.779433,0.161768 0.39412,0 0.65883,-0.05294 0.78825,-0.161768 0.0765,-0.06177 0.11471,-0.155886 0.11471,-0.288242 z"
        />
      </g>
      <g id="cde" fill="var(--color-b)" fill-rule="nonzero">
        <path
          d="m 58.674791,35.547814 c -0.09118,0.347066 -0.344125,0.517658 -0.752957,0.517658 -0.526482,0 -0.791194,-0.2853 -0.791194,-0.852959 0,-0.564718 0.264712,-0.850019 0.791194,-0.850019 0.408832,0 0.661779,0.173534 0.752957,0.517659 h -0.352948 c -0.06471,-0.123532 -0.197064,-0.185298 -0.400009,-0.185298 -0.176474,0 -0.300007,0.04706 -0.370596,0.141179 -0.05882,0.07647 -0.0853,0.202946 -0.0853,0.373538 0,0.173533 0.02941,0.297065 0.0853,0.373537 0.07059,0.09706 0.194122,0.144121 0.370596,0.144121 0.200004,0 0.335301,-0.06177 0.400009,-0.185298 h 0.352948 z"
        />
        <path
          d="m 60.536596,36.068414 h -0.791193 c -0.529423,0 -0.794135,-0.282359 -0.794135,-0.850019 0,-0.567659 0.264712,-0.852959 0.794135,-0.852959 0.526482,0 0.791193,0.2853 0.791193,0.852959 v 0.167651 h -1.244144 c 0.0353,0.232358 0.185298,0.350007 0.452951,0.350007 h 0.791193 z m -0.344125,-1.014728 c -0.03529,-0.235299 -0.182357,-0.352949 -0.447068,-0.352949 -0.267653,0 -0.417656,0.11765 -0.452951,0.352949 z"
        />
        <path
          d="m 62.51311,36.068414 h -0.338243 v -0.850019 c 0,-0.173533 -0.02941,-0.297065 -0.0853,-0.373537 -0.07059,-0.09706 -0.194122,-0.144121 -0.370596,-0.144121 -0.176475,0 -0.302948,0.04706 -0.373538,0.144121 -0.05882,0.07647 -0.0853,0.202945 -0.0853,0.373537 v 0.850019 h -0.33236 v -0.850019 c 0,-0.567659 0.264712,-0.852959 0.794135,-0.852959 0.526482,0 0.791194,0.2853 0.791194,0.852959 z"
        />
        <path
          d="m 63.74843,36.071355 c -0.564718,0 -0.850018,-0.205887 -0.850018,-0.617661 v -1.752979 h 0.33236 v 0.670603 h 0.514717 v 0.33236 h -0.514717 v 0.750016 c 0,0.08824 0.02941,0.155886 0.0853,0.200005 0.07941,0.05882 0.223534,0.0853 0.429421,0.0853 v 0.33236 z"
        />
        <path
          d="m 64.930809,34.700737 c -0.205887,0 -0.350008,0.02941 -0.429421,0.0853 -0.05882,0.04412 -0.0853,0.108826 -0.0853,0.200004 v 1.082377 h -0.33236 v -1.082377 c 0,-0.411773 0.282359,-0.61766 0.850018,-0.61766 v 0.33236 z"
        />
        <path
          d="m 66.798496,35.218395 c 0,0.564718 -0.264711,0.850019 -0.791193,0.850019 -0.529424,0 -0.794135,-0.282359 -0.794135,-0.850019 0,-0.567659 0.264711,-0.852959 0.794135,-0.852959 0.526482,0.0029 0.791193,0.2853 0.791193,0.852959 z m -0.335301,0 c 0,-0.173533 -0.02941,-0.297065 -0.0853,-0.373537 -0.07059,-0.09706 -0.194122,-0.144121 -0.370596,-0.144121 -0.176475,0 -0.300007,0.04706 -0.370597,0.144121 -0.05882,0.07647 -0.0853,0.202945 -0.0853,0.373537 0,0.173533 0.02941,0.297066 0.0853,0.373538 0.07059,0.09412 0.194122,0.141179 0.370597,0.141179 0.176474,0 0.300006,-0.04706 0.370596,-0.141179 0.05588,-0.07353 0.0853,-0.200005 0.0853,-0.373538 z"
        />
        <path
          d="m 69.786796,35.218395 c 0,0.56766 -0.264712,0.85296 -0.791193,0.85296 -0.529424,0 -0.794135,-0.2853 -0.794135,-0.85296 0,-0.564718 0.264711,-0.850018 0.794135,-0.850018 h 0.458833 v -0.670603 h 0.33236 z m -0.335301,0 v -0.514717 h -0.458834 c -0.176474,0 -0.300006,0.04706 -0.370596,0.14118 -0.05883,0.07647 -0.0853,0.202945 -0.0853,0.373537 0,0.173533 0.02941,0.297066 0.0853,0.373538 0.07059,0.09706 0.194122,0.144121 0.370596,0.144121 0.176475,0 0.300007,-0.04706 0.370597,-0.144121 0.06177,-0.07353 0.08824,-0.200005 0.08824,-0.373538 z"
        />
        <path
          d="m 71.742721,36.068414 h -0.791194 c -0.529423,0 -0.794135,-0.282359 -0.794135,-0.850019 0,-0.567659 0.264712,-0.852959 0.794135,-0.852959 0.526482,0 0.791194,0.2853 0.791194,0.852959 v 0.167651 h -1.244145 c 0.0353,0.232358 0.185298,0.350007 0.452951,0.350007 h 0.791194 z m -0.344125,-1.014728 c -0.03529,-0.235299 -0.182357,-0.352949 -0.447069,-0.352949 -0.267653,0 -0.417656,0.11765 -0.452951,0.352949 z"
        />
        <path
          d="m 74.745727,36.068414 h -0.791194 c -0.529423,0 -0.794135,-0.282359 -0.794135,-0.850019 0,-0.567659 0.264712,-0.852959 0.794135,-0.852959 0.526482,0 0.791194,0.2853 0.791194,0.852959 v 0.167651 h -1.244145 c 0.0353,0.232358 0.185298,0.350007 0.452951,0.350007 h 0.791194 z m -0.341184,-1.014728 c -0.0353,-0.235299 -0.182357,-0.352949 -0.447069,-0.352949 -0.267652,0 -0.417656,0.11765 -0.452951,0.352949 z"
        />
        <path
          d="m 76.507529,34.877211 h -0.33236 c 0,-0.05 -0.01471,-0.08824 -0.04412,-0.111767 -0.05,-0.04412 -0.152945,-0.06471 -0.30883,-0.06471 -0.152945,0 -0.255888,0.02059 -0.308831,0.06471 -0.02941,0.02353 -0.04412,0.06177 -0.04412,0.111767 0,0.06471 0.02059,0.105885 0.06177,0.129415 0.04412,0.02059 0.144121,0.03824 0.302948,0.04706 0.194121,0.01177 0.338242,0.04118 0.432362,0.0853 0.158827,0.08235 0.241181,0.223534 0.241181,0.423538 0,0.338243 -0.229416,0.508835 -0.685308,0.508835 -0.455893,0 -0.685309,-0.170592 -0.685309,-0.508835 h 0.33236 c 0,0.05 0.01471,0.08824 0.04412,0.111767 0.05,0.04412 0.152945,0.06471 0.308831,0.06471 0.152944,0 0.255887,-0.02059 0.30883,-0.06471 0.02941,-0.02353 0.04412,-0.06177 0.04412,-0.111767 0,-0.06177 -0.02059,-0.102943 -0.05882,-0.123532 -0.04412,-0.02353 -0.147062,-0.04118 -0.302948,-0.05 -0.197063,-0.01176 -0.341184,-0.04118 -0.432362,-0.0853 -0.161769,-0.07941 -0.244123,-0.220593 -0.244123,-0.423538 0,-0.338243 0.229416,-0.508835 0.685309,-0.508835 0.458833,-0.0029 0.685308,0.16471 0.685308,0.505893 z"
        />
        <path
          d="m 77.707555,36.071355 c -0.564718,0 -0.850018,-0.205887 -0.850018,-0.617661 v -1.752979 h 0.33236 v 0.670603 h 0.514717 v 0.33236 h -0.514717 v 0.750016 c 0,0.08824 0.02941,0.155886 0.0853,0.200005 0.07941,0.05882 0.223534,0.0853 0.429421,0.0853 v 0.33236 z"
        />
        <path
          d="m 79.628185,35.218395 c 0,0.564718 -0.264711,0.850019 -0.794135,0.850019 -0.526482,0 -0.791193,-0.282359 -0.791193,-0.850019 v -0.852959 h 0.33236 v 0.852959 c 0,0.173533 0.02941,0.297066 0.0853,0.373538 0.07059,0.09412 0.194122,0.141179 0.370596,0.141179 0.176474,0 0.300007,-0.04706 0.370596,-0.141179 0.05882,-0.07647 0.0853,-0.202946 0.0853,-0.373538 v -0.852959 h 0.335302 v 0.852959 z"
        />
        <path
          d="m 81.578227,35.218395 c 0,0.56766 -0.264711,0.85296 -0.791193,0.85296 -0.529424,0 -0.794135,-0.2853 -0.794135,-0.85296 0,-0.564718 0.264711,-0.850018 0.794135,-0.850018 h 0.458833 v -0.670603 h 0.33236 z m -0.33236,0 v -0.514717 h -0.458833 c -0.176475,0 -0.300007,0.04706 -0.370597,0.14118 -0.05882,0.07647 -0.0853,0.202945 -0.0853,0.373537 0,0.173533 0.02941,0.297066 0.0853,0.373538 0.07059,0.09706 0.194122,0.144121 0.370597,0.144121 0.176474,0 0.300006,-0.04706 0.370596,-0.144121 0.05882,-0.07353 0.08824,-0.200005 0.08824,-0.373538 z"
        />
        <path
          d="m 83.516504,35.218395 c 0,0.564718 -0.264711,0.850019 -0.791193,0.850019 -0.529423,0 -0.794135,-0.282359 -0.794135,-0.850019 0,-0.567659 0.264712,-0.852959 0.794135,-0.852959 0.529423,0.0029 0.791193,0.2853 0.791193,0.852959 z m -0.33236,0 c 0,-0.173533 -0.02941,-0.297065 -0.0853,-0.373537 -0.07059,-0.09706 -0.194122,-0.144121 -0.370596,-0.144121 -0.176474,0 -0.300006,0.04706 -0.370596,0.144121 -0.05882,0.07647 -0.0853,0.202945 -0.0853,0.373537 0,0.173533 0.02941,0.297066 0.0853,0.373538 0.07059,0.09412 0.194122,0.141179 0.370596,0.141179 0.176474,0 0.300007,-0.04706 0.370596,-0.141179 0.05588,-0.07353 0.0853,-0.200005 0.0853,-0.373538 z"
        />
      </g>
    </svg>
  </div>
  <button class="showhide-menu-button">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 32 32"
      stroke="var(--color-a)"
      stroke-width="var(--stroke-width)"
    >
      <line x1="0" y1="0" x2="32" y2="0" vector-effect="non-scaling-stroke" />
      <line x1="0" y1="16" x2="32" y2="16" vector-effect="non-scaling-stroke" />
      <line x1="0" y1="32" x2="32" y2="32" vector-effect="non-scaling-stroke" />
    </svg>
  </button>
  <div class="overlay"></div>
</header>
