<header>
  <div class="inner-section">
    <div class="container">
      <div class="logo">
        <svg width="100%" height="100%" viewBox="0 0 445 137">
          <g id="head">
            <g id="hair">
              <path
                d="m 118.34167,29.604167 c 0,-5.354167 -3.35,-7.408333 -5.24584,-8.1125 l -0.8125,1.7 c 1.5375,0.641667 3.37084,2.425 3.59584,4.629167 -3.70834,-1.083334 -6.025,2.204166 -6.025,5.333333 0,2.116667 1.05833,3.875 3.4,3.875 3.475,0.0083 5.0875,-3.645833 5.0875,-7.425 z m -2.25,-0.220833 c 0,3.1125 -0.8875,5.8625 -2.6,5.8625 -1.0125,0 -1.36667,-0.9 -1.36667,-2.3375 0,-1.975 1.30417,-4.3625 3.96667,-3.525 z"
                fill="var(--color-a)"
              />
              <path
                d="m 88.625001,34.091667 c 0,-5.354167 -3.35,-7.408333 -5.245834,-8.1125 l -0.8125,1.7 c 1.541667,0.6375 3.375,2.425 3.595834,4.629167 -3.708334,-1.083334 -6.025,2.204166 -6.025,5.329166 0,2.120834 1.0625,3.879167 3.4,3.879167 3.483333,0.0083 5.0875,-3.65 5.0875,-7.425 z m -2.241667,-0.220833 c 0,3.1125 -0.8875,5.8625 -2.6,5.8625 -1.0125,0 -1.366667,-0.9 -1.366667,-2.3375 -0.0083,-1.975 1.295834,-4.3625 3.966667,-3.525 z"
                fill="var(--color-a)"
              />
              <path
                d="m 17.441667,71.054167 -0.708334,2.179167 2.204167,0.7125 0.708333,-2.179167 z"
                fill="var(--color-a)"
              />
              <path
                d="m 21.429167,72.350001 -0.708334,2.179166 2.200001,0.7125 0.708333,-2.175 z"
                fill="var(--color-a)"
              />
              <path
                d="m 25.420834,73.650001 -0.7125,2.175 2.204166,0.716666 0.708334,-2.179166 z"
                fill="var(--color-a)"
              />
              <path
                d="m 34.2375,24.3125 c 1.429167,0.820834 2.395834,1.858334 2.9,3.091667 0.466667,1.15 0.441667,2.179167 -0.07917,3.070833 -0.45833,0.795834 -1.154163,1.225 -2.09583,1.279167 0.0083,0.75 -0.266666,1.620833 -0.8375,2.608333 -1.333333,2.304167 -2.85,2.970834 -4.558333,1.983334 -0.6625,-0.3875 -1.1,-0.904167 -1.295833,-1.541667 -0.279167,-0.933333 -0.03333,-2.0625 0.733333,-3.395833 0.441667,-0.775 0.641667,-1.354167 0.570833,-1.733334 -0.03333,-0.220833 -0.175,-0.391666 -0.420833,-0.541666 -0.258333,-0.15 -0.4875,-0.183334 -0.695833,-0.104167 -0.3625,0.133333 -0.766667,0.583333 -1.216667,1.358333 -0.45,0.783334 -0.645833,1.366667 -0.575,1.745834 C 26.695834,32.354167 26.8375,32.5375 27.1,32.6875 l -0.9625,1.675 C 24.429167,33.375 24.2375,31.729167 25.575,29.425 26.341667,28.104167 27.195834,27.329167 28.141667,27.1 28.8,26.95 29.4625,27.070834 30.133334,27.458334 l 3.433333,1.983333 C 34.495834,29.979167 35.104167,30 35.4,29.5125 35.6375,29.1 35.5875,28.579167 35.258334,27.933334 34.875,27.179167 34.2125,26.533334 33.279167,25.995834 31.645834,25.054167 29.9125,24.825 28.0875,25.316667 c -1.833333,0.491667 -3.216666,1.55 -4.158333,3.183333 -0.9375,1.633334 -1.166667,3.366667 -0.679167,5.191667 0.491667,1.829167 1.55,3.2125 3.1875,4.154167 1.633334,0.9375 3.366667,1.166666 5.191667,0.679166 1.833333,-0.491666 3.216667,-1.55 4.158333,-3.183333 l 0.479167,-0.8375 1.675,0.9625 -0.479167,0.8375 c -1.208333,2.091667 -2.995833,3.454167 -5.35,4.083333 -2.341666,0.625 -4.554166,0.333334 -6.65,-0.875 -2.091666,-1.208333 -3.45,-2.979166 -4.083333,-5.316666 -0.633334,-2.354167 -0.341667,-4.583334 0.866667,-6.675 1.2125,-2.091667 2.9875,-3.454167 5.3375,-4.066667 2.3375,-0.633333 4.558333,-0.35 6.654166,0.858333 z m -1.654166,6.804167 -0.02917,-0.01667 -1.1,-0.633333 C 31.345834,31.058334 31.083334,31.7 30.6875,32.3875 c -0.45,0.779167 -0.645833,1.366667 -0.591666,1.7375 0.03333,0.220834 0.175,0.404167 0.433333,0.554167 0.2625,0.15 0.491667,0.179167 0.695833,0.1 0.3625,-0.133333 0.775,-0.591667 1.225,-1.375 0.441667,-0.770833 0.641667,-1.35 0.570834,-1.729167 -0.03333,-0.229166 -0.175,-0.416666 -0.4375,-0.558333 z"
                fill="var(--color-a)"
              />
              <path
                d="M 75.158334,47.795834 C 71.729167,47.254167 68.175001,45.933334 65.075001,43.341667 62,40.766667 60.066667,37.475 58.95,34.2125 l -1.329166,0.408334 C 58.941667,39.841667 60.5875,42.75 63.512501,45.2 c 2.920833,2.445834 6.091666,3.583334 11.466666,3.970834 z"
                fill="var(--color-a)"
              />
              <path
                d="m 66.562501,21.408334 h -3.858334 l 1.9375,3.345833 -2.008333,1.154167 L 60.720834,22.55 58.775,25.908334 56.791667,24.754167 58.7125,21.408334 H 54.85 v -2.291667 h 3.8625 l -1.920833,-3.35 1.983333,-1.154167 1.945834,3.358333 1.9125,-3.358333 2.008333,1.154167 -1.9375,3.35 h 3.858334 z"
                fill="var(--color-a)"
              />
              <path
                d="m 75.145834,30.641667 c 0.583333,1.154167 0.804167,2.204167 0.6625,3.15 -0.07083,0.529167 -0.341667,1.170833 -0.808333,1.920833 -0.320834,0.529167 -0.495834,0.933334 -0.520834,1.208334 -0.05417,0.441666 0.104167,1.016666 0.466667,1.7375 L 72.900001,39.7 c -0.608334,-1.191666 -0.8375,-2.258333 -0.695834,-3.204166 0.07917,-0.554167 0.354167,-1.208334 0.820834,-1.975 0.308333,-0.525 0.483333,-0.916667 0.516666,-1.179167 0.04583,-0.416667 -0.104166,-0.970833 -0.454166,-1.65 -0.416667,-0.820833 -0.916667,-1.2875 -1.5,-1.391667 -0.475,-0.0875 -1.120834,0.07917 -1.95,0.5 -0.825,0.416667 -1.345834,0.845834 -1.55,1.279167 -0.2625,0.529167 -0.183334,1.2 0.245833,2.029167 l -2.066667,1.05 c -0.541666,-1.075 -0.733333,-2.091667 -0.566666,-3.05 0.229166,-1.366667 1.191666,-2.4875 2.891666,-3.354167 1.708334,-0.870833 3.179167,-0.9875 4.416667,-0.370833 0.879167,0.433333 1.591667,1.183333 2.1375,2.258333 z m 1.8875,12.108333 -2.045833,1.041667 -1.045834,-2.045833 2.05,-1.041667 z"
                fill="var(--color-a)"
              />
              <path
                d="m 52.620834,69.220834 h -9.2 v -2.291667 h 9.2 z m 0,5.845833 h -9.2 v -2.291666 h 9.2 z"
                fill="var(--color-a)"
              />
              <path
                d="M 36.645834,97.633334 C 35.1125,99.458334 33.375,99.766667 31.4375,98.550001 l -0.725,0.866666 -1.558333,-1.3 0.729167,-0.870833 c -1.5125,-1.704167 -1.504167,-3.466667 0.02083,-5.283333 l 1.558333,1.304166 c -0.741666,0.883334 -0.829166,1.6875 -0.2625,2.408334 l 2.833334,-3.366667 c -0.570834,-0.925 -0.904167,-1.7125 -0.991667,-2.383333 -0.141667,-0.970834 0.145833,-1.875 0.845833,-2.7125 1.525,-1.816667 3.258334,-2.129167 5.208334,-0.9375 l 0.666666,-0.791667 1.554167,1.304167 -0.679167,0.804166 c 1.533334,1.7 1.541667,3.4625 0.0083,5.2875 L 39.0875,91.575001 c 0.729167,-0.870834 0.816667,-1.675 0.245834,-2.425 l -2.779167,3.308333 c 0.558333,0.933333 0.883333,1.7375 0.970833,2.425 0.125,0.9875 -0.166666,1.904167 -0.879166,2.75 z m -1.225,-6.991667 2.35,-2.795833 c -0.825,-0.416667 -1.595834,-0.1875 -2.333334,0.670833 -0.475,0.570834 -0.475,1.279167 -0.01667,2.125 z m -0.329167,5.6875 c 0.504167,-0.6 0.529167,-1.333333 0.07083,-2.2125 l -2.404166,2.8625 c 0.816666,0.45 1.5875,0.229167 2.333333,-0.65 z"
                fill="var(--color-a)"
              />
              <path
                d="m 17.175,86.541667 -1.375,-1.1125 c -0.5,0.616667 -1.204167,0.641667 -2.2125,-0.175 l -5.1083333,-4.129166 0.7916667,-0.979167 -1.3375,-1.083333 -6.5500001,8.0875 1.3333334,1.083333 0.8083333,-0.995833 7.904167,6.4 1.470833,-1.816667 -7.9041666,-6.4 2,-2.4625 5.2083336,4.216667 C 14.125,88.729167 15.433333,88.683334 17.175,86.541667 Z"
                fill="var(--color-a)"
              />
              <path
                d="M 36.095834,56.604167 34,55.395834 l 1.020834,-1.7625 2.091666,1.208333 z m -4.166667,-2.4 -2.070833,-1.2 1.020833,-1.7625 2.070833,1.2 z m 0.8125,11.241667 c -0.4,0.7 -0.9875,1.1375 -1.7375,1.3 -1.091667,0.229167 -2.45,-0.125 -4.0875,-1.0625 -2.858333,-1.654167 -3.766667,-3.375 -2.725,-5.175 0.404167,-0.704167 0.9875,-1.1375 1.7375,-1.304167 1.091667,-0.229167 2.458333,0.125 4.1125,1.083333 0.954167,0.55 1.658333,0.804167 2.108333,0.766667 0.2625,-0.01667 0.458334,-0.158333 0.608334,-0.420833 0.158333,-0.266667 0.183333,-0.520834 0.0625,-0.758334 -0.1875,-0.408333 -0.758334,-0.891666 -1.7125,-1.445833 -0.975,-0.558333 -1.683334,-0.820833 -2.133334,-0.775 -0.2625,0.01667 -0.466666,0.158333 -0.625,0.4375 L 26.279167,56.8875 c 1.033333,-1.8 2.9875,-1.870833 5.845833,-0.220833 1.6375,0.941667 2.625,1.945833 2.975,3.004167 0.229167,0.733333 0.141667,1.454166 -0.2625,2.154166 z m -2.070833,-1.204167 0.6875,-1.183333 c -0.716667,-0.175 -1.5,-0.504167 -2.345834,-0.995834 -0.970833,-0.558333 -1.675,-0.820833 -2.116666,-0.7875 -0.2625,0.0125 -0.466667,0.158334 -0.625,0.433334 -0.158334,0.266666 -0.183334,0.520833 -0.0625,0.758333 0.1875,0.4125 0.766666,0.891667 1.7375,1.454167 0.958333,0.55 1.658333,0.804167 2.108333,0.766667 0.254167,-0.025 0.458333,-0.166667 0.616667,-0.445834 z"
                fill="var(--color-a)"
              />
              <path
                d="m 21.945834,95.154167 -2.266667,-0.358333 1.833333,-11.5875 2.266667,0.358333 z m -0.708334,4.5 -2.270833,-0.354166 0.358333,-2.266667 2.266667,0.354167 z"
                fill="var(--color-a)"
              />
              <path
                d="m 51.641667,59.466667 -2.908333,-3.729167 2.908333,-3.745833 -1.258333,-0.995833 -2.6625,3.4625 L 45.025,51.020834 43.791667,51.991667 46.675,55.7375 43.791667,59.466667 45.025,60.45 47.720834,56.991667 50.383334,60.45 Z"
                fill="var(--color-a)"
              />
              <path
                d="m 15.8875,54.391667 v -0.908333 h -2.033333 l 0.766666,-3.175 h -1.4875 l -0.7875,3.175 H 9.9166667 l 0.7666663,-3.175 H 9.2000001 l -0.7916667,3.175 h -2.25 v 0.908333 h 2.0541667 l -0.5,2.025 H 5.4625 V 57.325 h 2.0291667 l -0.8458333,3.433334 h 1.4875 l 0.8458333,-3.45 h 2.4500003 l -0.845834,3.45 h 1.483334 l 0.845833,-3.45 h 2.254167 v -0.9 h -2.033334 l 0.5,-2.020834 H 15.8875 Z m -3.770833,0 -0.5,2.025 H 9.1916667 l 0.4958334,-2.025 z"
                fill="var(--color-a)"
              />
              <path
                d="M 77.958334,11.604167 77.033334,10 70.787501,11.004167 74.770834,6.0916667 73.850001,4.4875 l -4.8625,6.616667 0.8125,1.416666 z"
                fill="var(--color-a)"
              />
              <path
                d="m 53.566667,34.108334 -2.25,-3.616667 2.25,-3.641667 L 52.375,25.8125 c -0.245833,0.395834 -2.695833,4.275 -2.933333,4.679167 0.245833,0.395833 2.695833,4.295833 2.933333,4.675 z m -3.704167,0 L 47.633334,30.491667 49.8625,26.85 48.691667,25.8125 c -0.2625,0.395834 -2.6875,4.275 -2.933333,4.679167 0.245833,0.395833 2.670833,4.295833 2.933333,4.675 z"
                fill="var(--color-a)"
              />
              <path
                d="M 54.470834,42.441667 53.716667,43.325 c -0.85,1.004167 -1.808333,1.504167 -2.866667,1.504167 -0.720833,0 -1.6375,-0.295833 -2.758333,-0.8875 -0.820833,-0.425 -1.391667,-0.6375 -1.7,-0.6375 -0.370833,0 -0.75,0.2375 -1.145833,0.7 l -0.725,0.8875 -1.7625,-1.5 0.75,-0.8625 c 0.866666,-1.004167 1.833333,-1.5 2.891666,-1.5 0.720834,0 1.6375,0.291667 2.758334,0.883333 0.804166,0.425 1.366666,0.641667 1.675,0.641667 0.370833,0 0.75,-0.2375 1.145833,-0.704167 l 0.75,-0.883333 z"
                fill="var(--color-a)"
              />
              <path
                d="M 8.3833334,73.558334 H 5.3416667 v 3.0375 h -2.3 v -3.0375 H 0 v -2.291667 h 3.0416667 v -3.05 h 2.3 v 3.05 h 3.0416667 z"
                fill="var(--color-a)"
              />
              <path
                d="m 10.8875,36.5 -1.3458333,1.854167 15.0625003,10.9375 1.35,-1.854167 z"
                fill="var(--color-a)"
              />
              <path
                d="m 25.470834,79.204167 2.1125,-0.9 1.6125,3.766667 3.995833,0.933333 -0.529167,2.233334 -5.129166,-1.191667 z"
                fill="var(--color-a)"
              />
              <path
                d="m 44.333334,60.554167 -0.708334,2.175 2.2,0.716667 0.708334,-2.179167 z"
                fill="var(--color-a)"
              />
              <path
                d="m 48.316667,61.85 -0.708333,2.179167 2.204166,0.7125 0.708334,-2.179166 z"
                fill="var(--color-a)"
              />
              <path
                d="M 52.304167,63.137501 51.595834,65.316667 53.8,66.033334 54.508334,63.854167 Z"
                fill="var(--color-a)"
              />
              <path
                d="m 93.454167,10.908333 h -3.854166 l 1.941666,3.35 -2.004166,1.145834 -1.920834,-3.35 -1.945833,3.35 -1.983333,-1.145834 1.920833,-3.35 H 81.741667 V 8.6083334 h 3.866667 L 83.687501,5.2625 l 1.983333,-1.1458333 1.945833,3.35 1.920834,-3.35 2.004166,1.1458333 -1.941666,3.3458334 h 3.854166 z"
                fill="var(--color-a)"
              />
              <path
                d="m 102.0375,20.141667 c 0.5875,1.154167 0.80833,2.204167 0.66667,3.154167 -0.0708,0.529166 -0.34167,1.166666 -0.80834,1.916666 -0.325,0.529167 -0.49583,0.933334 -0.52083,1.208334 -0.0542,0.445833 0.10417,1.020833 0.46667,1.7375 l -2.045836,1.045833 c -0.608333,-1.195833 -0.8375,-2.258333 -0.695833,-3.208333 0.07917,-0.554167 0.354166,-1.208334 0.820833,-1.975 0.308336,-0.520834 0.483336,-0.916667 0.512496,-1.175 0.05,-0.420834 -0.1,-0.975 -0.449996,-1.654167 -0.416667,-0.820834 -0.925,-1.2875 -1.5,-1.3875 -0.475,-0.0875 -1.125,0.07917 -1.954167,0.495833 -0.820833,0.420833 -1.341666,0.845834 -1.55,1.279167 -0.258333,0.529167 -0.179166,1.2 0.245834,2.033333 l -2.0625,1.05 c -0.545834,-1.075 -0.733334,-2.095833 -0.566667,-3.05 0.229167,-1.366667 1.191667,-2.4875 2.891667,-3.358333 1.708333,-0.866667 3.175,-0.9875 4.416666,-0.370834 0.887503,0.433334 1.587503,1.183334 2.133333,2.258334 z m 1.89167,12.104167 -2.05,1.041666 L 100.8375,31.241667 102.88333,30.2 Z"
                fill="var(--color-a)"
              />
              <path
                d="m 79.512501,58.720834 h -9.195834 v -2.2875 h 9.195834 z m 0,5.8375 h -9.195834 v -2.2875 h 9.195834 z"
                fill="var(--color-a)"
              />
              <path
                d="m 62.104167,77.916667 c -1.533333,1.825 -3.270833,2.133334 -5.208333,0.916667 l -0.729167,0.870833 -1.554167,-1.304166 0.725,-0.870834 c -1.508333,-1.704166 -1.5,-3.466666 0.025,-5.283333 l 1.558334,1.304167 c -0.745834,0.883333 -0.833334,1.6875 -0.2625,2.408333 L 59.4875,72.591667 c -0.570833,-0.920833 -0.9,-1.7125 -0.9875,-2.383333 -0.141666,-0.970833 0.141667,-1.875 0.845834,-2.708333 1.525,-1.816667 3.254167,-2.133334 5.208333,-0.941667 l 0.6625,-0.791667 1.558334,1.304167 -0.679167,0.808333 c 1.533333,1.695834 1.541667,3.458334 0.0083,5.283334 l -1.558333,-1.304167 c 0.729167,-0.870833 0.8125,-1.675 0.245833,-2.425 l -2.775,3.308333 c 0.5625,0.933334 0.883334,1.7375 0.970834,2.425 0.120833,0.979167 -0.170834,1.895834 -0.883334,2.75 z m -1.225,-7 2.345834,-2.795833 c -0.820834,-0.416667 -1.595834,-0.1875 -2.329167,0.670833 -0.475,0.570834 -0.483334,1.283334 -0.01667,2.125 z m -0.341667,5.6875 c 0.508334,-0.6 0.529167,-1.333333 0.07083,-2.208333 l -2.4,2.858333 c 0.820833,0.45 1.595833,0.2375 2.329166,-0.65 z"
                fill="var(--color-a)"
              />
              <path
                d="m 44.066667,76.045834 -1.375,-1.116667 c -0.495833,0.616667 -1.2,0.641667 -2.2125,-0.170833 L 35.375,70.625001 l 0.791667,-0.979167 -1.3375,-1.083333 -6.55,8.091666 1.333333,1.079167 0.808334,-0.991667 7.9,6.395834 1.470833,-1.816667 -7.9,-6.395833 1.995833,-2.466667 5.208334,4.216667 c 1.920833,1.55 3.233333,1.5125 4.970833,-0.629167 z"
                fill="var(--color-a)"
              />
              <path
                d="m 65.804167,50.679167 -2.095833,-1.208333 1.020833,-1.758334 2.091667,1.208334 z m -4.166667,-2.4 -2.070833,-1.2 1.020833,-1.7625 2.070834,1.2 z m 0.820834,11.241667 c -0.4,0.704166 -0.9875,1.1375 -1.7375,1.304166 -1.091667,0.229167 -2.45,-0.129166 -4.0875,-1.066666 -2.858334,-1.654167 -3.766667,-3.375 -2.725,-5.175 0.404166,-0.704167 0.9875,-1.1375 1.7375,-1.304167 1.091666,-0.229167 2.458333,0.125 4.1125,1.083333 0.954166,0.554167 1.658333,0.804167 2.108333,0.766667 C 62.129167,55.1125 62.325,54.970834 62.475,54.708334 62.633334,54.441667 62.658334,54.1875 62.537501,53.95 62.35,53.541667 61.779167,53.058334 60.825,52.504167 59.85,51.945834 59.141667,51.683334 58.6875,51.733334 58.429167,51.745834 58.225,51.8875 58.066667,52.166667 L 55.995834,50.975 c 1.033333,-1.804166 2.9875,-1.875 5.845833,-0.225 1.6375,0.941667 2.625,1.945834 2.970834,3.004167 0.229166,0.733333 0.145833,1.454167 -0.258334,2.154167 z m -2.079167,-1.2 0.6875,-1.1875 C 60.35,56.9625 59.566667,56.629167 58.720834,56.1375 57.75,55.579167 57.045834,55.316667 56.604167,55.35 c -0.2625,0.01667 -0.466667,0.158334 -0.625,0.433334 -0.158333,0.270833 -0.183333,0.520833 -0.0625,0.758333 0.1875,0.4125 0.766667,0.891667 1.7375,1.454167 C 58.6125,58.55 59.3125,58.8 59.7625,58.7625 c 0.254167,-0.025 0.458334,-0.166666 0.616667,-0.441666 z"
                fill="var(--color-a)"
              />
              <path
                d="m 48.85,84.645834 -2.266666,-0.354167 1.833333,-11.5875 2.266667,0.354167 z m -0.720833,4.5125 -2.266667,-0.358333 0.354167,-2.266667 2.270833,0.358333 z"
                fill="var(--color-a)"
              />
              <path
                d="m 83.183334,53.604167 -2.908333,-3.720833 2.908333,-3.754167 -1.258333,-0.991667 -2.670834,3.466667 -2.6875,-3.445833 -1.233333,0.970833 2.883333,3.754167 -2.883333,3.720833 1.233333,0.995833 2.6875,-3.4625 2.670834,3.4625 z"
                fill="var(--color-a)"
              />
              <path
                d="M 42.779167,43.895834 V 42.9875 h -2.0375 l 0.766667,-3.175 h -1.479167 l -0.7875,3.175 H 36.8125 l 0.766667,-3.175 h -1.483333 l -0.791667,3.175 H 33.05 v 0.908334 h 2.054167 l -0.495833,2.020833 H 32.354167 V 46.825 H 34.3875 l -0.845833,3.4375 h 1.4875 l 0.841667,-3.454166 h 2.45 L 37.479167,50.2625 H 38.9625 l 0.845834,-3.454166 H 42.0625 v -0.9 h -2.033333 l 0.5,-2.020834 h 2.25 z m -3.766667,0 -0.5,2.020833 h -2.425 l 0.495834,-2.020833 z"
                fill="var(--color-a)"
              />
              <path
                d="M 110.41667,7.1166667 109.49167,5.5125 103.25,6.5250001 107.23333,1.6041667 106.3,0 l -4.85417,6.6208334 0.8125,1.4125 z"
                fill="var(--color-a)"
              />
              <path
                d="m 80.462501,23.604167 -2.25,-3.620834 2.25,-3.641666 -1.191667,-1.033334 c -0.245833,0.395834 -2.695833,4.275 -2.933333,4.675 0.245833,0.395834 2.695833,4.300001 2.933333,4.679167 z m -3.704167,0 -2.229167,-3.620834 2.229167,-3.641666 -1.170833,-1.033334 c -0.2625,0.395834 -2.6875,4.275 -2.933334,4.675 0.245834,0.395834 2.670834,4.300001 2.933334,4.679167 z"
                fill="var(--color-a)"
              />
              <path
                d="M 66.070834,2.2291667 66.062501,3.3875 c -0.0083,1.3125 -0.416667,2.3083334 -1.233334,2.9958334 -0.55,0.4666667 -1.445833,0.8291667 -2.679167,1.0958333 -0.908333,0.2083334 -1.475,0.4041667 -1.7125,0.6 -0.2875,0.2375 -0.429166,0.6666667 -0.429166,1.2833334 l 0.0083,1.1416669 L 57.7,10.491667 57.725,9.3541667 c 0.025,-1.3208333 0.433334,-2.325 1.25,-3.0041666 0.554167,-0.4666667 1.445834,-0.8291667 2.679167,-1.0958334 0.891667,-0.1916667 1.4625,-0.3875 1.7,-0.5875 0.283334,-0.2333333 0.425,-0.6625 0.425,-1.2791667 l 0.0083,-1.1583333 z"
                fill="var(--color-a)"
              />
              <path
                d="m 22.783334,64.883334 h -3.050001 v 3.041667 H 17.441667 V 64.883334 H 14.4 v -2.291667 h 3.041667 V 59.55 h 2.291666 v 3.041667 h 3.050001 z"
                fill="var(--color-a)"
              />
            </g>

            <path
              id="face"
              fill="none"
              stroke="var(--color-b)"
              stroke-width="var(--stroke-width)"
              d="m 110.67917,43.429167 c 5.625,5.995833 11.30833,13.104167 19.25833,19.3375 5.05833,3.966667 21.6,4.745834 16.4875,11.4 l -6.93333,9.025 c -0.925,1.2125 3.19166,10.095834 1.825,10.904167 -9.95834,5.845833 -21.0375,9.287496 -32.4875,10.741666 -9.895836,1.2625 25.90416,8.03333 33.59583,2.28333 4.275,-3.2 -3.50833,26.1625 -28.475,29.69167 -23.487499,1.79167 -41.691666,-9.525 -54.329166,-24.47917 -2.275,1.32084 -3.833334,2.275 -6.591667,2.275 -5.75,0 -11.025,-4.3125 -11.025,-10.05416 0,-1.92084 0.358333,-3.23334 0.958333,-5.033336"
            />

            <g id="eye">
              <path
                fill="none"
                stroke="var(--color-b)"
                stroke-width="var(--stroke-width)"
                d="m 101.32917,73.683334 c 4.28333,0 7.775,-4.075 7.775,-9.066667 0,-4.995833 -3.49167,-9.070833 -7.775,-9.070833 -4.283336,0 -7.779169,4.075 -7.779169,9.070833 0,4.991667 3.495833,9.066667 7.779169,9.066667 z"
              />
              <path
                fill="var(--color-b)"
                stroke="none"
                d="m 103.55833,61.470834 c 1.15,0 2.08334,-0.875 2.08334,-1.958334 0,-1.083333 -0.9375,-1.958333 -2.08334,-1.958333 -1.15416,0 -2.0875,0.875 -2.0875,1.958333 -0.008,1.083334 0.93334,1.958334 2.0875,1.958334 z"
              />
            </g>
          </g>
          <g id="npdl" fill="var(--color-b)">
            <path
              d="m 367.9875,100.8875 -1.55,-2.699999 5.06667,-2.933334 1.5625,2.695834 z"
            />
            <path
              d="m 362.24584,120.22083 c -5.8,0 -8.7,-2.09583 -8.7,-6.28333 V 96.045834 h 3.39583 V 113.9375 c 0,0.9 0.30833,1.5625 0.9125,2 0.80417,0.59167 2.27083,0.8875 4.37917,0.8875 v 3.39583 z"
            />
            <rect x="364.6" y="102.85" width="3.3958333" height="17.370834" />
            <path
              d="m 387.84167,120.22083 h -3.39583 v -8.6625 c 0,-1.7625 -0.29584,-3.04166 -0.89167,-3.82083 -0.72083,-0.98333 -1.9875,-1.46667 -3.8,-1.46667 -1.80833,0 -3.0875,0.48334 -3.82083,1.46667 -0.59167,0.77917 -0.8875,2.05833 -0.8875,3.82083 v 8.6625 h -3.4 v -8.6625 c 0,-5.79583 2.7,-8.69583 8.10833,-8.69583 5.3875,0 8.0875,2.9 8.0875,8.69583 z"
            />
            <path
              d="m 407.50417,120.70833 c 0,4.22084 -2.69583,6.34167 -8.08333,6.34167 h -6.41667 v -3.39583 h 6.41667 c 2.025,0 3.39583,-0.35834 4.08333,-1.07917 0.39167,-0.39167 0.59167,-1.01667 0.59167,-1.86667 v -0.4875 h -4.675 c -5.4125,0 -8.10834,-2.8875 -8.10834,-8.6625 0,-5.79583 2.69584,-8.69583 8.10834,-8.69583 5.3875,0 8.08333,2.9 8.08333,8.69583 z m -3.40833,-3.89583 v -5.26667 c 0,-1.7625 -0.29584,-3.0375 -0.8875,-3.82083 -0.72084,-0.98333 -1.9875,-1.46667 -3.8,-1.46667 -1.8125,0 -3.09167,0.48334 -3.825,1.46667 -0.59167,0.78333 -0.8875,2.05833 -0.8875,3.82083 0,1.74167 0.29583,3.02084 0.8875,3.825 0.74583,0.95834 2.0125,1.44167 3.825,1.44167 z"
            />
            <path
              d="m 427.42917,111.54583 c 0,5.775 -2.69583,8.6625 -8.10833,8.6625 -5.3875,0 -8.08334,-2.8875 -8.08334,-8.6625 V 102.85 h 3.39584 v 8.69583 c 0,1.76667 0.29583,3.04167 0.8875,3.825 0.72083,0.95834 1.9875,1.44167 3.8,1.44167 1.8125,0 3.07916,-0.48333 3.8,-1.44167 0.59166,-0.78333 0.8875,-2.05833 0.8875,-3.825 V 102.85 h 3.43333 v 8.69583 z"
            />
            <path
              d="m 445,115.01667 c 0,3.46666 -2.34583,5.19166 -7.03333,5.19166 -2.6875,0 -4.61667,-0.625 -5.7875,-1.86666 -0.80417,-0.87917 -1.20833,-1.99167 -1.20833,-3.3375 0,-1.35 0.40416,-2.4625 1.20833,-3.3375 1.17083,-1.24167 3.1125,-1.87084 5.7875,-1.87084 1.5875,0 2.65417,-0.2125 3.175,-0.65 0.30833,-0.2375 0.4625,-0.61666 0.4625,-1.1125 0,-0.52083 -0.15417,-0.9 -0.4625,-1.14583 -0.52083,-0.44167 -1.5875,-0.65417 -3.175,-0.65417 -1.575,0 -2.61667,0.2125 -3.1375,0.65417 -0.30833,0.23333 -0.4625,0.625 -0.4625,1.14583 h -3.39583 c 0,-1.35 0.40416,-2.4625 1.20833,-3.3375 1.17083,-1.24166 3.1125,-1.87083 5.7875,-1.87083 4.6875,0 7.03333,1.72917 7.03333,5.19583 z m -3.39583,0 v -2.2875 c -1.00833,0.34583 -2.21667,0.52083 -3.6375,0.52083 -1.575,0 -2.61667,0.21667 -3.1375,0.62917 -0.30833,0.2375 -0.4625,0.625 -0.4625,1.14583 0,0.52083 0.15417,0.9 0.4625,1.15 0.52083,0.4375 1.575,0.65 3.1375,0.65 1.5875,0 2.65417,-0.2125 3.175,-0.65 0.30833,-0.25 0.4625,-0.62917 0.4625,-1.15833 z"
            />
            <path
              d="m 176.175,120.22083 h -3.4 v -8.6625 c 0,-1.7625 -0.29583,-3.04166 -0.8875,-3.82083 -0.72083,-0.98333 -1.9875,-1.46667 -3.8,-1.46667 -1.8125,0 -3.0875,0.48334 -3.825,1.46667 -0.59167,0.77917 -0.8875,2.05833 -0.8875,3.82083 v 8.6625 h -3.39583 v -8.6625 c 0,-5.79583 2.7,-8.69583 8.10833,-8.69583 5.3875,0 8.0875,2.9 8.0875,8.69583 z"
            />
            <path
              d="m 193.74167,115.01667 c 0,3.46666 -2.34167,5.19166 -7.02917,5.19166 -2.6875,0 -4.62083,-0.625 -5.79167,-1.86666 -0.80416,-0.87917 -1.20833,-1.99167 -1.20833,-3.3375 0,-1.35 0.40417,-2.4625 1.20833,-3.3375 1.17084,-1.24167 3.1125,-1.87084 5.79167,-1.87084 1.58333,0 2.65,-0.2125 3.17083,-0.65 0.30834,-0.2375 0.4625,-0.61666 0.4625,-1.1125 0,-0.52083 -0.15416,-0.9 -0.4625,-1.14583 -0.52083,-0.44167 -1.5875,-0.65417 -3.17083,-0.65417 -1.575,0 -2.61667,0.2125 -3.1375,0.65417 -0.30833,0.23333 -0.4625,0.625 -0.4625,1.14583 h -3.4 c 0,-1.35 0.40417,-2.4625 1.20833,-3.3375 1.17084,-1.24166 3.1125,-1.87083 5.79167,-1.87083 4.6875,0 7.02917,1.72917 7.02917,5.19583 z m -3.39584,0 v -2.2875 c -1.00833,0.34583 -2.2125,0.52083 -3.63333,0.52083 -1.575,0 -2.61667,0.21667 -3.1375,0.62917 -0.30833,0.2375 -0.4625,0.625 -0.4625,1.14583 0,0.52083 0.15417,0.9 0.4625,1.15 0.52083,0.4375 1.57083,0.65 3.1375,0.65 1.58333,0 2.65,-0.2125 3.17083,-0.65 0.30834,-0.25 0.4625,-0.62917 0.4625,-1.15833 z"
            />
            <path
              d="m 223.94584,111.54583 c 0,5.775 -2.7,8.6625 -8.1125,8.6625 h -4.675 V 127.05 h -3.40001 v -15.50417 c 0,-5.79583 2.70001,-8.69583 8.08751,-8.69583 5.3875,0 8.1,2.9 8.1,8.69583 z m -3.4125,0 c 0,-1.7625 -0.29584,-3.0375 -0.8875,-3.82083 -0.74584,-0.98333 -2.0125,-1.46667 -3.825,-1.46667 -1.80834,0 -3.075,0.48334 -3.8,1.46667 -0.59167,0.78333 -0.8875,2.05833 -0.8875,3.82083 v 5.26667 h 4.67916 c 1.80834,0 3.0875,-0.48333 3.82084,-1.44167 0.61666,-0.79583 0.9,-2.07083 0.9,-3.825 z"
            />
            <path
              d="m 243.1125,111.54583 c 0,5.775 -2.7,8.6625 -8.0875,8.6625 -5.40833,0 -8.10833,-2.8875 -8.10833,-8.6625 0,-5.79583 2.7,-8.69583 8.10833,-8.69583 5.4,0 8.0875,2.9 8.0875,8.69583 z m -3.4,0 c 0,-1.7625 -0.29583,-3.0375 -0.8875,-3.82083 -0.72083,-0.98333 -1.9875,-1.46667 -3.8,-1.46667 -1.8125,0 -3.07916,0.48334 -3.8,1.46667 -0.59166,0.78333 -0.8875,2.05833 -0.8875,3.82083 0,1.76667 0.29584,3.04167 0.8875,3.825 0.72084,0.95834 1.9875,1.44167 3.8,1.44167 1.8125,0 3.07917,-0.48333 3.8,-1.44167 0.59167,-0.77083 0.8875,-2.05 0.8875,-3.825 z"
            />
            <path
              d="m 262.8125,120.22083 h -3.4 v -8.6625 c 0,-1.7625 -0.29583,-3.04166 -0.8875,-3.82083 -0.72083,-0.98333 -1.9875,-1.46667 -3.8,-1.46667 -1.8125,0 -3.09166,0.48334 -3.825,1.46667 -0.59166,0.77917 -0.8875,2.05833 -0.8875,3.82083 v 8.6625 h -3.39583 v -8.6625 c 0,-5.79583 2.7,-8.69583 8.10833,-8.69583 5.3875,0 8.0875,2.9 8.0875,8.69583 z"
            />

            <path
              d="m 275.14584,120.25833 c -5.775,0 -8.66667,-2.10833 -8.66667,-6.30833 V 96.058334 h 3.4 V 102.9 h 5.26667 v 3.39583 h -5.26667 V 113.95 c 0,0.9125 0.29583,1.58333 0.8875,2.025 0.80417,0.59167 2.275,0.8875 4.37917,0.8875 z"
            />
            <path
              d="m 292.06667,115.01667 c 0,3.46666 -2.34583,5.19166 -7.03333,5.19166 -2.6875,0 -4.61667,-0.625 -5.79167,-1.86666 -0.80417,-0.87917 -1.20417,-1.99167 -1.20417,-3.3375 0,-1.35 0.4,-2.4625 1.20417,-3.3375 1.175,-1.24167 3.11667,-1.87084 5.79167,-1.87084 1.5875,0 2.65,-0.2125 3.17083,-0.65 0.30833,-0.2375 0.4625,-0.61666 0.4625,-1.1125 0,-0.52083 -0.15417,-0.9 -0.4625,-1.14583 -0.52083,-0.44167 -1.58333,-0.65417 -3.17083,-0.65417 -1.575,0 -2.61667,0.2125 -3.1375,0.65417 -0.30834,0.23333 -0.4625,0.625 -0.4625,1.14583 H 278.025 c 0,-1.35 0.4,-2.4625 1.20834,-3.3375 1.17083,-1.24166 3.1125,-1.87083 5.7875,-1.87083 4.6875,0 7.03333,1.72917 7.03333,5.19583 v 6.99584 z m -3.4,0 v -2.2875 c -1.00417,0.34583 -2.2125,0.52083 -3.63333,0.52083 -1.575,0 -2.61667,0.21667 -3.1375,0.62917 -0.30834,0.2375 -0.4625,0.625 -0.4625,1.14583 0,0.52083 0.15416,0.9 0.4625,1.15 0.52083,0.4375 1.575,0.65 3.1375,0.65 1.5875,0 2.65,-0.2125 3.17083,-0.65 0.30833,-0.25 0.4625,-0.62917 0.4625,-1.15833 z"
            />
            <path
              d="m 321.93334,111.54583 c 0,5.8 -2.7,8.7 -8.08334,8.7 -5.4125,0 -8.1125,-2.9 -8.1125,-8.7 0,-5.77083 2.7,-8.65833 8.1125,-8.65833 h 4.675 v -6.841666 h 3.39584 v 15.499996 z m -3.39584,0 v -5.2625 h -4.675 c -1.8125,0 -3.07916,0.48334 -3.80416,1.44167 -0.59167,0.78333 -0.8875,2.05833 -0.8875,3.82083 0,1.76667 0.29583,3.04167 0.8875,3.825 0.725,0.97917 1.99166,1.46667 3.80416,1.46667 1.80834,0 3.075,-0.4875 3.8,-1.46667 0.57917,-0.77083 0.875,-2.05 0.875,-3.825 z"
            />
            <path
              d="m 339.5375,115.01667 c 0,3.46666 -2.34166,5.19166 -7.02916,5.19166 -2.6875,0 -4.62084,-0.625 -5.79167,-1.86666 -0.80417,-0.87917 -1.20833,-1.99167 -1.20833,-3.3375 0,-1.35 0.40416,-2.4625 1.20833,-3.3375 1.17083,-1.24167 3.1125,-1.87084 5.79167,-1.87084 1.58333,0 2.65,-0.2125 3.17083,-0.65 0.30833,-0.2375 0.4625,-0.61666 0.4625,-1.1125 0,-0.52083 -0.15417,-0.9 -0.4625,-1.14583 -0.52083,-0.44167 -1.5875,-0.65417 -3.17083,-0.65417 -1.575,0 -2.61667,0.2125 -3.1375,0.65417 -0.30834,0.23333 -0.4625,0.625 -0.4625,1.14583 h -3.4 c 0,-1.35 0.40416,-2.4625 1.20833,-3.3375 1.17083,-1.24166 3.1125,-1.87083 5.79167,-1.87083 4.6875,0 7.02916,1.72917 7.02916,5.19583 z m -3.39583,0 v -2.2875 c -1.00833,0.34583 -2.2125,0.52083 -3.63333,0.52083 -1.575,0 -2.61667,0.21667 -3.1375,0.62917 -0.30834,0.2375 -0.4625,0.625 -0.4625,1.14583 0,0.52083 0.15416,0.9 0.4625,1.15 0.52083,0.4375 1.575,0.65 3.1375,0.65 1.58333,0 2.65,-0.2125 3.17083,-0.65 0.30833,-0.25 0.4625,-0.62917 0.4625,-1.15833 z"
            />
          </g>
          <g id="cdl" fill="var(--color-b)">
            <path
              d="m 169.97083,83.183334 c -0.55833,2.125 -2.10416,3.166667 -4.60833,3.166667 -3.22083,0 -4.8375,-1.745834 -4.8375,-5.216667 0,-3.45 1.61667,-5.195833 4.8375,-5.195833 2.50417,0 4.05,1.0625 4.60833,3.166666 h -2.15833 c -0.39583,-0.758333 -1.20833,-1.133333 -2.45,-1.133333 -1.07917,0 -1.83333,0.2875 -2.26667,0.8625 -0.35833,0.466667 -0.52083,1.241667 -0.52083,2.283333 0,1.0625 0.17917,1.816667 0.52083,2.283334 0.43334,0.591666 1.1875,0.883333 2.26667,0.883333 1.225,0 2.05417,-0.379167 2.45,-1.133333 h 2.15833 z"
            />
            <path
              d="m 181.35833,86.366667 h -4.8375 c -3.24166,0 -4.85833,-1.725 -4.85833,-5.195833 0,-3.470833 1.61667,-5.216667 4.85833,-5.216667 3.22084,0 4.8375,1.745834 4.8375,5.216667 v 1.025 H 173.75 c 0.2125,1.420833 1.13333,2.1375 2.77083,2.1375 h 4.8375 z m -2.10416,-6.204166 c -0.21667,-1.4375 -1.11667,-2.158334 -2.73334,-2.158334 -1.6375,0 -2.55833,0.720834 -2.77083,2.158334 z"
            />
            <path
              d="m 193.45,86.366667 h -2.07083 v -5.195833 c 0,-1.0625 -0.17917,-1.816667 -0.52084,-2.283333 -0.42916,-0.595834 -1.1875,-0.883334 -2.26666,-0.883334 -1.07917,0 -1.85417,0.2875 -2.28334,0.883334 -0.3625,0.466666 -0.525,1.241666 -0.525,2.283333 v 5.195833 h -2.02916 v -5.195833 c 0,-3.470833 1.61666,-5.216667 4.85416,-5.216667 3.22084,0 4.84167,1.745834 4.84167,5.216667 z"
            />
            <path
              d="m 201.00833,86.387501 c -3.45416,0 -5.2,-1.2625 -5.2,-3.779167 V 71.891667 h 2.03334 v 4.1 h 3.14583 v 2.033334 h -3.14583 v 4.583333 c 0,0.541667 0.17916,0.954167 0.52083,1.225 0.4875,0.358333 1.36667,0.520833 2.625,0.520833 v 2.033334 z"
            />
            <path
              d="m 208.24167,78.004167 c -1.2625,0 -2.14167,0.179167 -2.62917,0.520834 -0.35833,0.270833 -0.52083,0.666666 -0.52083,1.225 v 6.616666 h -2.03334 v -6.616666 c 0,-2.516667 1.72917,-3.775 5.2,-3.775 v 2.029166 z"
            />
            <path
              d="m 219.66667,81.170834 c 0,3.454167 -1.62083,5.195833 -4.84167,5.195833 -3.2375,0 -4.85833,-1.725 -4.85833,-5.195833 0,-3.470833 1.62083,-5.216667 4.85833,-5.216667 3.22084,0.02083 4.84167,1.745834 4.84167,5.216667 z m -2.05417,0 c 0,-1.0625 -0.17916,-1.816667 -0.52083,-2.283333 -0.42917,-0.595834 -1.1875,-0.883334 -2.26667,-0.883334 -1.07916,0 -1.83333,0.2875 -2.26666,0.883334 -0.35834,0.466666 -0.52084,1.241666 -0.52084,2.283333 0,1.0625 0.17917,1.816667 0.52084,2.283333 0.43333,0.575 1.1875,0.8625 2.26666,0.8625 1.07917,0 1.8375,-0.2875 2.26667,-0.8625 0.34167,-0.45 0.52083,-1.220833 0.52083,-2.283333 z"
            />
            <path
              d="m 237.94584,81.170834 c 0,3.470833 -1.62084,5.216667 -4.84167,5.216667 -3.2375,0 -4.85833,-1.745834 -4.85833,-5.216667 0,-3.454167 1.62083,-5.195833 4.85833,-5.195833 h 2.80833 v -4.1 h 2.03334 z m -2.05,0 v -3.145833 h -2.80834 c -1.07916,0 -1.83333,0.2875 -2.26666,0.8625 -0.35834,0.466666 -0.52084,1.241666 -0.52084,2.283333 0,1.0625 0.17917,1.816667 0.52084,2.283333 0.43333,0.591667 1.1875,0.879167 2.26666,0.879167 1.07917,0 1.83334,-0.2875 2.26667,-0.879167 0.37917,-0.45 0.54167,-1.220833 0.54167,-2.283333 z"
            />
            <path
              d="m 249.9125,86.366667 h -4.84166 c -3.2375,0 -4.85834,-1.725 -4.85834,-5.195833 0,-3.470833 1.62084,-5.216667 4.85834,-5.216667 3.22083,0 4.84166,1.745834 4.84166,5.216667 v 1.025 H 242.3 c 0.21667,1.420833 1.13334,2.1375 2.77084,2.1375 h 4.84166 z m -2.10833,-6.204166 c -0.2125,-1.4375 -1.1125,-2.158334 -2.73333,-2.158334 -1.6375,0 -2.55417,0.720834 -2.77084,2.158334 z"
            />
            <path
              d="m 268.27917,86.366667 h -4.8375 c -3.2375,0 -4.85833,-1.725 -4.85833,-5.195833 0,-3.470833 1.62083,-5.216667 4.85833,-5.216667 3.22083,0 4.8375,1.745834 4.8375,5.216667 v 1.025 h -7.60833 c 0.21666,1.420833 1.13333,2.1375 2.77083,2.1375 h 4.8375 z m -2.08333,-6.204166 c -0.21667,-1.4375 -1.11667,-2.158334 -2.7375,-2.158334 -1.6375,0 -2.55417,0.720834 -2.77084,2.158334 z"
            />
            <path
              d="M 279.05834,79.083334 H 277.025 c 0,-0.304167 -0.0917,-0.5375 -0.27083,-0.683333 -0.30417,-0.270834 -0.93333,-0.395834 -1.8875,-0.395834 -0.9375,0 -1.56667,0.125 -1.89167,0.395834 -0.17916,0.145833 -0.26666,0.379166 -0.26666,0.683333 0,0.395833 0.125,0.65 0.375,0.791667 0.27083,0.125 0.88333,0.233333 1.85416,0.2875 1.1875,0.07083 2.07084,0.254166 2.64584,0.520833 0.97083,0.504167 1.475,1.366667 1.475,2.591667 0,2.066666 -1.40417,3.1125 -4.19167,3.1125 -2.7875,0 -4.19167,-1.045834 -4.19167,-3.1125 h 2.03334 c 0,0.304166 0.0875,0.5375 0.26666,0.683333 0.30834,0.270833 0.9375,0.395833 1.89167,0.395833 0.93333,0 1.56667,-0.125 1.8875,-0.395833 0.17917,-0.145833 0.27083,-0.379167 0.27083,-0.683333 0,-0.379167 -0.125,-0.629167 -0.35833,-0.754167 -0.27083,-0.145833 -0.9,-0.254167 -1.85417,-0.308333 -1.20416,-0.07083 -2.0875,-0.25 -2.64583,-0.520834 -0.9875,-0.483333 -1.49167,-1.35 -1.49167,-2.5875 0,-2.070833 1.40417,-3.1125 4.19167,-3.1125 2.80833,-0.01667 4.19167,1.008334 4.19167,3.091667 z"
            />
            <path
              d="m 286.4,86.387501 c -3.45416,0 -5.2,-1.2625 -5.2,-3.779167 V 71.891667 h 2.03334 v 4.1 h 3.15 v 2.033334 h -3.15 v 4.583333 c 0,0.541667 0.17916,0.954167 0.52083,1.225 0.4875,0.358333 1.36667,0.520833 2.62917,0.520833 v 2.033334 z"
            />
            <path
              d="m 298.15,81.170834 c 0,3.454167 -1.62083,5.195833 -4.85833,5.195833 -3.22083,0 -4.84167,-1.725 -4.84167,-5.195833 v -5.216667 h 2.03334 v 5.216667 c 0,1.0625 0.17916,1.816667 0.52083,2.283333 0.43333,0.575 1.1875,0.8625 2.26667,0.8625 1.08333,0 1.8375,-0.2875 2.27083,-0.8625 0.35833,-0.466666 0.52083,-1.241666 0.52083,-2.283333 v -5.216667 h 2.05 v 5.216667 z"
            />
            <path
              d="m 310.07917,81.170834 c 0,3.470833 -1.62083,5.216667 -4.84167,5.216667 -3.2375,0 -4.85833,-1.745834 -4.85833,-5.216667 0,-3.454167 1.62083,-5.195833 4.85833,-5.195833 h 2.80834 v -4.1 h 2.03333 z m -2.03333,0 v -3.145833 h -2.80834 c -1.07916,0 -1.83333,0.2875 -2.26666,0.8625 -0.35834,0.466666 -0.52084,1.241666 -0.52084,2.283333 0,1.0625 0.17917,1.816667 0.52084,2.283333 0.43333,0.591667 1.1875,0.879167 2.26666,0.879167 1.07917,0 1.83334,-0.2875 2.26667,-0.879167 0.35833,-0.45 0.54167,-1.220833 0.54167,-2.283333 z"
            />
            <path
              d="m 321.93334,81.170834 c 0,3.454167 -1.61667,5.195833 -4.8375,5.195833 -3.24167,0 -4.85834,-1.725 -4.85834,-5.195833 0,-3.470833 1.61667,-5.216667 4.85834,-5.216667 3.2375,0.02083 4.8375,1.745834 4.8375,5.216667 z m -2.03334,0 c 0,-1.0625 -0.17916,-1.816667 -0.52083,-2.283333 -0.43333,-0.595834 -1.1875,-0.883334 -2.26667,-0.883334 -1.07916,0 -1.83333,0.2875 -2.26666,0.883334 -0.35834,0.466666 -0.52084,1.241666 -0.52084,2.283333 0,1.0625 0.17917,1.816667 0.52084,2.283333 0.43333,0.575 1.1875,0.8625 2.26666,0.8625 1.07917,0 1.83334,-0.2875 2.26667,-0.8625 0.34167,-0.45 0.52083,-1.220833 0.52083,-2.283333 z"
            />
          </g>
        </svg>
      </div>
      <nav class="menu">
        <a active="true" class="menu-button" href="#home">INÍCIO</a>
        <a class="menu-button" href="#services">SERVIÇOS</a>
        <a class="menu-button" href="#about">SOBRE</a>
        <a class="menu-button" href="#contacts">CONTACTOS</a>
      </nav>

      <button class="showhide-menu-button">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 32 32"
          stroke="var(--color-a)"
          stroke-width="var(--stroke-width)"
        >
          <line
            x1="0"
            y1="0"
            x2="32"
            y2="0"
            vector-effect="non-scaling-stroke"
          />
          <line
            x1="0"
            y1="16"
            x2="32"
            y2="16"
            vector-effect="non-scaling-stroke"
          />
          <line
            x1="0"
            y1="32"
            x2="32"
            y2="32"
            vector-effect="non-scaling-stroke"
          />
        </svg>
      </button>
    </div>

    <div class="overlay"></div>
  </div>
</header>
