<header>
  <nav class="menu">
    <a active="true" class="nav-button" href="#home">INÍCIO</a>
    <a class="nav-button" href="#services">SERVIÇOS</a>
    <a class="nav-button" href="#about">SOBRE</a>
    <a class="nav-button" href="#contacts">CONTACTOS</a>

    <div class="networks">
      <a
        class="network-button"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 64"
          fill="var(--color-b)"
        >
          <path
            d="m 60.46714,0 c 1.951712,0 3.533353,1.5816447 3.533353,3.5310041 V 60.467856 c 0,1.949359 -1.581641,3.533361 -3.533353,3.533361 H 44.160445 V 39.215831 h 8.318347 l 1.24457,-9.657225 h -9.562917 v -6.16865 c 0,-2.795575 0.775499,-4.702506 4.784994,-4.702506 l 5.114994,-0.0024 V 10.046155 C 53.176506,9.9306544 50.140509,9.6666541 46.607157,9.6666541 c -7.373134,0 -12.422128,4.5021479 -12.422128,12.7663009 v 7.125651 H 25.84311 v 9.657225 h 8.341919 V 64.001217 H 3.5327802 c -1.9517119,0 -3.53335284,-1.584002 -3.53335284,-3.533361 V 3.5310041 C -5.7264e-4,1.5816447 1.5810683,0 3.5327802,0 Z"
          />
        </svg>
      </a>
      <a
        class="network-button"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 64"
          version="1.1"
          xml:space="preserve"
          style="fill-rule: evenodd; clip-rule: evenodd; fill: var(--color-b)"
        >
          <path
            d="m 31.99994,5.7668463 c 8.543984,0 9.556554,0.032 12.930261,0.1851425 3.119995,0.1417141 4.813706,0.6651416 5.942846,1.1017123 1.389712,0.5142847 2.646853,1.3325689 3.677708,2.395424 1.062855,1.0308549 1.881139,2.2879959 2.395424,3.6799929 0.438856,1.12457 0.959998,2.820566 1.101712,5.940561 0.153143,3.373707 0.185143,4.386277 0.185143,12.930261 0,8.543984 -0.032,9.556554 -0.185143,12.932547 -0.141714,3.119994 -0.665141,4.813705 -1.101712,5.94056 -1.076569,2.788567 -3.284565,4.996563 -6.073132,6.073132 -1.126855,0.438856 -2.822851,0.959998 -5.942846,1.101712 -3.371422,0.153143 -4.383991,0.185143 -12.930261,0.185143 -8.54627,0 -9.558839,-0.032 -12.932547,-0.185143 -3.119994,-0.141714 -4.813705,-0.662856 -5.94056,-1.101712 C 11.737121,56.43418 10.47998,55.615896 9.4468394,54.553041 8.3839843,53.5199 7.5657001,52.262759 7.0537011,50.873047 6.6148447,49.746192 6.0937029,48.052481 5.9519888,44.932487 5.7988463,41.556494 5.7668463,40.543924 5.7668463,31.99994 c 0,-8.543984 0.032,-9.556554 0.1851425,-12.930261 C 6.0937029,15.949684 6.6148447,14.255973 7.0537011,13.129118 7.5657001,11.737121 8.3839843,10.47998 9.4468394,9.4491251 10.47998,8.38627 11.737121,7.5679858 13.126833,7.0537011 14.253688,6.6171304 15.949684,6.0937029 19.069679,5.9519888 22.443386,5.7988463 23.455956,5.7668463 31.99994,5.7668463 M 31.99994,0 C 23.309671,0 22.219387,0.03657136 18.806822,0.19199964 15.398828,0.34742792 13.074261,0.88914119 11.039979,1.6799968 8.9028404,2.4845668 6.9691298,3.743993 5.3714185,5.3691328 3.743993,6.9691298 2.4845668,8.9051262 1.6799968,11.037694 0.88685548,13.074261 0.34742792,15.401114 0.19428535,18.806822 0.03657136,22.219387 0,23.309671 0,31.99994 c 0,8.690269 0.03657136,9.780553 0.19428535,13.193118 0.15314257,3.407994 0.69485584,5.732561 1.48571145,7.766843 0.80457,2.137139 2.0639962,4.070849 3.6914217,5.66856 1.5977113,1.627426 3.5314219,2.886852 5.6685605,3.691422 2.034282,0.790856 4.358849,1.332569 7.766843,1.485712 3.412565,0.155428 4.502849,0.194285 13.193118,0.194285 8.690269,0 9.782839,-0.03886 13.193118,-0.194285 3.407994,-0.153143 5.732561,-0.694856 7.769128,-1.485712 4.294849,-1.661711 7.695986,-5.062848 9.357697,-9.359982 0.793142,-2.034282 1.332569,-4.358849 1.487997,-7.766843 0.155429,-3.412565 0.192,-4.502849 0.192,-13.193118 0,-8.690269 -0.03657,-9.780553 -0.192,-13.193118 C 63.652452,15.398828 63.113025,13.074261 62.319883,11.037694 61.515313,8.9028404 60.255887,6.9691298 58.630747,5.3714185 57.03075,3.7417073 55.09704,2.4845668 52.959901,1.6799968 50.925619,0.88685548 48.601052,0.34742792 45.193058,0.19428535 41.780493,0.03657136 40.690209,0 31.99994,0 Z"
          />
          <path
            d="m 31.99994,15.567971 c -9.01484,0 -16.431969,7.417129 -16.431969,16.431969 0,9.01484 7.417129,16.431969 16.431969,16.431969 9.01484,0 16.431969,-7.417129 16.431969,-16.431969 0,-9.01484 -7.417129,-16.431969 -16.431969,-16.431969 z m 0,27.097092 c -5.851418,0 -10.665123,-4.813705 -10.665123,-10.665123 0,-5.851418 4.813705,-10.665123 10.665123,-10.665123 5.851418,0 10.665123,4.813705 10.665123,10.665123 0,5.851418 -4.813705,10.665123 -10.665123,10.665123 z"
          />
          <circle cx="49.081051" cy="14.918829" r="3.8399928" />
        </svg>
      </a>
      <a
        class="network-button"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 64"
          style="fill-rule: evenodd; clip-rule: evenodd; fill: var(--color-b)"
        >
          <path
            d="M 57.213607,63.999656 H 6.786273 C 3.0399943,63.999656 0,60.148964 0,55.403637 V 8.596007 C 0,3.8506798 3.0399943,-1.28e-5 6.786273,-1.28e-5 h 50.427334 c 3.746279,0 6.786273,3.8506926 6.786273,8.5960198 v 46.80763 c 0,4.745327 -3.039994,8.596019 -6.786273,8.596019 z m 0.05029,-47.803598 C 50.210196,24.64442 43.154209,33.092782 36.102793,41.541143 33.43537,44.734612 29.327949,45.441055 26.29024,41.471653 L 6.7359874,16.995149 V 55.467332 H 57.263893 Z M 53.867328,8.5323113 H 9.5565535 C 16.799968,17.539458 24.143955,26.416318 31.21137,35.643504 Z"
          />
        </svg>
      </a>
      <a
        class="network-button"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 64"
          style="
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;
          "
        >
          <path
            fill="var(--color-b)"
            d="m 49.499903,38.138173 c -0.205984,-0.336441 -0.741542,-0.535558 -1.551745,-0.94066 -0.810202,-0.398235 -4.792555,-2.348216 -5.534096,-2.609129 -0.741542,-0.267779 -1.283966,-0.405101 -1.819523,0.398236 -0.535558,0.803337 -2.094169,2.609128 -2.561065,3.151553 -0.473763,0.535558 -0.947525,0.604219 -1.757728,0.205983 -0.810203,-0.398235 -3.41933,-1.249635 -6.509087,-3.98922 -2.403143,-2.1285 -4.030415,-4.758227 -4.504178,-5.561564 -0.473762,-0.803337 -0.04806,-1.235903 0.357039,-1.641004 0.363905,-0.357039 0.810203,-0.94066 1.215304,-1.407556 0.405101,-0.466897 0.542424,-0.803337 0.810203,-1.338895 0.274645,-0.535558 0.137322,-1.002455 -0.06866,-1.407557 -0.199118,-0.398235 -1.819524,-4.353125 -2.49927,-5.966665 -0.67288,-1.606674 -1.34576,-1.338895 -1.819523,-1.338895 -0.473763,0 -1.00932,-0.06866 -1.551744,-0.06866 -0.542424,0 -1.414422,0.199118 -2.16283,1.002455 -0.741541,0.803336 -2.835709,2.746451 -2.835709,6.70134 0,3.95489 2.897504,7.772457 3.302606,8.308015 0.405101,0.535558 5.602758,8.912234 13.828376,12.125582 8.232483,3.213348 8.232483,2.142232 9.715566,2.011776 1.483083,-0.137323 4.792556,-1.943114 5.465436,-3.817567 0.686612,-1.874453 0.686612,-3.481127 0.480629,-3.817567 z"
          />
          <path
            d="M 6.5270413,46.37239 C 3.8577328,41.809544 2.327626,36.500049 2.327626,30.836186 2.327626,13.817125 16.144738,2.2476e-5 33.163812,2.2476e-5 c 17.019073,0 30.836185,13.817102524 30.836185,30.836163524 0,17.019061 -13.817112,30.836438 -30.836185,30.836438 -5.663868,0 -10.973366,-1.530381 -15.536216,-4.199687 L 5.051e-5,63.999923 Z m 3.9074037,1.446871 0.684565,-1.849038 -0.995531,-1.701522 C 7.8159572,40.323665 6.4940767,35.733073 6.4940767,30.836186 c 0,-14.719233 11.9504913,-26.6694411 26.6697353,-26.6694411 14.719243,0 26.66946,11.9502081 26.66946,26.6694411 0,14.719507 -11.950217,26.669715 -26.66946,26.669715 -4.896892,0 -9.487487,-1.321879 -13.432251,-3.6294 l -1.701797,-0.99553 -10.9741903,4.063434 c 2.747e-4,0 3.3788713,-9.125144 3.3788713,-9.125144 z"
            style="stroke-width: var(--stroke-width)"
          />
        </svg>
      </a>
    </div>
  </nav>
  <div class="container">
    <button class="menu-button">
      <svg width="64" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
        <path
          d="M -7.0927737e-5,3.9249621e-4 H 64.000127 V 12.000976 H -7.0927737e-5 Z"
        />
        <path
          d="M -7.0927737e-5,26.000412 H 64.000127 V 38.000996 H -7.0927737e-5 Z"
        />
        <path
          d="M -7.0927737e-5,52.000412 H 64.000127 V 64.000996 H -7.0927737e-5 Z"
        />
      </svg>
    </button>

    <div class="logo">
      <svg width="100%" height="80%" viewBox="0 0 128 128">
        <g id="face">
          <path
            id="outline"
            style="
              fill: none;
              stroke: var(--color-b);
              stroke-width: var(--stroke-width);
            "
            d="m 95.184065,37.725312 c 4.839405,5.696564 9.726395,12.451383 16.564095,18.373107 4.35002,3.767688 18.57598,4.510718 14.17837,10.830226 l -5.9609,8.578619 c -0.79524,1.148319 2.74596,9.591843 1.57009,10.357389 -8.56412,5.553962 -18.0934,8.826296 -27.942134,10.207281 -8.509742,1.200857 22.280304,7.632946 28.893704,2.169048 3.67713,-3.039669 -3.01783,24.857728 -24.4893,28.212628 -20.200444,1.70371 -35.853748,-9.05146 -46.722022,-23.25909 -1.957512,1.25339 -3.296505,2.16154 -5.66863,2.16154 -4.948157,0 -9.481702,-4.09793 -9.481702,-9.554318 0,-1.823801 0.305861,-3.06969 0.822427,-4.780911"
          />
          <g id="eye">
            <path
              id="ball"
              d="m 87.143315,66.470629 c 3.683932,0 6.688169,-3.872751 6.688169,-8.616123 0,-4.74337 -3.004237,-8.616122 -6.688169,-8.616122 -3.683929,0 -6.688169,3.872752 -6.688169,8.616122 0,4.743372 3.00424,8.616123 6.688169,8.616123 z"
              style="
                fill: none;
                stroke: var(--color-b);
                stroke-width: var(--stroke-width);
              "
            />
            <path
              fill="var(--color-b)"
              d="m 89.060047,54.867384 c 0.99235,0 1.794386,-0.833092 1.794386,-1.861323 0,-1.028231 -0.808833,-1.861322 -1.794386,-1.861322 -0.992351,0 -1.794387,0.833091 -1.794387,1.861322 -0.0067,1.028231 0.802036,1.861323 1.794387,1.861323 z"
              id="iris"
            />
          </g>
        </g>
        <path
          d="m 99.002817,25.448865 c 0,-4.603625 -2.881894,-6.369025 -4.513155,-6.973337 l -0.700082,1.459853 c 1.3254,0.549989 2.902285,2.084532 3.092599,3.978943 -3.187754,-0.930231 -5.179252,1.894411 -5.179252,4.583253 0,1.819723 0.910786,3.333894 2.922674,3.333894 2.990646,0.0067 4.377216,-3.136982 4.377216,-6.382606 z M 97.065696,25.25874 c 0,2.675263 -0.761256,5.038186 -2.236188,5.038186 -0.870004,0 -1.175866,-0.774061 -1.175866,-2.009842 0,-1.697501 1.121492,-3.748084 3.412054,-3.028344 z"
          style="fill: var(--color-a)"
          id="hair34"
        />
        <path
          d="m 76.220665,29.305589 c 0,-4.603625 -2.881894,-6.369026 -4.513153,-6.973336 l -0.700084,1.45985 c 1.3254,0.549991 2.902285,2.084532 3.092599,3.978945 -3.187754,-0.930231 -5.179253,1.894412 -5.179253,4.583254 0,1.819722 0.910787,3.333893 2.922677,3.333893 2.99744,0.0067 4.377214,-3.136984 4.377214,-6.382606 z m -1.930323,-0.190125 c 0,2.675263 -0.761256,5.038186 -2.236188,5.038186 -0.870005,0 -1.175867,-0.774061 -1.175867,-2.009843 -0.0067,-1.697502 1.114695,-3.748083 3.412055,-3.028343 z"
          style="fill: var(--color-a)"
          id="hair33"
        />
        <g id="g5253">
          <path
            id="hair32C"
            style="fill: var(--color-a)"
            d="m 14.391231,62.948711 0.609072,-1.872616 1.893914,0.614747 -0.609071,1.872615 z"
          />
          <path
            id="hair32B"
            style="fill: var(--color-a)"
            d="m 17.818854,64.063436 0.609072,-1.872617 1.893913,0.614746 -0.609072,1.872617 z"
          />
          <path
            id="hair32A"
            style="fill: var(--color-a)"
            d="m 21.251346,65.179799 0.609269,-1.872616 1.893915,0.614946 -0.609269,1.872616 z"
          />
        </g>
        <path
          d="m 29.444267,20.899561 c 1.230243,0.706161 2.059466,1.595652 2.49447,2.654893 0.401017,0.99134 0.380627,1.874041 -0.06798,2.641312 -0.394222,0.685791 -0.992349,1.052452 -1.801184,1.09998 0.0067,0.645052 -0.231096,1.391952 -0.720473,2.240704 -1.148679,1.982681 -2.453689,2.553042 -3.921823,1.70429 -0.570942,-0.33271 -0.944771,-0.774061 -1.114695,-1.32405 -0.237891,-0.801222 -0.02719,-1.772192 0.632115,-2.919703 0.380627,-0.665421 0.550549,-1.161091 0.489378,-1.487012 -0.02719,-0.190125 -0.149538,-0.339501 -0.360237,-0.46851 -0.224298,-0.129006 -0.42141,-0.156172 -0.59813,-0.08827 -0.312658,0.115432 -0.659301,0.502461 -1.046726,1.16788 -0.387422,0.672212 -0.557346,1.174673 -0.496175,1.500592 0.02719,0.190125 0.149538,0.346291 0.373832,0.4753 l -0.829225,1.439483 c -1.468135,-0.848752 -1.631261,-2.261074 -0.48258,-4.243755 0.659301,-1.133931 1.393367,-1.799351 2.208998,-1.996262 0.564144,-0.129006 1.135085,-0.02717 1.712824,0.305551 l 2.949862,1.70429 c 0.802037,0.461722 1.3254,0.482091 1.576886,0.06112 0.203908,-0.353082 0.163125,-0.801222 -0.122343,-1.358002 -0.326251,-0.645051 -0.897193,-1.201831 -1.69923,-1.663552 -1.406962,-0.80801 -2.895487,-1.00492 -4.465576,-0.58394 -1.576885,0.420979 -2.766347,1.330841 -3.575179,2.736372 -0.808833,1.405532 -1.005943,2.892542 -0.584535,4.461034 0.421408,1.575281 1.332196,2.763533 2.739158,3.571543 1.406963,0.808012 2.895488,1.004922 4.465577,0.58394 1.576884,-0.420979 2.766346,-1.33084 3.575179,-2.736372 l 0.414612,-0.71974 1.440947,0.828382 -0.414611,0.71974 c -1.039931,1.799351 -2.576034,2.967233 -4.601515,3.510433 -2.01189,0.53641 -3.915027,0.28518 -5.71621,-0.753691 -1.801184,-1.038871 -2.970254,-2.559832 -3.514007,-4.569674 -0.543754,-2.023423 -0.292267,-3.938203 0.747661,-5.737556 1.039928,-1.799351 2.569236,-2.967233 4.58792,-3.496852 2.011889,-0.543201 3.921822,-0.298761 5.723007,0.74011 z m -1.420556,5.846196 -0.02719,-0.01365 -0.944771,-0.5432 c -0.09515,0.509251 -0.319455,1.059242 -0.659301,1.649971 -0.387425,0.672212 -0.557349,1.174673 -0.50977,1.493802 0.02719,0.190125 0.149537,0.346291 0.373831,0.4753 0.224298,0.129006 0.421409,0.156172 0.598128,0.08827 0.312658,-0.115432 0.666099,-0.509251 1.053524,-1.181462 0.380627,-0.665421 0.550549,-1.161091 0.489377,-1.487012 -0.02719,-0.196912 -0.149537,-0.35987 -0.37383,-0.482089 z"
          style="fill: var(--color-a)"
          id="hair31"
        />
        <path
          d="m 64.638714,41.086249 c -2.949861,-0.46851 -6.008475,-1.602441 -8.672868,-3.829564 -2.644001,-2.213541 -4.309248,-5.044974 -5.267612,-7.849247 l -1.141883,0.353082 c 1.135086,4.488193 2.548846,6.986916 5.063706,9.091818 2.51486,2.104902 5.240423,3.082663 9.862328,3.415373 z"
          style="fill: var(--color-a)"
          id="hair30"
        />
        <path
          d="M 57.243667,18.40084 H 53.92677 l 1.665246,2.878961 -1.726418,0.991342 -1.644854,-2.885753 -1.672043,2.885753 -1.706026,-0.991342 1.651651,-2.878961 h -3.323695 v -1.969102 h 3.323695 l -1.651651,-2.878963 1.706026,-0.991341 1.672043,2.885752 1.644854,-2.885752 1.726418,0.991341 -1.665246,2.878963 h 3.316897 z"
          style="fill: var(--color-a)"
          id="hair29"
        />
        <path
          d="m 64.625121,26.338356 c 0.502973,0.991341 0.693287,1.894412 0.570942,2.709212 -0.06116,0.454931 -0.292267,1.004922 -0.693285,1.649972 -0.278674,0.45493 -0.428208,0.801221 -0.448598,1.03887 -0.04758,0.38024 0.08835,0.875913 0.401019,1.493802 l -1.760403,0.896282 c -0.523363,-1.025292 -0.720473,-1.941944 -0.598128,-2.756742 0.06797,-0.475303 0.30586,-1.038873 0.70688,-1.697504 0.265079,-0.44814 0.414611,-0.78764 0.441799,-1.01171 0.04078,-0.35987 -0.08836,-0.835171 -0.387425,-1.419111 -0.360236,-0.706161 -0.788442,-1.106771 -1.291414,-1.195041 -0.407816,-0.07469 -0.965162,0.06791 -1.67884,0.427771 -0.70688,0.35987 -1.155476,0.72653 -1.332196,1.09998 -0.224298,0.45493 -0.15633,1.032082 0.210706,1.745032 l -1.773997,0.90307 c -0.468987,-0.92344 -0.632113,-1.79935 -0.489377,-2.620942 0.197112,-1.174671 1.026333,-2.138853 2.487672,-2.885753 1.468134,-0.746901 2.73236,-0.84875 3.799477,-0.319129 0.754459,0.373449 1.366181,1.018501 1.835168,1.941941 z m 1.624463,10.40908 -1.760401,0.89628 -0.897193,-1.758611 1.760402,-0.89628 z"
          style="fill: var(--color-a)"
          id="hair28"
        />
        <path
          d="m 45.253901,59.500747 h -7.911615 v -1.969102 h 7.911615 z m 0,5.024605 H 37.342286 V 62.55625 h 7.911615 z"
          style="fill: var(--color-a)"
          id="hair27"
        />
        <path
          d="m 31.517326,89.55118 c -1.3186,1.56849 -2.813923,1.833299 -4.479169,0.78764 l -0.625316,0.746901 -1.338993,-1.120352 0.625316,-0.746901 c -1.298212,-1.466641 -1.291415,-2.980812 0.02038,-4.542514 l 1.338994,1.12035 c -0.638911,0.760482 -0.713676,1.453062 -0.224298,2.070953 l 2.433297,-2.892542 c -0.489379,-0.794431 -0.774849,-1.473432 -0.849615,-2.050583 -0.122344,-0.835171 0.122343,-1.609232 0.72727,-2.328972 1.311805,-1.561701 2.800332,-1.833302 4.479169,-0.80801 l 0.570942,-0.679001 1.338993,1.12035 -0.584534,0.692582 c 1.318602,1.45985 1.325398,2.974022 0.0067,4.542514 l -1.338993,-1.12035 c 0.625315,-0.746901 0.700082,-1.439483 0.210703,-2.084533 l -2.392515,2.845012 c 0.482582,0.801222 0.761254,1.493802 0.836021,2.084533 0.108756,0.848749 -0.142744,1.636392 -0.754459,2.362923 z M 30.463805,83.542023 32.48249,81.13836 c -0.70688,-0.35987 -1.372979,-0.162958 -2.005092,0.577152 -0.407815,0.48888 -0.407815,1.09998 -0.01367,1.826511 z m -0.285472,4.888805 c 0.435003,-0.516041 0.455394,-1.147511 0.06118,-1.901202 l -2.066264,2.457981 c 0.700082,0.387031 1.366181,0.196912 2.00509,-0.556779 z"
          style="fill: var(--color-a)"
          id="hair26"
        />
        <path
          d="m 14.769719,74.391231 -1.182665,-0.957392 c -0.428206,0.529622 -1.033133,0.549991 -1.903137,-0.149385 L 7.2931072,69.733281 7.9727991,68.89132 6.8241184,67.961089 l -5.6346456,6.952967 1.1486788,0.930231 0.6932869,-0.855543 6.7969194,5.499905 1.2642271,-1.561701 -6.7969199,-5.499905 1.7196205,-2.118481 4.4791694,3.625863 c 1.651651,1.337632 2.779941,1.29689 4.275264,-0.5432 z"
          style="fill: var(--color-a)"
          id="hair25"
        />
        <path
          d="m 31.041542,48.657107 -1.801183,-1.038871 0.876802,-1.514171 1.801185,1.038871 z m -3.581975,-2.064162 -1.780794,-1.032082 0.876802,-1.514171 1.780794,1.032082 z m 0.700083,9.662179 c -0.346644,0.604309 -0.849616,0.977761 -1.495323,1.120352 -0.937975,0.196911 -2.107045,-0.108646 -3.514007,-0.916652 -2.460486,-1.419111 -3.242131,-2.899333 -2.344938,-4.447455 0.346643,-0.60431 0.849616,-0.97776 1.495322,-1.12035 0.937976,-0.196912 2.113843,0.108645 3.534398,0.930231 0.822428,0.4753 1.427353,0.692579 1.814778,0.65863 0.224298,-0.01365 0.394222,-0.135792 0.523363,-0.35987 0.13593,-0.23086 0.156331,-0.44814 0.05437,-0.65184 -0.163124,-0.353081 -0.652506,-0.767272 -1.474932,-1.242573 -0.836021,-0.482089 -1.447743,-0.706159 -1.835168,-0.665419 -0.224298,0.01365 -0.40102,0.135792 -0.536958,0.373449 l -1.780792,-1.03208 c 0.890397,-1.548122 2.569236,-1.609232 5.02972,-0.190125 1.406963,0.808012 2.256577,1.670343 2.555642,2.580202 0.197112,0.631471 0.122343,1.249362 -0.224299,1.853672 z m -1.780794,-1.032081 0.591332,-1.018501 c -0.61852,-0.149385 -1.291415,-0.43456 -2.018685,-0.855542 -0.836021,-0.482089 -1.440947,-0.706159 -1.821574,-0.679001 -0.224298,0.01365 -0.401019,0.135793 -0.536958,0.373452 -0.13593,0.23086 -0.156331,0.44814 -0.05437,0.65184 0.163125,0.35308 0.659302,0.76727 1.495322,1.249362 0.822426,0.4753 1.427353,0.692579 1.814778,0.65863 0.217501,-0.02036 0.39422,-0.142598 0.530159,-0.38024 z"
          style="fill: var(--color-a)"
          id="hair24"
        />
        <path
          d="m 18.875056,81.792338 -1.950716,-0.305552 1.576887,-9.960939 1.950716,0.305551 z m -0.611722,3.870303 -1.950715,-0.305551 0.305861,-1.948732 1.950716,0.305551 z"
          style="fill: var(--color-a)"
          id="hair23"
        />
        <path
          d="m 44.411083,51.115089 -2.501266,-3.204883 2.501266,-3.218463 -1.08071,-0.85554 -2.290562,2.974021 -2.31775,-2.953651 -1.060319,0.83517 2.480876,3.218463 -2.480876,3.204883 1.060319,0.848751 2.31775,-2.974023 2.290562,2.974023 z"
          style="fill: var(--color-a)"
          id="hair22"
        />
        <path
          d="m 13.661819,46.755905 v -0.780851 h -1.746807 l 0.6593,-2.729582 h -1.27782 L 10.6168,45.975054 H 8.5301457 L 9.1894471,43.245472 H 7.9116255 l -0.679692,2.729582 h -1.937121 v 0.780851 h 1.767199 l -0.4282057,1.738242 h -1.937123 v 0.780849 H 6.4434913 L 5.7162207,52.22865 h 1.2778216 l 0.7272706,-2.967233 h 2.107045 L 9.1010874,52.22865 h 1.2778196 l 0.727271,-2.967233 h 1.937123 v -0.774061 h -1.746809 l 0.428206,-1.738241 h 1.937121 z m -3.242129,0 -0.4282076,1.738242 H 7.9048299 l 0.4282058,-1.738242 z"
          style="fill: var(--color-a)"
          id="hair21"
        />
        <path
          d="m 67.044824,9.9744414 -0.79524,-1.378371 -5.369566,0.862331 3.425648,-4.2233851 -0.79524,-1.3783711 -4.180104,5.690026 0.700082,1.2154108 z"
          style="fill: var(--color-a)"
          id="hair20"
        />
        <path
          d="m 46.069531,29.319169 -1.937121,-3.109822 1.937121,-3.130194 -1.026335,-0.889491 c -0.210703,0.3395 -2.317748,3.673394 -2.521656,4.019685 0.210703,0.339498 2.317748,3.693762 2.521656,4.019683 z m -3.187754,0 -1.916733,-3.109822 1.916733,-3.130194 -1.005945,-0.889491 c -0.224298,0.3395 -2.310953,3.673394 -2.521658,4.019685 0.210705,0.339498 2.29736,3.693762 2.521658,4.019683 z"
          style="fill: var(--color-a)"
          id="hair19"
        />
        <path
          d="m 46.844381,36.482626 -0.645709,0.76048 c -0.734066,0.862331 -1.556494,1.290101 -2.467281,1.290101 -0.618519,0 -1.406963,-0.25123 -2.372125,-0.76048 -0.70688,-0.36666 -1.196257,-0.549991 -1.461336,-0.549991 -0.319456,0 -0.645709,0.2037 -0.985555,0.60431 l -0.625315,0.760482 -1.515713,-1.290101 0.645706,-0.740112 c 0.747661,-0.862331 1.576885,-1.290101 2.487672,-1.290101 0.618521,0 1.406963,0.25123 2.372125,0.760482 0.693286,0.366658 1.175868,0.549989 1.440948,0.549989 0.319455,0 0.645706,-0.203701 0.985552,-0.60431 l 0.645708,-0.76048 z"
          style="fill: var(--color-a)"
          id="hair18"
        />
        <path
          d="M 7.211543,63.22846 H 4.59473 v 2.614152 H 2.6168259 V 63.22846 H 1.0903137e-5 V 61.259358 H 2.6168259 V 58.638416 H 4.59473 v 2.620942 h 2.616813 z"
          style="fill: var(--color-a)"
          id="hair17"
        />
        <path
          style="fill: var(--color-a)"
          d="M 9.3651913,31.374429 8.2065766,32.967435 21.161555,42.370607 22.32017,40.777601 Z"
          id="hair16"
        />
        <path
          d="m 21.906484,68.083314 1.814776,-0.77406 1.386572,3.238834 3.43924,0.801219 -0.455391,1.921572 -4.411203,-1.025292 z"
          style="fill: var(--color-a)"
          id="hair15"
        />
        <g id="hair14">
          <path
            id="hair14C"
            style="fill: var(--color-a)"
            d="m 37.517124,53.922597 0.609073,-1.872618 1.893914,0.614747 -0.609072,1.872617 z"
          />
          <path
            id="hair14B"
            style="fill: var(--color-a)"
            d="m 40.944599,55.037328 0.609072,-1.872616 1.893915,0.614747 -0.609072,1.872616 z"
          />
          <path
            id="hair14A"
            style="fill: var(--color-a)"
            d="m 44.374258,56.145595 0.609072,-1.872616 1.893914,0.614747 -0.609071,1.872615 z"
          />
        </g>
        <path
          d="m 80.373584,9.3769201 h -3.316898 l 1.672044,2.8789629 -1.726418,0.984552 -1.651651,-2.878963 -1.672042,2.878963 -1.706027,-0.984552 1.651651,-2.8789629 H 70.30055 V 7.4010297 h 3.323693 l -1.651651,-2.8789631 1.706027,-0.9845519 1.672042,2.8789631 1.651651,-2.8789631 1.726418,0.9845519 -1.672044,2.8789631 h 3.316898 z"
          style="fill: var(--color-a)"
          id="hair13"
        />
        <path
          d="m 87.755038,17.314437 c 0.502972,0.991342 0.693287,1.894413 0.570941,2.709214 -0.06116,0.45493 -0.292267,1.004919 -0.693285,1.649971 -0.278674,0.454931 -0.428205,0.80122 -0.448598,1.038871 -0.04757,0.38024 0.08836,0.87591 0.40102,1.493801 l -1.760404,0.89628 c -0.523361,-1.025289 -0.720473,-1.941941 -0.598127,-2.756742 0.06798,-0.4753 0.30586,-1.038871 0.70688,-1.697502 0.265079,-0.44814 0.41461,-0.78764 0.441798,-1.01171 0.04078,-0.35987 -0.08836,-0.83517 -0.387424,-1.419111 -0.360237,-0.706161 -0.79524,-1.10677 -1.291415,-1.195042 -0.407815,-0.07469 -0.965162,0.06791 -1.678839,0.42777 -0.706878,0.359872 -1.155477,0.726531 -1.332196,1.099982 -0.224298,0.454931 -0.156331,1.03208 0.210705,1.745032 l -1.773997,0.903071 c -0.468986,-0.923441 -0.632113,-1.799353 -0.489377,-2.620942 0.197112,-1.174671 1.026334,-2.138853 2.487672,-2.885754 1.468134,-0.746901 2.732361,-0.84875 3.799478,-0.319131 0.761256,0.373452 1.366181,1.018501 1.835168,1.941942 z m 1.624463,10.402291 -1.760402,0.89628 -0.897192,-1.758611 1.760401,-0.89628 z"
          style="fill: var(--color-a)"
          id="hair12"
        />
        <path
          d="m 68.383817,50.476828 h -7.911614 v -1.969102 h 7.911614 z m 0,5.017816 h -7.911614 v -1.969102 h 7.911614 z"
          style="fill: var(--color-a)"
          id="hair11"
        />
        <path
          d="m 53.410204,66.976543 c -1.318602,1.568492 -2.813925,1.833301 -4.479169,0.787642 l -0.625318,0.746901 -1.338993,-1.120352 0.625318,-0.746901 c -1.298213,-1.466641 -1.291415,-2.980812 0.0204,-4.542514 l 1.338993,1.120351 c -0.63891,0.760481 -0.713677,1.453061 -0.224298,2.070952 l 2.433296,-2.892544 c -0.489377,-0.794429 -0.774847,-1.473429 -0.849614,-2.050581 -0.122343,-0.83517 0.122344,-1.609232 0.727271,-2.328972 1.311805,-1.561701 2.80033,-1.833302 4.479169,-0.80801 l 0.570942,-0.679001 1.338993,1.12035 -0.584535,0.692582 c 1.318601,1.459851 1.325399,2.974022 0.0067,4.542514 L 55.5104,61.768608 c 0.625318,-0.746901 0.700083,-1.439481 0.210705,-2.084532 l -2.385719,2.845014 c 0.482582,0.801219 0.761256,1.493801 0.836021,2.084532 0.101963,0.841961 -0.149537,1.629601 -0.761254,2.362921 z m -1.053521,-6.015945 2.018683,-2.403663 c -0.706878,-0.35987 -1.372977,-0.162959 -2.00509,0.577152 -0.407815,0.488879 -0.414613,1.09998 -0.01367,1.826511 z m -0.29227,4.888804 c 0.435004,-0.51604 0.455394,-1.14751 0.06118,-1.901202 l -2.066264,2.457984 c 0.70688,0.387028 1.372977,0.2037 2.00509,-0.556782 z"
          style="fill: var(--color-a)"
          id="hair10"
        />
        <path
          d="m 37.899635,65.367311 -1.182664,-0.957389 c -0.428206,0.529619 -1.033133,0.549989 -1.903138,-0.149386 l -4.390809,-3.551173 0.679692,-0.841961 -1.148681,-0.930231 -5.634646,6.952967 1.148679,0.930231 0.693287,-0.855541 6.796919,5.499906 1.264227,-1.561702 -6.796919,-5.499905 1.71962,-2.118481 4.479169,3.625862 c 1.651654,1.330842 2.779942,1.296891 4.275264,-0.543201 z"
          style="fill: var(--color-a)"
          id="hair09"
        />
        <path
          d="m 56.591163,43.564602 -1.801184,-1.03887 0.876802,-1.514173 1.801184,1.038872 z m -3.581976,-2.064162 -1.780794,-1.03208 0.876804,-1.514173 1.780792,1.032082 z m 0.70688,9.662179 c -0.346644,0.60431 -0.849616,0.977761 -1.495323,1.12035 -0.937975,0.196911 -2.107045,-0.108646 -3.514007,-0.91665 -2.460486,-1.419111 -3.242131,-2.899333 -2.344938,-4.447453 0.346643,-0.604312 0.849616,-0.977761 1.495322,-1.120352 0.937976,-0.196912 2.113842,0.108646 3.534398,0.930231 0.822428,0.4753 1.427353,0.69258 1.814778,0.658631 0.224298,-0.01365 0.394222,-0.135792 0.523363,-0.35987 0.13593,-0.230861 0.156331,-0.44814 0.05437,-0.651841 -0.163125,-0.353081 -0.652506,-0.767272 -1.474932,-1.242572 -0.836021,-0.48209 -1.447743,-0.70616 -1.835168,-0.66542 -0.224298,0.01365 -0.40102,0.135792 -0.536958,0.373449 l -1.780784,-1.025289 c 0.890397,-1.548122 2.569236,-1.609232 5.02972,-0.190125 1.406963,0.80801 2.256577,1.670341 2.555641,2.580202 0.197112,0.631471 0.122344,1.249362 -0.224298,1.853672 z m -1.787592,-1.03208 0.591332,-1.018501 c -0.618518,-0.149386 -1.291414,-0.434561 -2.018685,-0.855543 -0.836021,-0.482089 -1.440946,-0.706159 -1.821573,-0.679 -0.224298,0.01365 -0.401018,0.135792 -0.536956,0.373451 -0.135931,0.230861 -0.156331,0.44814 -0.05437,0.65184 0.163124,0.353082 0.659301,0.767271 1.495322,1.249362 0.822428,0.4753 1.427353,0.69258 1.814777,0.658631 0.217501,-0.02036 0.394223,-0.142599 0.530159,-0.38024 z"
          style="fill: var(--color-a)"
          id="hair08"
        />
        <path
          d="m 42.01177,72.761629 -1.950716,-0.305551 1.576887,-9.960939 1.950716,0.305551 z m -0.61852,3.877092 -1.950714,-0.305549 0.30586,-1.948732 1.950716,0.305549 z"
          style="fill: var(--color-a)"
          id="hair07"
        />
        <path
          d="m 71.537588,46.076905 -2.501267,-3.198094 2.501267,-3.225254 -1.080709,-0.85554 -2.29736,2.980814 -2.310952,-2.960444 -1.060319,0.83517 2.480874,3.225254 -2.480874,3.198094 1.060319,0.85554 2.310952,-2.974023 2.29736,2.974023 z"
          style="fill: var(--color-a)"
          id="hair06"
        />
        <path
          d="m 36.791737,37.731986 v -0.78085 h -1.753606 l 0.659302,-2.729584 h -1.271024 l -0.679692,2.729584 h -2.086655 l 0.659302,-2.729584 h -1.277822 l -0.679692,2.729584 h -1.937121 v 0.78085 h 1.767199 l -0.428206,1.738243 h -1.937123 v 0.78085 h 1.746809 l -0.727271,2.953653 h 1.277822 l 0.72727,-2.967233 h 2.107045 l -0.72727,2.967233 h 1.27782 l 0.72727,-2.967233 h 1.937123 v -0.774061 h -1.746808 l 0.428205,-1.738241 h 1.937123 z m -3.24213,0 -0.428206,1.738243 h -2.086655 l 0.428206,-1.738243 z"
          style="fill: var(--color-a)"
          id="hair05"
        />
        <path
          d="M 94.959772,6.1177171 94.164533,4.739346 88.794966,5.6084676 92.220614,1.3782939 91.418579,-7.909597e-5 87.24527,5.6899469 87.945352,6.9053574 Z"
          style="fill: var(--color-a)"
          id="hair04"
        />
        <path
          d="m 69.199448,20.28846 -1.937121,-3.109823 1.937121,-3.130192 -1.026336,-0.889491 c -0.210703,0.3395 -2.317748,3.673394 -2.521655,4.019683 0.210703,0.3395 2.317748,3.693763 2.521655,4.019685 z m -3.187755,0 -1.916732,-3.109823 1.916732,-3.130192 -1.005945,-0.889491 c -0.224298,0.3395 -2.310952,3.673394 -2.521655,4.019683 0.210703,0.3395 2.297357,3.693763 2.521655,4.019685 z"
          style="fill: var(--color-a)"
          id="hair03"
        />
        <path
          d="m 56.822257,1.9147038 -0.0067,0.9981312 C 56.808857,4.0399756 56.45532,4.895516 55.755238,5.4862467 55.279453,5.8868565 54.5114,6.1991984 53.451081,6.430057 52.669436,6.6065889 52.180057,6.7763479 51.976149,6.9460991 51.73146,7.1497992 51.609117,7.516458 51.609117,8.0460793 l 0.0067,0.9845499 L 49.62432,9.0169772 49.6447,8.0392159 C 49.665081,6.9052842 50.018532,6.0429552 50.718615,5.4590131 51.194399,5.0584033 51.962451,4.7460634 53.02277,4.5152028 53.790821,4.3522443 54.280201,4.1824931 54.484108,4.012742 54.728797,3.8090418 54.85114,3.4423811 54.85114,2.9127618 l 0.0067,-0.9981312 z"
          style="fill: var(--color-a)"
          id="hair02"
        />
        <path
          d="m 19.595531,55.773032 h -2.623612 v 2.614154 h -1.971107 v -2.614154 h -2.616813 v -1.969101 h 2.616813 v -2.614152 h 1.971107 v 2.614152 h 2.623612 z"
          style="fill: var(--color-a)"
          id="hair01"
        />
      </svg>
    </div>

    <div class="networks">
      <a
        class="network-button"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 64"
          fill="var(--color-b)"
        >
          <path
            d="m 60.46714,0 c 1.951712,0 3.533353,1.5816447 3.533353,3.5310041 V 60.467856 c 0,1.949359 -1.581641,3.533361 -3.533353,3.533361 H 44.160445 V 39.215831 h 8.318347 l 1.24457,-9.657225 h -9.562917 v -6.16865 c 0,-2.795575 0.775499,-4.702506 4.784994,-4.702506 l 5.114994,-0.0024 V 10.046155 C 53.176506,9.9306544 50.140509,9.6666541 46.607157,9.6666541 c -7.373134,0 -12.422128,4.5021479 -12.422128,12.7663009 v 7.125651 H 25.84311 v 9.657225 h 8.341919 V 64.001217 H 3.5327802 c -1.9517119,0 -3.53335284,-1.584002 -3.53335284,-3.533361 V 3.5310041 C -5.7264e-4,1.5816447 1.5810683,0 3.5327802,0 Z"
          />
        </svg>
      </a>
      <a
        class="network-button"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 64"
          version="1.1"
          xml:space="preserve"
          style="fill-rule: evenodd; clip-rule: evenodd; fill: var(--color-b)"
        >
          <path
            d="m 31.99994,5.7668463 c 8.543984,0 9.556554,0.032 12.930261,0.1851425 3.119995,0.1417141 4.813706,0.6651416 5.942846,1.1017123 1.389712,0.5142847 2.646853,1.3325689 3.677708,2.395424 1.062855,1.0308549 1.881139,2.2879959 2.395424,3.6799929 0.438856,1.12457 0.959998,2.820566 1.101712,5.940561 0.153143,3.373707 0.185143,4.386277 0.185143,12.930261 0,8.543984 -0.032,9.556554 -0.185143,12.932547 -0.141714,3.119994 -0.665141,4.813705 -1.101712,5.94056 -1.076569,2.788567 -3.284565,4.996563 -6.073132,6.073132 -1.126855,0.438856 -2.822851,0.959998 -5.942846,1.101712 -3.371422,0.153143 -4.383991,0.185143 -12.930261,0.185143 -8.54627,0 -9.558839,-0.032 -12.932547,-0.185143 -3.119994,-0.141714 -4.813705,-0.662856 -5.94056,-1.101712 C 11.737121,56.43418 10.47998,55.615896 9.4468394,54.553041 8.3839843,53.5199 7.5657001,52.262759 7.0537011,50.873047 6.6148447,49.746192 6.0937029,48.052481 5.9519888,44.932487 5.7988463,41.556494 5.7668463,40.543924 5.7668463,31.99994 c 0,-8.543984 0.032,-9.556554 0.1851425,-12.930261 C 6.0937029,15.949684 6.6148447,14.255973 7.0537011,13.129118 7.5657001,11.737121 8.3839843,10.47998 9.4468394,9.4491251 10.47998,8.38627 11.737121,7.5679858 13.126833,7.0537011 14.253688,6.6171304 15.949684,6.0937029 19.069679,5.9519888 22.443386,5.7988463 23.455956,5.7668463 31.99994,5.7668463 M 31.99994,0 C 23.309671,0 22.219387,0.03657136 18.806822,0.19199964 15.398828,0.34742792 13.074261,0.88914119 11.039979,1.6799968 8.9028404,2.4845668 6.9691298,3.743993 5.3714185,5.3691328 3.743993,6.9691298 2.4845668,8.9051262 1.6799968,11.037694 0.88685548,13.074261 0.34742792,15.401114 0.19428535,18.806822 0.03657136,22.219387 0,23.309671 0,31.99994 c 0,8.690269 0.03657136,9.780553 0.19428535,13.193118 0.15314257,3.407994 0.69485584,5.732561 1.48571145,7.766843 0.80457,2.137139 2.0639962,4.070849 3.6914217,5.66856 1.5977113,1.627426 3.5314219,2.886852 5.6685605,3.691422 2.034282,0.790856 4.358849,1.332569 7.766843,1.485712 3.412565,0.155428 4.502849,0.194285 13.193118,0.194285 8.690269,0 9.782839,-0.03886 13.193118,-0.194285 3.407994,-0.153143 5.732561,-0.694856 7.769128,-1.485712 4.294849,-1.661711 7.695986,-5.062848 9.357697,-9.359982 0.793142,-2.034282 1.332569,-4.358849 1.487997,-7.766843 0.155429,-3.412565 0.192,-4.502849 0.192,-13.193118 0,-8.690269 -0.03657,-9.780553 -0.192,-13.193118 C 63.652452,15.398828 63.113025,13.074261 62.319883,11.037694 61.515313,8.9028404 60.255887,6.9691298 58.630747,5.3714185 57.03075,3.7417073 55.09704,2.4845668 52.959901,1.6799968 50.925619,0.88685548 48.601052,0.34742792 45.193058,0.19428535 41.780493,0.03657136 40.690209,0 31.99994,0 Z"
          />
          <path
            d="m 31.99994,15.567971 c -9.01484,0 -16.431969,7.417129 -16.431969,16.431969 0,9.01484 7.417129,16.431969 16.431969,16.431969 9.01484,0 16.431969,-7.417129 16.431969,-16.431969 0,-9.01484 -7.417129,-16.431969 -16.431969,-16.431969 z m 0,27.097092 c -5.851418,0 -10.665123,-4.813705 -10.665123,-10.665123 0,-5.851418 4.813705,-10.665123 10.665123,-10.665123 5.851418,0 10.665123,4.813705 10.665123,10.665123 0,5.851418 -4.813705,10.665123 -10.665123,10.665123 z"
          />
          <circle cx="49.081051" cy="14.918829" r="3.8399928" />
        </svg>
      </a>
      <a
        class="network-button"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 64"
          style="fill-rule: evenodd; clip-rule: evenodd; fill: var(--color-b)"
        >
          <path
            d="M 57.213607,63.999656 H 6.786273 C 3.0399943,63.999656 0,60.148964 0,55.403637 V 8.596007 C 0,3.8506798 3.0399943,-1.28e-5 6.786273,-1.28e-5 h 50.427334 c 3.746279,0 6.786273,3.8506926 6.786273,8.5960198 v 46.80763 c 0,4.745327 -3.039994,8.596019 -6.786273,8.596019 z m 0.05029,-47.803598 C 50.210196,24.64442 43.154209,33.092782 36.102793,41.541143 33.43537,44.734612 29.327949,45.441055 26.29024,41.471653 L 6.7359874,16.995149 V 55.467332 H 57.263893 Z M 53.867328,8.5323113 H 9.5565535 C 16.799968,17.539458 24.143955,26.416318 31.21137,35.643504 Z"
          />
        </svg>
      </a>
      <a
        class="network-button"
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          x="0px"
          y="0px"
          viewBox="0 0 1000 1000"
          enable-background="new 0 0 1000 1000"
          xml:space="preserve"
        >
          <metadata>
            Svg Vector Icons : http://www.onlinewebfonts.com/icon
          </metadata>
          <g>
            <g>
              <path
                id="WhatsApp"
                d="M990,487.4c0,263.7-215.4,477.4-481.1,477.4c-84.4,0-163.6-21.6-232.6-59.4L10,990l86.8-256.1c-43.8-71.9-69-156.3-69-246.5C27.8,223.7,243.2,10,508.9,10C774.6,10,990,223.7,990,487.4z M508.9,86c-223,0-404.5,180-404.5,401.4c0,87.8,28.6,169.1,77.1,235.3l-50.5,149.1l155.4-49.4c63.9,41.9,140.4,66.4,222.5,66.4c223,0,404.5-180,404.5-401.3C913.4,266.1,731.9,86,508.9,86z M751.8,597.3c-3-4.9-10.8-7.8-22.6-13.7c-11.8-5.8-69.8-34.2-80.6-38c-10.8-3.9-18.7-5.9-26.5,5.8c-7.8,11.7-30.5,38-37.3,45.9c-6.9,7.8-13.8,8.8-25.6,3c-11.8-5.8-49.8-18.2-94.8-58.1c-35-31-58.7-69.3-65.6-81c-6.9-11.7-0.7-18,5.2-23.9c5.3-5.2,11.8-13.7,17.7-20.5c5.9-6.8,7.9-11.7,11.8-19.5c4-7.8,2-14.6-1-20.5c-2.9-5.8-26.5-63.4-36.4-86.9c-9.8-23.4-19.6-19.5-26.5-19.5c-6.9,0-14.7-1-22.6-1c-7.9,0-20.6,2.9-31.5,14.6c-10.8,11.7-41.3,40-41.3,97.6c0,57.6,42.2,113.2,48.1,121c5.9,7.8,81.6,129.8,201.4,176.6c119.9,46.8,119.9,31.2,141.5,29.3c21.6-2,69.8-28.3,79.6-55.6C754.8,625.6,754.8,602.2,751.8,597.3z"
              />
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="overlay"></div>
</header>
