<div class="networks">
  <a class="network-button" href="http://fb.com">
    <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-b)">
      <path
        d="M 25.45987,64.001385 H 36.773106 V 34.806698 h 9.433935 L 47.618522,23.431459 H 36.773106 v -7.266048 c 0,-3.292905 0.879503,-5.539078 5.426718,-5.539078 l 5.800974,-0.0028 V 0.44775776 C 46.998326,0.31171024 43.555167,7.4448e-4 39.54795,7.4448e-4 c -8.361957,0 -14.08808,5.30307682 -14.08808,15.03741552 v 8.393299 h -9.460668 v 11.375239 h 9.460668 z"
      />
    </svg>
  </a>
  <a class="network-button" href="http://ig">
    <svg
      width="100%"
      height="100%"
      viewBox="-2 -2 68 68"
      fill="none"
      stroke="var(--color-b)"
    >
      <path
        vector-effect="non-scaling-stroke"
        stroke-width="var(--stroke-width)"
        d="
            M 32,6e-5 
            C 23.309731,6e-5 22.219447,0.03663136 18.806882,0.19205964 15.398888,0.34748792 13.074321,0.88920119 11.040039,1.6800568 8.9029004,2.4846268 6.9691898,3.744053 5.3714785,5.3691928 3.744053,6.9691898 2.4846268,8.9051862 1.6800568,11.037754 0.88691548,13.074321 0.34748792,15.401174 0.19434535,18.806882 0.03663136,22.219447 6e-5,23.309731 6e-5,32 c 0,8.690269 0.03657136,9.780553 0.19428535,13.193118 0.15314257,3.407994 0.69485584,5.732561 1.48571145,7.766843 0.80457,2.137139 2.0639962,4.070849 3.6914217,5.66856 1.5977113,1.627426 3.5314219,2.886852 5.6685605,3.691422 2.034282,0.790856 4.358849,1.332569 7.766843,1.485712 3.412565,0.155428 4.502849,0.194285 13.193118,0.194285 8.690269,0 9.782839,-0.03886 13.193118,-0.194285 3.407994,-0.153143 5.732561,-0.694856 7.769128,-1.485712 4.294849,-1.661711 7.695986,-5.062848 9.357697,-9.359982 0.793142,-2.034282 1.332569,-4.358849 1.487997,-7.766843 0.155429,-3.412565 0.192,-4.502849 0.192,-13.193118 0,-8.690269 -0.03657,-9.780553 -0.192,-13.193118 C 63.652512,15.398888 63.113085,13.074321 62.319943,11.037754 61.515373,8.9029004 60.255947,6.9691898 58.630807,5.3714785 57.03081,3.7417673 55.0971,2.4846268 52.959961,1.6800568 50.925679,0.88691548 48.601112,0.34748792 45.193118,0.19434535 41.780553,0.03663136 40.690269,6e-5 32,6e-5 Z"
      />
      <path
        vector-effect="non-scaling-stroke"
        stroke-width="var(--stroke-width)"
        d="m 32.00006,18.000058 c -7.680624,0 -14.000002,6.319378 -14.000002,14.000002 0,7.680624 6.319378,14.000002 14.000002,14.000002 7.680624,0 14.000002,-6.319378 14.000002,-14.000002 0,-7.680624 -6.319378,-14.000002 -14.000002,-14.000002 z"
      />
      <path
        fill="var(--color-b)"
        d="m 52.921101,14.918889 a 3.8399928,3.8399928 0 0 1 -3.839993,3.839993 3.8399928,3.8399928 0 0 1 -3.839993,-3.839993 3.8399928,3.8399928 0 0 1 3.839993,-3.839993 3.8399928,3.8399928 0 0 1 3.839993,3.839993 z"
      />
    </svg>
  </a>
  <a class="network-button" href="http://mail">
    <svg
      width="100%"
      height="100%"
      class="inner-stroke"
      viewBox="-1.5 -1.5 68 68"
      fill="none"
      stroke="var(--color-b)"
      stroke-width="var(--stroke-width)"
    >
      <path
        vector-effect="non-scaling-stroke"
        d="M 57.213667,55.999841 H 6.786333 C 3.0400543,55.999841 6e-5,53.111825 6e-5,49.552835 v -35.10567 c 0,-3.55899 3.0399943,-6.4470056 6.786273,-6.4470056 h 50.427334 c 3.746279,0 6.786273,2.8880156 6.786273,6.4470056 v 35.10567 c 0,3.55899 -3.039994,6.447006 -6.786273,6.447006 z"
      />
      <path
        vector-effect="non-scaling-stroke"
        d="M 59.524281,8.0002622 32.000301,33.393538 4.4763201,8.0002622"
      />
    </svg>
  </a>
  <a class="network-button" href="http://wapp">
    <svg width="100%" height="100%" viewBox="0 0 64 64">
      <path
        fill="var(--color-b)"
        d="m 48.400584,37.834875 c -0.193761,-0.316475 -0.697537,-0.503777 -1.45966,-0.884838 -0.762123,-0.374603 -4.508153,-2.208866 -5.205689,-2.454295 -0.697537,-0.251888 -1.207772,-0.381061 -1.711548,0.374603 -0.503776,0.755664 -1.969895,2.454295 -2.409085,2.96453 -0.445648,0.503777 -0.891296,0.568363 -1.653419,0.19376 -0.762123,-0.374603 -3.216419,-1.175478 -6.122821,-3.752488 -2.260535,-2.002188 -3.791241,-4.475859 -4.236889,-5.231523 -0.445648,-0.755666 -0.04521,-1.162562 0.335851,-1.543624 0.34231,-0.33585 0.762124,-0.884837 1.143185,-1.324027 0.381062,-0.43919 0.510235,-0.755664 0.762124,-1.259441 0.258347,-0.503777 0.129173,-0.942966 -0.06459,-1.324027 -0.187301,-0.374604 -1.711547,-4.094799 -2.350956,-5.612586 -0.63295,-1.51133 -1.2659,-1.259441 -1.711548,-1.259441 -0.445648,0 -0.949425,-0.06459 -1.45966,-0.06459 -0.510234,0 -1.330486,0.187302 -2.034481,0.942966 -0.697537,0.755664 -2.667432,2.583468 -2.667432,6.303663 0,3.720195 2.72556,7.311216 3.106622,7.814993 0.381062,0.503777 5.270275,8.383356 13.007764,11.406014 7.743948,3.022658 7.743948,2.015106 9.13902,1.892391 1.395073,-0.129174 4.508153,-1.827805 5.141103,-3.591021 0.645867,-1.763218 0.645867,-3.274547 0.452106,-3.591022 z"
      />
      <path
        fill="none"
        stroke="var(--color-b)"
        stroke-width="var(--stroke-width)"
        vector-effect="non-scaling-stroke"
        d="M 7.9776903,45.580498 C 5.4667875,41.288423 4.0274822,36.294006 4.0274822,30.966252 c 0,-16.009107 12.9971598,-29.0062668 29.0062668,-29.0062668 16.009106,0 29.006265,12.9971598 29.006265,29.0062668 0,16.009106 -12.997159,29.006524 -29.006265,29.006524 -5.327756,0 -10.322171,-1.439564 -14.614247,-3.950467 L 1.8380326,62.161967 Z"
      />
    </svg>
  </a>
</div>
