<div class="promo-card">
  <div class="item">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/na-ponta-da-lingua.appspot.com/o/media%2Fnpdl05.webp?alt=media&token=84421923-b80b-41c7-b6b2-6dc9a2f81757"
      alt="..."
      loading="lazy"
    />
  </div>
  <div class="container">
    <h2>Promoção de Verão</h2>
    <p>
      Recomende a um amigo e ambos recebem um vale de 10€ para usar na
      mensalidade
    </p>
    <span>(promoção valida até 31 de julho)</span>
    <button>Inscreva-se já!</button>
  </div>
</div>
