:root {
  --color-a: #009fc1;
  --color-b: #50596a;
  --color-c: #ededed;

  --max-width: 800px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  display: flex;
  background-color: white;
  justify-content: center;
}

body {
  display: block;
  max-width: var(--max-width);
  margin: 0 auto;
  flex: 1;
  background-color: var(--color-c);
}

header {
}
